// Header CSS 


.header {
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* Note: backdrop-filter has minimal browser support */
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.10);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 15;
	border-radius: 0 0 1.25rem 1.25rem;
	padding: 0.5rem;
	@media only screen and (min-width:1199px) {
		flex-wrap: nowrap;
		height: 4.5rem;
		border-radius: 0;
	}
}



.website-logo {
	display: block;
	padding: 0 1rem;
	.logo-dark {
		display: block;
	}
	.logo-white {
		display: none;
	}
}

.custom-select {
	-webkit-appearance: none;
}


/* Search Widget */

.search-pane {
	background: #fff;
	flex: 0 0 100%;
	padding: 0.5rem 1rem;
	order: 4;
	@media only screen and (min-width:1199px) {
		border: none;
		background-color: transparent;
		flex: 0 0 440px;
		order: 0;
		max-width: 440px;
		margin-left: 1rem;
		margin-right: auto;
	}
	@media only screen and (min-width:1499px) { 
		flex: 0 0 640px;
		max-width: 640px;
	}
}

/* Hide Search form on mobile */

@media only screen and (max-width: 1199px) {
	.search-pane {
		align-items: center;
		display: flex;
		position: absolute;
		top: 0;
		left:0;
		z-index: 15;
		width: 100%;
		height: 100%;
		transform: translateY(-100%);
		transition: all 0.3s ease-in-out;
		.search-field {
			border-radius: 10px;
		}
		&.search-visible {
			transform: translateY(0);
		}
	}
}

.header-controls {
	display: flex;
}

.search-toggle-btn {
	border: none;
	background: transparent;
	display: none;
	margin-left: 1.25rem;
	outline: none !important;
	padding: 0.5rem;
	cursor: pointer;
	font-size: 1.5rem;
	@media only screen and (max-width: 1199px) {
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		color: $gray-600;
	}
}

.header-control {
	cursor: pointer;
	height: 2.5rem;
	min-width: 2.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 11px;
	font-weight: 600;
	display: flex;
	&:hover {
		background: $gray-200;
	}
}

.search-pane {
	form.search-form {
		display: flex;
		position: relative;
		width: 100%;
		.search-icon {
			display: block;
			position: absolute;
			top: 6px;
			left: 0.75rem;
			width: 1.125rem;
			height: 1.125rem;
			font-size: 1.25rem;
			opacity: 0.5;
			img {
				width: 100%;
			}
		}
		.custom-select {
			border-radius: 0 0.5rem 0.5rem 0;
			flex: 0 0 40%;
		}
		.search-field {
			border-radius: 0.5rem 0 0 0.5rem;
			border-right: none;
			flex-grow: 3;
			padding-left: 2.25rem;
		}
	}
	.search-toggle-btn {
		font-size: 0.75rem;
	}
}


/* end Search Widget */


.user-controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	.header-control {
		display: flex;
		&:hover {
			background: $blue-light;
			color: $blue-dark;
		}
	}
	@media only screen and (min-width: 1200px) {
		width: auto;
	}
}


.notification-btn {
	margin-left: 1.25rem;
	border: none;
	background: transparent;
	display: flex;
	outline: none !important;
	padding: 0.5rem;
	border-radius: 2rem;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: $gray-500;
	@media only screen and (min-width:1200px) {
		margin-right: 2rem;
		margin-left: auto;
	}
	.indicator {
		background: $red;
		width: 10px;
		height: 10px;
		border-radius: 1rem;
		position: absolute;
		top: 2px;
		right: 2px;
		border: 1px solid #fff;
		display: none;
	}
	&:hover {
		background: $gray-200;
	}
	&.active {
		background: $blue-light;
		color: $blue;
		svg g {
			fill: $blue;
		}
		.indicator {
			display: block;
		}
	}
}

@media only screen and (max-width: 360px) {
	.search-toggle-btn, .notification-btn {
		margin-left: 0.25rem;
	}
}

.user-pro {
	box-shadow: 0 0 0 1px theme-color('warning');
	border: 1px solid transparent;
}

.user-menu {
	align-items: flex-end;
	display: flex;
	position: relative;
	margin-right: 0.5rem;
	.user-points {
		order: 1;
		margin-right: 4px;
		border-radius: 10px 10px 4px 10px;
	}
	.user-avatar {
		order: 2;
		border-radius: 1rem 1rem 1rem 0.25rem;
	}
	
	.badge-pro {
		position: absolute;
		right: 2.75rem;
		top: 0;
	}
	@media only screen and (min-width: 992px) {
		margin-right: 1rem;
	}
	@media only screen and (min-width: 1200px) {
		margin-left: auto;
		margin-right: 2rem;
	}
}

.mobile-menu-btn {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	flex: 0 0 2.5rem;
	font-size: 1.75rem;
	color: $gray-500;
	@media only screen and (min-width:961px) {
		display: none;
	}
}

.btn-upload {
	align-items: center;
	display: flex;
	font-size: 0.75rem;
	font-weight: 500;
	justify-content: center;
	height: 2.5rem;
	padding: 10px 12px;
	position: relative;
	user-select: none;
	border-radius: 1rem 0.25rem 1rem 1rem;
	.badge-gold {
		margin-left: 4px;
	}
	.ui-icon {
		g {
			fill: #ffffff;
		}
	}
	@media only screen and (min-width:1199px) {
		border-radius: 0.5rem;
		font-size: 1rem;
		flex: 0 0 20rem;
		height: 3rem;
		margin-right: 0rem;
	}
}

