.template-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.template-grid-item {
	padding: 4px;
	flex: 0 0 100%;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	color: $gray-800;
	width: 100%;
	img {
		width: 100%;
		border-radius: 2px;
	}
	.template-grid-item-img {
		border: 1px solid $gray-300;
		border-radius: 4px;
		padding: 2px;
		margin-bottom: 0.5rem;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.template-tags {
		span:not(:last-child) {
			margin-right: 8px;
		}
	}
	.template-grid-item-blank {
		border: 1px solid $gray-300;
		border-radius: 4px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $gray-600;
		position: relative;
		padding: 1rem;
	}
	&-content {
		margin-top: auto;
		color: $gray-600;
		text-overflow: ellipsis;
		width: 100%;
		max-width: 100%;
		display: block;
		position: relative;
		span {
			text-overflow: ellipsis;
			width: 100%;
		}
	}
	&-overlay {
		position: absolute;
		left: 2px;
		right: 2px;
		top: 2px;
		bottom: 2px;
		border-radius: 2px;
		display: none;
		background: rgba(0,0,0,0.7);
	}
	&:hover {
		color: $blue;
		.template-grid-item-blank {
			border: 1px solid $blue;
			color: $gray-900;
			background: $gray-100;
		}
		.template-grid-item-img {
			border: 1px solid $blue;
		}
		.template-grid-item-content {
			color: $blue;
		}
	}
}



@media (min-width:480px) and (max-width:1199px) {
	.template-grid-item {
		flex: 0 0 50%;
	}
}

@media (min-width:1200px) and (max-width: 1439px) {
	.template-grid-item {
		flex: 0 0 33.333333333%;
	}
}

@media only screen and (min-width:1440px) {
	.template-grid-item {
		flex: 0 0 20%;
	}
}

.meme-builder-section {
	position: relative;
	border-radius: 4px;
	margin-bottom: 1rem;
}

@media only screen and (min-width:992px) {
	.meme-builder-section {
		margin-bottom: 0;
	}
}

.meme-builder-img {
	border-radius: 8px;
	overflow: hidden;
}

.builder-block {
	position: absolute;
	top: 15%;
	left: 30%;
	display: block;
	border: 2px dotted white;
	padding: 0.75rem 1.5rem;
	cursor: move;
	&-text {
		color: #fff;
		font-size: 48px;
		text-shadow: 0 2px 4px rgba(0,0,0,0.5);
		font-weight: 600;
		cursor: text;
		line-height: 1.125
	}
	&-controls {
		position: absolute;
		right: -1rem;
		top: -1rem;
		display: flex;
		a {
			display: flex;
			margin-left: 0.5rem;
			width: 2rem;
			height: 2rem;
			align-items: center;
			justify-content: center;
			border-radius: 1rem;
			cursor: pointer;
			box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
		}
	}  
}

.tag-grid {
	a {
		margin: 4px 2px;
	}
}

.divider {
	display: flex;
	border-top: 1px dashed $gray-400;
	position: relative;
	margin: 1.5rem 0 0.5rem;
	justify-content: center;
	span {
		position: relative;
		margin-top: -0.5rem;
		background: $gray-300;
		font-size: 0.75rem;
		font-weight: 600;
		padding: 0 1.5rem;
		text-transform: uppercase;
		text-align: center;
	}
}

.template-filter {
	display: flex;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
	.template-search {
		margin-top: 0.5rem;
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
	}
	.filter-link {
		display: block;
		font-size: 0.875rem;
		padding: 0.25rem 1rem;
		border-radius: 0.5rem;
		&.active {
			background: theme-color('primary');
			color: #fff;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.template-filter {
		flex-wrap: nowrap;
		.template-search {
			max-width: 20rem;
			margin-left: auto;
			width: 100%;
			margin-top: 0;
			.form-control {
				width: 100%;
			}
		}
	}
}


.meme-obj {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	column-gap:  4;
	&:not(:last-child) {
		border-bottom: 1px solid $gray-300;
	}
	&-icon {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex: 0 0 1.5rem;
		svg {
			g {
				fill: $gray-800;
			}
		}
	}
	.btn-settings {
		svg {
			g {
				fill: $gray-800;
			}
		}
	}
	&-control {
		flex-grow: 2;
	}
}



//* Poll Widget

.poll-widget {
	padding: 0.5rem;
}

.widget-form {
	border: 1px solid $gray-200;
	border-radius: 1rem;
	padding: 1rem 1rem;
}

.widget-question {
	font-size: 1rem;
	color: theme-color('info');
	line-height: 1.25;
	margin-bottom: 0.5rem;
}

.poll-item {
	padding: 0.25rem 0 0.125rem;
	font-size: 0.875rem;
	.custom-control {
		min-height: 1.25rem !important;
		.custom-control-label {
			&::before {
				top: 2px;
			}
			&::after {
				top: 2px;
			}
		}
		&:not(:last-child) {
			margin-bottom: 0.25rem;
		}
	}
	.custom-radio {
		min-height: 1.25rem;
	}
}
.btn.widget-btn {
	margin-top: 0.5rem;
}

