// Sidebar CSS 

a.readmore, .readmore {
	background: transparent;
	color: $blue;
	cursor: pointer;
	display: block;
	padding: 0.5rem;
	text-align: center;
	user-select: none;
	&:hover {
		background: $gray-100;
		color: $blue;
	}
}

.widget-title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 0.875rem 0 0.5rem;
	user-select: none;
}

.sidebar-footer {
	border-top: 1px solid $gray-200;
	padding: 1rem 0;
}

.sidebar-widget {
	margin-bottom: 0.5rem;
}

.nav-divider {
	display: block;
	border-top: 1px solid $gray-200;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.winner-widget {
	background: url(/images/winner-widget-bg.jpg) no-repeat;
	background-size: cover;
	padding: 1rem;
	position: relative;
	&::after {
		display: block;
		position: absolute;
		content: '';
		background: rgba(0,0,0,0.7);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	.winner-state {
		background: #F51856;
		color: #fff;
		display: flex;
		flex: 0 0 3rem;
		height: 3rem;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 3rem;
		transform: rotate(-5deg);
		text-transform: uppercase;
		font-size: 0.875rem;
	}
	.winner-info {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -0.25rem;
	}
	.winner-user {
		align-items: center;
		display: flex;
		flex-direction: column;
		.badge {
			display: inline-block;
			margin-top: -0.25rem;
		}
		.winner-crown {
			margin-bottom: -4px;
		}
	}
	img {
		width: 100%;
	}
	.winner-avatar {
		border: 2px solid #fff;
		border-radius: 2rem;
		height: 4rem;
		overflow: hidden;
		width: 4rem;
	}
	.winner-prize-img {
		border-radius: 0.25rem;
		height: 5rem;
		width: 5rem;
		overflow: hidden;
	}
	&-title {
		h4 {
			font-size: 0.75rem;
			position: relative;
			z-index: 2;
			text-transform: uppercase;
			text-align: center;
		}
	}
	.winner-name {
		color: #fff;
		font-size: 0.875rem;
		padding: 4px 0;
		font-weight: 500;
	}
	.winner-state {
		padding: 1px 2px;
		font-weight: 600;
	}
	@media only screen and (min-width: 1400px) {
		.winner-prize-img {
			flex: 0 0 7rem;
			height: 7rem;
			border-radius: 0.75rem;
		}
		.winner-state {
			flex: 0 0 5rem;
			height: 5rem;
			font-size: 0.875rem;
		}
	}
}

.leaderboard-table {
	padding-bottom: 3rem;
	.order-number {
		background: $gray-200;
		border-radius: 0 1rem 1rem 0;
		font-size: 0.6125rem;
		font-weight: 600;
		margin-right: 0.5rem;
		padding: 3px 2px;
		text-align: right;
		width: 2.125rem;
		margin-left: 0rem;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-item {
		align-items: center;
		border-bottom: 1px solid $gray-200;
		display: flex;
		padding: 0.5rem 1.25rem 0.5rem 0;
		width: 100%;
		&.bg-primary {
			.order-number {
				background: rgba(255,255,255,0.2);
			}
		}
		&:hover {
			background: $gray-100;
		}
		&.top-10 {
			background: rgba(theme-color('info'), 10%);
		}
	}
	.user-legend {
		margin-left: 0.75rem;
		.user-legend-name {
			font-size: 0.75rem;
			font-weight: 500;
		}
	}
}

.leaderboard-top {
	border-bottom: 1px solid $gray-200;
	padding-bottom: 1rem;
	.badge.badge-gold {
		padding: 2px 6px;
		height: 1.25rem;
	}
}

.leaderboard-top-name {
	font-size: 0.875rem;
	font-weight: 600;
	margin-top: 0.5rem;
	margin-bottom: 0;
	line-height: 1.25rem;
}

.leaderboard-1st {
	display: block;
	width: 240px;
	margin: auto;
	text-align: center;
	padding-top: 11px;
	background: url('../img/winner-bg.svg') top center no-repeat;
	position: relative;
	.leaderboard-1st-avatar {
		width: 6rem;
		height: 6rem;
		margin: auto;
		border-radius: 4rem;
		img {
			width: 100%;
		}
	}
	.medal-xl {
		position: absolute;
		left: 24px;
		top: 16px;
	}
}

.leaderboard-2-3 {
	display: flex;
	justify-content: space-around;
	margin-top: -0.5rem;
	&-user {
		text-align: center;
		position: relative;
	}
	.medal-lg {
		position: absolute;
		top: 0.5rem;
		left: -1rem;
	}
	.leaderboard-top-avatar {
		height: 64px;
		width: 64px;
		margin: auto;
		img {
			width: 100%;
		}
	}
	.leaderboard-top-name {
		margin-top: 0.25rem;
	}
}



.ribbon {
	position: relative;
	overflow: hidden;
	margin: auto;
	&::after, &::before {
		display: block;
		content: '';
		background: #fff;
		position: absolute;
	}
	&.ribbon-xl {
		width: 44px;
		height: 17px;
		&::after, &::before {
			width: 9px;
			height: 40px;
			bottom: -14px;
		}
		&::after {
			transform: rotate(-30deg);
			left: 15px;
			border-left: 3px solid theme-color('danger');
			border-right: 3px solid theme-color('primary');
			z-index: 1;
		}
		&::before {
			transform: rotate(30deg);
			right: 15px;
			border-right: 3px solid theme-color('danger');
			border-left: 3px solid theme-color('primary');
			z-index: 2;
		}
		span {
			width: 12px;
			height: 12px;
			border-radius: 1rem;
			display: block;
			position: absolute;
			bottom: -6px;
			left: 16px;
			z-index: 3;
		}
	}
	&.ribbon-lg {
		width: 20px;
		height: 9px;
		&::after, &::before {
			width: 6px;
			height: 24px;
			bottom: -5px;
		}
		&::after {
			transform: rotate(-30deg);
			left: 3px;
			border-left: 2px solid theme-color('danger');
			border-right: 2px solid theme-color('primary');
			z-index: 1;
		}
		&::before {
			transform: rotate(30deg);
			right: 3px;
			border-right: 2px solid theme-color('danger');
			border-left: 2px solid theme-color('primary');
			z-index: 2;
		}
		span {
			width: 8px;
			height: 8px;
			border-radius: 1rem;
			display: block;
			position: absolute;
			bottom: -4px;
			left: 6px;
			z-index: 3;
		}
	}
	&.ribbon-sm {
		width: 14px;
		height: 7px;
		&::after, &::before {
			width: 3px;
			height: 16px;
			bottom: -4px;
		}
		&::after {
			transform: rotate(-30deg);
			left: 4px;
			border-left: 1px solid theme-color('danger');
			border-right: 1px solid theme-color('primary');
			z-index: 1;
		}
		&::before {
			transform: rotate(30deg);
			right: 4px;
			border-right: 1px solid theme-color('danger');
			border-left: 1px solid theme-color('primary');
			z-index: 2;
		}
		span {
			width: 6px;
			height: 6px;
			border-radius: 1rem;
			display: block;
			position: absolute;
			bottom: -3px;
			left: 4px;
			z-index: 3;
		}
	}
}

.medal-xl {
	display: block;
	user-select: none;
	width: 64px;
	height: 80px;
	.medal-circle {
		background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
		border: 2px solid #E0BD57;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
		border-radius: 10rem;
		display: block;
		width: 64px;
		height: 64px;
		margin-top: -1px;
		position: relative;
		overflow: hidden;
		z-index: 2;
		&::after {
			display: block;
			position: absolute;
			content: '';
			width: 60px;
			height: 60px;
			left: 0;
			top: 0;
			border: 2px solid #FCDA4E;
			border-radius: 10rem;
			box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.40);
			z-index: 3;
			background: url('../img/medal-outline.svg') center no-repeat;
		}
		&::before {
			display: block;
			content: '';
			background: rgba(255,255,255,0.2);
			width: 128px;
			height: 128px !important;
			border-radius: 128px;
			position: absolute;
			left: 12px;
			top: 12px;
			z-index: 3;
		}
	}
	.medal-content {
		display: block;
		margin: 2px;
		border-radius: 5rem;
		border: 1px solid transparent;
		width: 56px;
		height: 56px;
	}
	.medal-inset {
		margin: 3px;
		display: block;
		position: relative;
		background: url('../img/star-bg.svg') center no-repeat #222121;
		box-shadow: 0 0px 0px 4px rgba(0,0,0,0.18), inset 0 0 0 2px #FCD73A;
		width: 48px;
		height: 48px;
		border-radius: 48px;
		text-transform: uppercase;
		font-weight: 700;
		color: #FCD73A;
		text-shadow: 0 1px 1px rgba(0,0,0,0.20);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.medal-number {
			font-size: 20px;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}
		span {
			font-size: 8px;
			line-height: 1.5;
		}
	}
	&.medal-gold {
		.ribbon {
			span {
				background: #E0BD57;
			}
		}
	}
	&.medal-silver {
		.ribbon {
			span {
				background: #95A0B1;
			}
		}
	}
	&.medal-bronze {
		.ribbon {
			span {
				background: #C0782E;
			}
		}
	}
	&.medal-other {
		.ribbon {
			span {
				background: #274BAA;
			}
		}
	}
	
}

.medal-lg {
	display: block;
	user-select: none;
	width: 40px;
	height: 48px;
	.medal-circle {
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
		border-radius: 10rem;
		display: block;
		width: 40px;
		height: 40px;
		margin-top: -1px;
		position: relative;
		overflow: hidden;
		z-index: 2;
		&::after {
			display: block;
			position: absolute;
			content: '';
			width: 34px;
			height: 34px;
			left: 2px;
			top: 2px;
			border-radius: 10rem;
			box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.40);
			z-index: 3;
			background: url('../img/medal-outline.svg') center no-repeat;
			background-size: cover;
		}
		&::before {
			display: block;
			content: '';
			background: rgba(255,255,255,0.2);
			width: 80px;
			height: 80px !important;
			border-radius: 128px;
			position: absolute;
			left: 6px;
			top: 6px;
			z-index: 3;
		}
	}
	.medal-content {
		display: block;
		border-radius: 5rem;
		width: 34px;
		height: 34px;
		margin: 5px 3px;
		
	}
	.medal-inset {
		margin: 2px;
		display: block;
		position: relative;
		background: url('../img/star-bg.svg') center no-repeat #222121;
		background-size: cover;
		border: 1px solid #212020;
		width: 28px;
		height: 28px;
		border-radius: 48px;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: 0 1px 1px rgba(0,0,0,0.20);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.medal-number {
			font-size: 16px;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}
		span {
			font-size: 8px;
			line-height: 1.5;
		}
	}
	&.medal-gold {
		.medal-circle {
			background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
			border: 1px solid #E0BD57;
		}
		.ribbon {
			span {
				background: #E0BD57;
			}
		}
		.medal-inset {
			color: #FCD73A;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18), inset 0 0 0 1px #E0BD57;
		}
	}
	&.medal-silver {
		.medal-circle {
			background: linear-gradient(to bottom, #E2E7E9, #A3AAB9);
			border: 1px solid #95A0B1;
		}
		.ribbon {
			span {
				background: #95A0B1;
			}
		}
		.medal-inset {
			color: #DEE4E6;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18), inset 0 0 0 1px #95A0B1;
		}
	}
	
	&.medal-bronze {
		.medal-circle {
			background: linear-gradient(to bottom, #DC9B23, #D0701C);
			border: 1px solid #C0782E;
		}
		.ribbon {
			span {
				background: #C0782E;
			}
		}
		.medal-inset {
			color: #EDB656;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18), inset 0 0 0 1px #CC9357;
		}
	}
	&.medal-other {
		.medal-circle {
			background: linear-gradient(to bottom, #1F6EF8, #5E40E8);
			border: 1px solid #274BAA;
		}
		.ribbon {
			span {
				background: #274BAA;
			}
		}
		.medal-inset {
			color: #86ADFE;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.18), inset 0 0 0 1px #274BAA;
		}
	}
}

.medal-sm {
	display: block;
	user-select: none;
	width: 24px;
	height: 30px;
	.medal-circle {
		border-radius: 10rem;
		display: flex;
		width: 24px;
		height: 24px;
		margin-top: -1px;
		position: relative;
		overflow: hidden;
		z-index: 2;
		align-items: center;
		justify-content: center;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16), inset 0 0 0 1px rgba(255,255,255,0.30);
		&::after {
			display: block;
			position: absolute;
			content: '';
			width: 22px;
			height: 22px;
			left: 0px;
			top: 0px;
			border-radius: 10rem;
			z-index: 3;
			background: url('../img/medal-outline.svg') center no-repeat;
			background-size: cover;
		}
		&::before {
			display: block;
			content: '';
			background: rgba(255,255,255,0.2);
			width: 48px;
			height: 48px !important;
			border-radius: 128px;
			position: absolute;
			left: 4px;
			top: 4px;
			z-index: 3;
		}
		
	}
	.medal-number {
		background: url('../img/star-bg.svg') center no-repeat #222121;
		background-size: cover;
		display: flex;
		align-content: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		border-radius: 1rem;
		font-size: 11px;
		font-weight: 700;
		line-height: 18px;
	}
	&.medal-gold {
		.medal-circle {
			background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
			border: 1px solid #E0BD57;
		}
		.medal-number {
			color: #FCD73A;
		}
		.ribbon {
			span {
				background: #E0BD57;
			}
		}
	}
	&.medal-silver {
		.medal-circle {
			background: linear-gradient(to bottom, #E2E7E9, #A3AAB9);
			border: 1px solid #95A0B1;
		}
		.medal-number {
			color: #DEE4E6;
		}
		.ribbon {
			span {
				background: #95A0B1;
			}
		}
	}
	&.medal-bronze {
		.medal-circle {
			background: linear-gradient(to bottom, #DC9B23, #D0701C);
			border: 1px solid #C0782E;
		}
		.medal-number {
			color: #EDB656;
		}
		.ribbon {
			span {
				background: #C0782E;
			}
		}
	}
	&.medal-other {
		.medal-circle {
			background: linear-gradient(to bottom, #1F6EF8, #5E40E8);
			border: 1px solid #274BAA;
		}
		.medal-number {
			color: #86ADFE;
		}
		.ribbon {
			span {
				background: #274BAA;
			}
		}
	}
}


.user-legend-achievements {
	align-items: center;
	display: flex;
	span {
		display: block;
		margin-right: 4px;
		line-height: 1;
	}
	img, svg {
		height: 1rem;
		width: 1rem;
	}
}

.contest-rules {
	list-style-type: none;
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.25rem;
	border-top: 1px solid $gray-200;
	li {
		display: flex;
		align-items: center;
		padding: 0.75rem 1rem;
		border-bottom: 1px solid $gray-200;
		.badge {
			margin-left: auto;
		}
	}
	.text-emoji {
		display: block;
		text-align: center;
		width: 1rem;
		margin-right: 1rem;
	}
}


.sidebar-right  {
	background: #fff;
	width: 280px;
	height: 100vh;
	padding: 0;
	.readmore {
		font-size: 0.875rem;
	}
}

.sidebar-left {
	background: #fff;
	padding: 0;
	width: 240px;
	top: 0;
	overflow: hidden;
	padding-top: 1.5rem;
}

.nav.site-nav {
	padding-top: 2px; 
	.nav-link {
		border-right: 1px solid transparent;
		color: $gray-600;
		padding: 0.5rem 1.25rem 0.5rem;
		.text-emoji {
			margin-right: 1.25rem;
		}
		&:hover {
			background: $blue;
			color: #fff;
		}
		&.active {
			background: $gray-100;
			border-color: $gray-900;
			color: $gray-900;
			font-weight: 700;
		}
	}
}

.nav-section-title {
	font-size: 0.75rem;
	font-weight: 600;
	margin-top: 0.5rem;
	padding: 1rem 1.25rem 0.5rem;
	text-transform: uppercase;
}

.sidebar-inner {
	margin-right: -1rem;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	pointer-events: all;
	padding-right: 1px;
}


// Sidebar Positioining

.mobile-offcanvas {
	display:block;
	position: fixed;
	top: 0;
	z-index: 999;
	height: 100%;
	height: 100vh;
	overflow: hidden;
	transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	visibility: hidden;
	&.sidebar-left {
		left: 0;
		transform:translateX(-100%);
	}
	&.sidebar-right {
		right: 0;
		transform:translateX(100%);
	}
	&.show {
		visibility: visible;
		transform: translateX(0);
	}
}

// Responsive tweaks //



@media only screen and (min-width: 740px) {
	// Show Right Sidebar
	.page {
		padding-right: 280px;
	}
	.mobile-offcanvas {
		&.sidebar-right {
			visibility: visible;
			transform: translateX(0);
			width: 280px;
			z-index: 2;
			padding-top: 3.5rem;
		}
	}
}

@media (min-width:961px) and (max-width: 1299px) {
	.page {
		padding-left: 180px;
	}
	.mobile-offcanvas {
		&.sidebar-left {
			font-size: 0.75rem;
			width: 180px;
			padding-top: 3.5rem;
		}
	}
	.nav.site-nav {
		padding-top: 2px; 
		.nav-link {
			.text-emoji {
				margin-right: 0.5rem;
			}
		}
	}
}

@media only screen and (min-width: 1300px) {
	.page {
		padding-left: 240px;
	}
	.mobile-offcanvas {
		&.sidebar-left {
			width: 240px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.mobile-offcanvas {
		&.sidebar-left {
			padding-top: 4.5rem;
		}
		&.sidebar-right {
			padding-top: 4.5rem;
		}
	}
}

@media only screen and (min-width:961px) {
	.mobile-offcanvas {
		z-index: 4;
		&.sidebar-left {
			transform: translateX(0);
			visibility: visible;
			z-index: 4;
		}
	}
}

@media (min-width: 1400px) {
	.page {
		padding-right: 360px;
	}
	.mobile-offcanvas {
		padding-top: 4.5rem;
		&.sidebar-left {
		}
		&.sidebar-right {
			width: 360px;
		}
	}
}

.my-stats {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 5;
}


/* Referal Box */

.referral-box {
	background: #fff;
	padding: 0.75rem 1rem;
}


.theme-switcher {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 500;
	justify-content: center;
	.theme-light {
		display: none;
	}
	.theme-dark {
		display: flex;
	}
	a {
		background: $gray-200;
		border-radius: 2rem;
		display: flex;
		padding: 0.5rem;
		margin: 0 2px;
		align-items: center;
		color: $gray-600;
		width: 100%;
		justify-content: center;
		img {
			margin-right: 4px;
		}
		&:hover {
			background: $gray-300;
			color: $dark;
		}
	}
}
