
.tour-item {
	display: block;
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0 0px 0px 8px rgba(0,0,0,0.2);
	position: relative;
	/* Position can be changed to Absolute */
	color: #0D0D0D;
	width: 15rem;
	text-align: center;
	line-height: 1.25;
	font-size: 0.875rem;
	span {
		font-size: 0.75rem;
	}
	&-order {
		position: absolute;
		right: 1rem;
		top: 1.25rem;
	}
	&-skip {
		font-weight: 500;
	}
	&-controls {
		display: flex;
		width: 100%;
		border-radius: 0 0 1rem 1rem;
		overflow: hidden;
		background: #F4F4F4;
		font-size: 0.75rem;
		text-transform: uppercase;
		a {
			user-select: none;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.75rem 0;
			flex: 1;
			&.tour-prev {
				background: transparent;
				color: #5a5a5a;
				&:hover {
					background: rgba(0,0,0,0.05);
				}
			}
			&.tour-next {
				background: theme-color('primary');
				color: #fff;
				&:hover {
					background: darken(theme-color('primary'), 5%);
				}
			}
		}
	}
}


.coin-tiny {
	align-items: center;
	height: 1.5rem;
	width: 1.5rem;
	line-height: 1.5;
	font-size: 1rem;
	display: flex;
	font-weight: 700;
	justify-content: center;
	border-radius: 3rem;
	position: relative;
	text-align: center;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	z-index: 1;
	&::before {
		border: 2px solid rgba(0,0,0,0.1);
		position: absolute;
		border-radius: 3rem;
		content: '';
		display: block;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0; 
	}
	&::after {
		background-image: radial-gradient(
			circle,
			#FFFFFF,
			#FFD138,
			#F8A910
		);
		content: '';
		position: absolute;
		width: 100%;
		height: 250%;
		top: -150%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	span {
		color: #7D5F0C;
		display: block;
		text-shadow: 0 1px 2px rgba(0,0,0,0.24);
	}
}

@keyframes coin-spin {
	0%		{ transform: rotateY(0deg) scale(1); }
	33%	{ transform: rotateY(-360deg) scale(1.33); }
	100%	{ transform: rotateY(-360deg) scale(1); }
}

@keyframes coin-pulse {
	0%		{ transform:  translateY(0px) scale(1); }
	25%	{ transform:  translateY(-3px) scale(1.25); }
	50%	{ transform: translateY(2px) scale(0.9); }
	75%	{ transform: translateY(-5px) scale(1.15); }
	100%	{ transform:  translateY(0px) scale(1); }
}

.coin-tiny {
	animation: coin-pulse 2s;
	animation-iteration-count: infinite;
}