
.text-xs {
	font-size: $font-size-xs !important;
}

.text-md {
	font-size: $font-size-md !important;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 700;
	font-weight: 500;
}

.fw-600 {
	font-weight: 700;
	font-weight: 600;
}

.bg-primary-light {
	background: lighten($blue, 40%);
}

@media only screen and (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
}

.bg-blue-light {
	background: $blue-light;
}

@media only screen and (max-width: 360px) {
	.hidden-xxs {
		display: none;
	}
}

.bg-success-light {
	background: rgba(theme-color('success'), 20%);
}


.bg-danger-light {
	background: rgba(theme-color('danger'), 20%);
}