// Neutral Gray Palette
//
$gray-100: #F5F7FA;
$gray-200: #E4E7EB;
$gray-300: #CBD2D9;
$gray-400: #9AA5B1;
$gray-500: #7B8794;
$gray-600: #616E7C;
$gray-700: #52606D;
$gray-800: #323F4B;
$gray-900: #1F2933;


// Style Overrides
$dark: $gray-900;
$blue: #016CEF;
//$blue: #2184FE;
$red: #EF4E4E;
$yellow: #EFB818;
//$green: #27AB83;
$green: #03927B;

$link-hover-decoration: none;
$input-btn-focus-width: 0;

$font-weight-bold: 600;
$btn-font-weight: 500;

$border-radius:               .5rem;
$border-radius-lg:            .75rem;
$border-radius-sm:            .5rem;

$modal-content-border-width: 0;
$modal-inner-padding: 1.5rem;
$modal-header-padding-x: 1.5rem;
$modal-backdrop-opacity: 0.8;
$modal-lg:  640px;

$border-color: $gray-200;
$hr-border-color: $gray-200;
$input-border-color: $gray-300;

$card-border-width: 0;

$table-hover-bg: $gray-100;

// Override Typography
$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 							1rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base * 0.875;


$font-size-xs: 0.75rem;
$font-size-md: 0.875rem;



// Additional Variables
$blue-light: lighten($blue, 40%);
$blue-lightest: lighten($blue, 75%);
$blue-dark: darken($blue, 15%);
$blue-darkest: darken($blue, 42%);

$close-text-shadow: none;
