// Meme Feed

.meme-feed {
	img {
		filter: brightness(0.9);
	}
}

// Meme Card

.meme-card {
	background: $gray-200;
	box-shadow: 0 1px 2px -1px rgba(0,0,0,0.10), 0 2px 8px -2px rgba(0,0,0,0.10);
}

.meme-card-header {
	border-bottom: 1px solid $gray-300;
	.meme-card-title {
		a {
			color: $gray-800;
			font-weight: 500;
			&:hover {
				color: $blue;
			}
		}
	}
}

.meme-card-author {
	.name-value {
		color: $gray-700;
	}
	&:hover {
		.name-value {
			color:  $yellow;
		}
	}
}


.meme-card-legend {
	border-bottom: 1px solid $gray-200;
	.ui-icon g {
		fill: $gray-500;
	}
}



/* Meme Card Footer and Controls */

.meme-card-footer {
	position: relative;
	a.meme-fn-btn {
		background: $gray-300;
		&:hover {
			background: theme-color('danger');
			color: #fff;
		}
	}
	.btn-stack-label {
		color: $gray-600;
	}
}

.vote-btn-group {
	.btn {
		&.btn-success {
			background: linear-gradient(180deg, #27AB83 0%, #16946D 100%);
			&:hover {
				box-shadow: 0px 0px 0px 4px rgba(39,171,131,0.3)
			}
		}
		&.btn-danger {
			background: linear-gradient(180deg, #EF4E4E 0%, #CA2F2F 100%);
			&:hover {
				box-shadow: 0px 0px 0px 4px rgba(239,78,78,0.3)
			}
		}
	}
}

.vote-counter {
	span.votes {
		color: $gray-800;
		background: $gray-300;
	}
}

.meme-card-tagline {
	border-top: 1px solid $gray-300;
}

.report-btn {
	.ui-icon g {
		fill: $gray-500;
	}
	&:hover {
		background: $red;
		.ui-icon g {
			fill: white;
		}
	}
}



/* Share Buttons */

/* Meme Card Footer and Controls */

.meme-card-footer {
	.btn-stack-label {
		display: flex;
		align-items: center;
		font-size: 0.75rem;
		text-transform: uppercase;
		color: $gray-600;
		margin-bottom: 0.25rem;
		font-weight: 600;
		justify-content: flex-start;
		.badge {
			margin-left: 0.25rem;
		}
	}
	.vote-btn-stack {
		.btn-stack-label {
			justify-content: flex-end;
		}
	}
}

.vote-btn-stack {
	text-align: right;
	display: block;
	margin-top: 0;
	justify-content: flex-end;
	width: auto;
}

.share-btn-group {
	display: flex;
	.btn {
		margin-right: 2px;
		border-radius: 1rem;
		padding: 4px !important;
		height: 32px;
		width: 32px;
		flex: 0 0 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		&.dropdown-toggle {
			flex: 0 0 48px;
			width: 48px;
			color: $gray-900;
			border: 1px solid $gray-300;
			background: $gray-200;
			&:hover {
				border: 1px solid theme-color('primary');
				color: theme-color('primary');
			}
			&:active, &:focus, &:focus-within {
				background: $gray-100;
			}
		}
	}
}

.vote-btn-group {
	display: flex;
	justify-content: flex-end;
	.btn {
		margin-left: 2px;
		border-radius: 1rem;
		padding: 6px 1.5rem;
		width: 40px;
		height: 32px;
		flex: 0 0 40px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			margin-top: -4px;
		}
		&.btn-success {
			background: linear-gradient(180deg, #27AB83 0%, #16946D 100%);
			&:hover {
				box-shadow: 0px 0px 0px 4px rgba(39,171,131,0.5)
			}
		}
		&.btn-danger {
			background: linear-gradient(180deg, #EF4E4E 0%, #CA2F2F 100%);
			&:hover {
				box-shadow: 0px 0px 0px 4px rgba(239,78,78,0.5)
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.vote-btn-group {
		.btn {
			padding: 6px 0.5rem;
			width: 36px;
		}
	}
}

.share-btn-stack {
	@media only screen and (min-width:1200px) { 
		.btn-stack-label {
			justify-content: flex-start;
		}
	}
}

.market-btn-group {
	.btn {
		padding-left: 0;
		padding-right: 0;
		min-width: 44px;
		&.btn-buy {
			margin-right: 2px;
			border-radius: 1rem 0.25rem 0.25rem 1rem;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
		&.btn-sell {
			border-radius: 0.25rem 1rem 1rem 0.25rem;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}
}

.btn-buy {
	background: rgba(theme-color('success'), 20%);
	color: theme-color('success');
	&:hover {
		background: theme-color('success');
		color: #fff;
	}
}
.btn-sell {
	background: rgba(theme-color('danger'), 20%);
	color: theme-color('danger');
	&:hover {
		background: theme-color('danger');
		color: #fff;
	}
}

.invest-summary-dl {
	margin: 0;
	color: #fff;
	dd {
		font-size: 1.25rem;
	}
}


.meme-card-controls {
	.badge-gold {
		border-radius: 10px 10px 10px 4px;
	}
	.share-btn-stack, .vote-btn-stack {
		.btn-group {
			width: 100%;
		}
	}
}



.meme-card-tagline {
	border-top: 1px solid $gray-300;
}

.report-btn {
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	color: $gray-600;
	.ui-icon g {
		fill: $gray-500;
	}
	&:hover {
		background: $red;
		color: #fff;
		.ui-icon g {
			fill: white;
		}
	}
}

.meme-tag {
	display: inline-block;
	padding: 4px 8px;
	color: $gray-600;
	font-size: 0.75rem;
	border-radius: 4px;
	&:hover {
		background: $gray-100;
	}
	&.meme-category {
		background: $blue-light;
		color: $blue-dark;
		font-weight: 600;
		&:hover {
			background: $blue;
			color: #fff;
		}
	}
}

@media only screen and (min-width: 992px) {
	.vote-btn-stack {
		.btn {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	.share-btn-stack {
		.btn {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}
}


/* Share Buttons */

.btn-fb {
	background: #4267B2;
	&:hover {
		background: darken(#4267B2, 10%);
	}
	&.btn-active {
		background: darken(#4267B2, 30%);
	}
}
.btn-pn {
	background: #BD081C;
	&:hover {
		background: darken(#BD081C, 10%);
	}
	&.btn-active {
		background: darken(#BD081C, 30%);
	}
}
.btn-tw {
	background: #69ACE0;
	&:hover {
		background: darken(#69ACE0, 10%);
	}
	&.btn-active {
		background: darken(#69ACE0, 30%);
	}
}
.btn-ln {
	background: #0177B5;
	&:hover {
		background: darken(#0177B5, 10%)
	}
	&.btn-active {
		background: darken(#0177B5, 30%);
	}
}
.btn-wh {
	background: #24D366;
	&:hover {
		background: darken(#24D366, 10%);
	}
	&.btn-active {
		background: darken(#24D366, 30%);
	}
}
.btn-gl {
	background: #DC4437;
	&:hover {
		background: darken(#DC4437, 10%);
	}
	&.btn-active {
		background: darken(#DC4437, 30%);
	}
}
.btn-url {
	background: $gray-700;
	&:hover {
		background: $gray-800;
	}
	&.btn-active {
		background: gray-900;
	}
}

.btn-active {
	position: relative;
	transition: all 0.2s ease-in;
	border: none;
	svg {
		opacity: 0.2;
	}
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 13px;
		height: 8px;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
		margin-top: -6px;
		margin-left: -6px;
	}
}

.btn-success.btn-active {
	background: darken($green, 20%);
	border: none;
}

.btn-danger.btn-active {
	background: darken($red, 30%);
	border: none;
}


// Meme Coin Animation

.coin {
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1rem;
	display: flex;
	font-weight: 700;
	justify-content: center;
	border-radius: 3rem;
	position: relative;
	text-align: center;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	&::before {
		border: 2px solid rgba(0,0,0,0.1);
		position: absolute;
		border-radius: 3rem;
		content: '';
		display: block;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0; 
	}
	&::after {
		background-image: radial-gradient(
			circle,
			#FFFFFF,
			#FFD138,
			#F8A910
		);
		content: '';
		position: absolute;
		width: 100%;
		height: 250%;
		top: -150%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	span {
		color: #7D5F0C;
		display: block;
		text-shadow: 0 1px 2px rgba(0,0,0,0.24);
	}
}

@keyframes coin-up {
  0%   	{ opacity: 0; transform: translateY(0);}
	25% 	{ opacity: 1; transform: translateY(-100%);}
	60% 	{ opacity: 1; transform: translateY(-100%);}
  100% 	{ opacity: 0; transform: translateY(-100%);}
}

@keyframes coin-spin {
	0%		{ transform: rotateY(0deg); }
	33%	{ transform: rotateY(720deg); }
	100%	{ transform: rotateY(720deg); }
}

.coin-up {
	opacity: 0;
	animation: 
		coin-up 2s;
	.coin {
		animation: 
			coin-spin 2s;
	}
}


/* Log In / Sign Up Forms */

.sso-login {
	display: flex;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	a.btn {
		display: block;
		flex: 0 0 100%;
		margin: 0.25rem 0;
	}
	@media only screen and (min-width: 767px) {
		a.btn {
			flex: 1 1 0;
			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}
}

.user-form {
	max-width: 480px;
	margin: auto;
}


/* Content Box */

.meme-card-alert {
	border-bottom: 1px solid $gray-200;
	.alert {
		margin-bottom: 0;
		border-radius: 2px;
	}
}

a.back-link {
	color: $gray-600;
	&:hover {
		background: $gray-200;
		color: $gray-900;
	}
}

.content-box-header {
	background: $gray-100;
}

.content-box-footer {
	border-top: 1px solid $gray-200;
}


/* Meme Upload */

.upload-rules {
	background: $gray-100;
	@media (min-width:480px) and (max-width:991px) {
		font-size: 0.875rem;
		padding: 1.25rem;
		& > div {
			flex: 0 0 50%;
		}
	}
	@media only screen and (min-width:992px) {
		justify-content: space-around;
		font-size: 1rem;
		padding: 1.5rem;
		& > div {
			flex: 0 0 50%;
		}
	}
}

.upload-form {
	max-width: 600px;
	margin: auto;
	.btn {
		font-size: 1.125rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}

.upload-drop-section {
	border: 1px dashed $gray-300;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	text-align: center;
	padding: 3rem 1.25rem;
	cursor: pointer;
	&:hover {
		border-color: $blue;
		background: $blue-lightest;
	}
}


.card {
	border-radius: 1rem;
}

.meme-feed {
	.card {
		margin-bottom: 0.5rem;
	}
	@media only screen and (min-width:740px) {
		.card {
			margin-bottom: 1rem;
		}
	}
}

.comment-item {
	&:not(:last-child) {
		margin-bottom: 1.25rem;
	}
}

.child-comment {
	padding-left: 3rem;
	.comment-body {
		font-size: 0.75rem;	
	}
}

/* User Page */

.user-card {
	box-shadow: 0 1px 2px -1px rgba(0,0,0,0.10), 0 2px 8px -2px rgba(0,0,0,0.10);
	margin-bottom: 0.5rem;
	.avatar {
		max-width: 6rem;
		margin: auto;
		img {
			width: 100%;
		}
	}
	@media only screen and (min-width:740px) {
		margin-bottom: 1rem;
	}
	.h4, h4 {
		
		a {
			color: $gray-900;
			&:hover {
				color: $blue;
			}
		}
	}
}

.user-stats-table {
	text-align: right;
	font-size: 0.875rem;
	margin-bottom: 0;
	th {
		text-align: left;
		font-weight: 600;
	}
	th, td, tr {
		vertical-align: middle;
	}
	th, td {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.meme-tag {
		margin-top: 1px;
		margin-bottom: 1px;
	}
}


.btn-url {
	background: $gray-400;
	&:hover {
		background: $gray-600;
	}
	&.btn-active {
		background: gray-900;
	}
}

.btn-active {
	svg {
		opacity: 0.2;
	}
	&::after {
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}
}

.btn-success.btn-active {
	background: darken($green, 20%);
	border: none;
}

.btn-danger.btn-active {
	background: darken($red, 30%);
	border: none;
}



/* Content Box */

.meme-card-alert {
	border-bottom: 1px solid $gray-300;
	border-top: 1px solid $gray-300;
}

a.back-link {
	color: $gray-600;
	&:hover {
		background: $gray-200;
		color: $gray-800;
	}
}

.content-box-header {
	background: $gray-100;
}

.content-box-footer {
	border-top: 1px solid $gray-300;
}


/* Meme Upload */

.upload-rules {
	background: $gray-100;
}

.upload-drop-section {
	border: 1px dashed $gray-300;
	&:hover {
		border-color: $blue;
		background: $blue-darkest;
	}
}


/* Meme Details Page */

.comment-author {
	&-reaction {
		background: $gray-200;
	}
}
.comment-reaction-item {
	label {
		border: 1px solid $gray-300;
		background: $gray-200;
	}
	input[type="radio"]:checked + label {
		border: 1px solid $blue;
		background: $gray-100;
	}
}

/* User Page */

.user-card {
	box-shadow: 0 1px 2px -1px rgba(0,0,0,0.10), 0 2px 8px -2px rgba(0,0,0,0.10);
	.h4, h4 {
		a {
			color: $gray-900;
			&:hover {
				color: $blue;
			}
		}
	}
}

.vote-control-tiny {
	.tiny-btn-group {
		.btn {
			display: flex;
			padding: 0;
			width: 1.25rem;
			height: 1.25rem;
			align-items: center;
			justify-content: center;
			border-radius: 2px;
			margin-right: 2px;
			color: $gray-700;
			&.btn-secondary {
				background: $gray-300;
				border-color: transparent;
				&:hover {
					background: $gray-400;
				}
			}
		}
		.btn-upvote {
			&.btn-pressed, &.btn-pressed:hover {
				background: $green;
				border-color: $green;
				color: #fff;
			}
			svg {
				margin-top: -4px;
			}
		}
		.btn-downvote {
			&.btn-pressed, &.btn-pressed:hover {
				background: $red;
				border: $red;
				color: #fff;
			}
			svg {
				margin-top: -2px;
			}
		}
	}
}
.subscription-item {
	border: 1px solid $gray-300;
	margin-bottom: 0.5rem;
	&-selected {
		border: 1px solid theme-color('primary');
	}
}

.payment-method-item {
	border: 1px solid $gray-300;
}

.card .divider span {
	background: $gray-200;
}

.choice-item {
	label {
		border: 1px solid $gray-400;
	}
	input:focus + label, input:checked + label {
		border: 1px solid theme-color('success');
		background: rgba(theme-color('success'), 0.05);
		box-shadow: 0 0 0 4px rgba(theme-color('success'), 0.25);
	}
}

.pro-user-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	.user-avatar {
		display: flex;
		width: 8rem;
		height: 8rem;
		img {
			border-radius: 5rem;
		}
	}
}

.badge-pro {
	background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
	color: #7D5308;
	height: 1.125rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	display: flex;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
	width: auto;
	justify-content: center;
	span {
		font-size: 1rem;
	}
}

.user-avatar {
	position: relative;
	&.badge-pro {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.btn.btn-warning {
	color: rgba(0, 0, 0, 0.7);
	&:active, &:focus, &:hover {
		color: rgba(0, 0, 0, 0.7);
	}
}
.btn-warning:not(:disabled):not(.disabled):active, 
.btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
	color: rgba(0, 0, 0, 0.7);
}


.nav-scroll {
	.nav-link {
		background: $gray-200;
		color: $gray-700;
		&.active {
			background: $gray-100;
			color: #fff;
			box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
		}
	}
}

.meme-card-top-comment {
	border-top: 1px solid $gray-300;
}