/* Project Board */

.project-card {
	.card-footer {
		border-top: 1px solid $gray-300;
	}
	a:not(.btn) {
		color: $gray-900;
		&:hover {
			color: $blue;
		}
	}
}

ul.nav.nav-fill.page-controls {
	background: $gray-100;
	li.nav-item {
		.nav-link {
			color: $gray-600;
			border-bottom-color: $gray-300;
			&.active {
				color: $gray-900;
				background: $gray-200;
				border-bottom-color: $gray-300;
			}
		}
	}
}

.chat-file {
	.custom-file-label {
		background: $gray-100;
	}
}
