// DARK THEME

// Neutral Gray Palette
//
$gray-900: #F4F4F4;
$gray-800: #d3d3d3;
$gray-700: #b3b3b3;
$gray-600: #949494;
$gray-500: #777777;
$gray-400: #5a5a5a;
$gray-300: #3f3f3f;
$gray-200: #262626;
$gray-100: #0D0D0D;

$black:    #0D0D0D;
$white:    #FFFFFF;

// Style Overrides
$dark: $gray-900;
//$blue: #016CEF;
$blue: #2184FE;
$red: #EF4E4E;
$yellow: #FEC930;
$green: #03927B;

$link-hover-decoration: none;
$input-btn-focus-width: 0;

$font-weight-bold: 600;
$btn-font-weight: 500;

$border-radius:               .5rem;
$border-radius-lg:            .75rem;
$border-radius-sm:            .5rem;

$modal-content-border-width: 0;
$modal-inner-padding: 1.5rem;
$modal-header-padding-x: 1.5rem;
$modal-backdrop-opacity: 0.8;
$modal-lg:  640px;

$border-color: $gray-300;
$hr-border-color: $gray-300;
$input-border-color: $gray-300;

$card-border-width: 0;
$table-hover-bg: $gray-100;

// Override Typography
$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 							1rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base * 0.875;


$font-size-xs: 0.75rem;
$font-size-md: 0.875rem;

$card-bg: $gray-200;
$modal-content-bg: $gray-200;
$input-bg: $gray-100;
	
	
	
// Additional Variables

$blue-light: lighten($blue, 40%);
$blue-lightest: lighten($blue, 75%);
$blue-dark: darken($blue, 15%);
$blue-darkest: darken($blue, 42%);

$close-text-shadow: none;
$close-color: $gray-700;

$secondary: $gray-400;
$light: $gray-300;