extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+upload-modal
	+add-creator-modal
	+creator-info
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='index.html') <- Back to homepage
			// Project Board
			.content-list
				
				.page-title
					h1 Community Trusted Meme Creators
					.btn-control.ml-auto
						a.btn.btn-primary(href='#0' data-toggle="modal" data-target="#addCreator") Add
							span.hidden-xs  a Meme Creator
				
				.card.project-card
					.card-body.text-md
						.row
							.col-12.col-sm-4.col-lg-3
								a(href='#0' data-toggle="modal" data-target="#creatorInfo")
									img.mb-3.mb-sm-0(src='img/img_01.png')
							.col
								h4
									a(href='#0' data-toggle="modal" data-target="#creatorInfo") Online Meme Maker by Clideo
								.text-muted.text-xs.mb-2
									a.fw-600(href='#0') https://memefactory.com
								div
									| Packed with dozens of incredible features and options, Online Meme Maker by Clideo is undoubtedly makes on the top of our recommended meme makers out there.
								
							
					.card-footer.d-flex
						a(href='#0') Visit ->
						.vote-counter
							span.votes.fw-500 +58
							.vote-btn-group
								a.btn.btn-success(href='#0')
									span
										+icon-upvote
								a.btn.btn-danger(href='#0')
									span 
										+icon-downvote
				.card.project-card
					.card-body.text-md
						.row
							.col-12.col-sm-4.col-lg-3
								a(href='meme-creator-details.html')
									img.mb-3.mb-sm-0(src='img/img_02.png')
							.col
								h4
									a(href='meme-creator-details.html') Imgur
								.text-muted.text-xs.mb-2
									a.fw-600(href='#0') https://memefactory.com
								div
									| Imgur comes with lots of built-in pictures that can be used to make your memes instantly.
								
							
					.card-footer.d-flex
						a(href='#') Visit ->
						.vote-counter
							span.votes.fw-500 +58
							.vote-btn-group
								a.btn.btn-success(href='#0')
									span
										+icon-upvote
								a.btn.btn-danger(href='#0')
									span 
										+icon-downvote
								
				.card.project-card
					.card-body.text-md
						.row
							.col-12.col-sm-4.col-lg-3
								a(href='meme-creator-details.html')
									img.mb-3.mb-sm-0(src='img/img_03.png')
							.col
								h4
									a(href='meme-creator-details.html') Meme Center
								.text-muted.text-xs.mb-2
									a.fw-600(href='#0') https://memefactory.com
								div
									| Meme Center comes with 4 different modes that are quick meme, meme builder, GIF maker, and uploader.
							
					.card-footer.d-flex
						a(href='#') Visit ->
						.vote-counter
							span.votes.fw-500 +58
							.vote-btn-group
								a.btn.btn-success(href='#0')
									span
										+icon-upvote
								a.btn.btn-danger(href='#0')
									span 
										+icon-downvote
				
				.card.project-card
					.card-body.text-md
						.row
							.col-12.col-sm-4.col-lg-3
								a(href='meme-creator-details.html')
									img.mb-3.mb-sm-0(src='img/img_04.png')
							.col
								h4
									a(href='meme-creator-details.html') iMeme
								.text-muted.text-xs.mb-2
									a.fw-600(href='#0') https://memefactory.com
								div
									| Now, we have something different in our arsenal, namely iMeme. Upon its launch, it was one of the most popular meme makers but outclassed by many advanced programs soon after its launch.
							
					.card-footer.d-flex
						a(href='#') Visit ->
						.vote-counter
							span.votes.fw-500 +58
							.vote-btn-group
								a.btn.btn-success(href='#0')
									span
										+icon-upvote
								a.btn.btn-danger(href='#0')
									span 
										+icon-downvote
				
				.card.project-card
					.card-body.text-md
						.row
							.col-12.col-sm-4.col-lg-3
								a(href='meme-creator-details.html')
									img.mb-3.mb-sm-0(src='img/img_05.png')
							.col
								h4
									a(href='meme-creator-details.html') Memegenerator.net
								.text-muted.text-xs.mb-2
									a.fw-600(href='#0') https://memefactory.com
								div
									| Memegenerator is another one of the most popular and widely used online apps.
							
					.card-footer.d-flex
						a(href='#') Visit ->
						.vote-counter
							span.votes.fw-500 +58
							.vote-btn-group
								a.btn.btn-success(href='#0')
									span
										+icon-upvote
								a.btn.btn-danger(href='#0')
									span 
										+icon-downvote
						
						

				
				a.back-link(href='#0') Load More
			
						
						
						
					
				
			// -- end Project Board
				
				
			
		+sidebar-right