extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+upload-modal
	+header
	section.page
		+sidebar-left
		.content
			
			.leaderboard-toggler(data-trigger='#sidebarRight' role='button')
				.medal-stack
					.user-medal.medal-silver
						.medal-count
							span 2
					.user-medal.medal-gold
						.medal-count
							span 1
					.user-medal.medal-bronze
						.medal-count
							span 3
				.leaderboard-toggler-text
					| Show Leaderboard
			
			// Meme Feed
			.meme-feed
				
				// Meme Item
				.meme-card
					.meme-card-header
						h3.meme-card-title 
							a(href='meme-page.html') A Pocket Pc Is Portability At It S Best and the long title we should handle
						+meme-author
					.meme-card-body
						
						a(href='meme-page.html' alt='A Pocket Pc Is Portability At It S Best')
							img(src='img/img_01.png')
					.meme-card-footer
						.meme-card-controls
							+share-btn-stack
							+vote-btn-stack
						+meme-card-tagline
				// -- end Meme
				
				// Meme Item
				.meme-card
					.meme-card-header
						h3.meme-card-title 
							a(href='meme-page.html') A Pocket Pc Is Portability At It S Best
						+meme-author2
					.meme-card-body
						
						a(href='meme-page.html' alt='A Pocket Pc Is Portability At It S Best')
							img(src='content/meme-01.png')
					.meme-card-footer
						.meme-card-controls
							+share-btn-stack
							+vote-btn-stack
						+meme-card-tagline
				// -- end Meme
				
				.text-xs.py-2
					p.text-center
						| Want to support Entermeme?   
						a(href='#0')  ❤️ Donate us
				
				// Meme Item
				.meme-card
					.meme-card-header
						h3.meme-card-title 
							a(href='meme-page.html') A Pocket Pc Is Portability At It S Best
						+meme-author3
					.meme-card-body
						
						a(href='meme-page.html' alt='A Pocket Pc Is Portability At It S Best')
							img(src='content/meme-01.png')
					.meme-card-footer
						.meme-card-controls
							+share-btn-stack
							+vote-btn-stack
						+meme-card-tagline
				// -- end Meme
			// -- end Meme Feed
				
				
			
		+sidebar-right