extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+upload-modal
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='create-memes.html') <- Back to list
			// Project Board
			.content-list
				
				.card
					.meme-card-header
						h2.h4.meme-card-title.mb-0 Online Meme Maker by Clideo
						
					.card-img
						img(src='img/img_01.png')
					.card-body
						
						.text-muted.mb-2
							a.fw-600(href='#0') https://memefactory.com
						p
							| Packed with dozens of incredible features and options, Online Meme Maker by Clideo is undoubtedly makes on the top of our recommended meme makers out there.
								
							
					.card-footer.d-flex.align-items-center
						
						a.report-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
							+icon-flag('16')
						
						.ml-auto.mr-3.fw-600 +953
						.btn-group
							a.btn.btn-success.btn-sm.px-4(href='#0')
								+icon-upvote
							a.btn.btn-danger.btn-sm.px-4(href='#0')
								+icon-downvote
						
				// Comment Form
				
				.card
					.card-body
						.comment-box
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😍
							form.comment-form
								.form-group.mb-2
									textarea.form-control(rows='2' placeholder='Write a comment')
								.form-row.justify-content-between
									.col-12.col-md-auto
										+comment-reaction
									.col-12.col-md-auto
										button.btn.btn-primary.btn-sm.btn-block Comment
				// end Comments Form
				
				// Comment Feed 
				.card
					.card-body
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😂
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
									
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😍
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
						.comment-box.comment-item.child-comment
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
						.comment-box.comment-item.child-comment
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
				// end Comment Feed	
			// -- end Project Board
			
				
				
			
		+sidebar-right