extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='index.html') <- Back to homepage
			// Meme Details
			.meme-feed.pt-0
				
				// Meme Item
				.meme-card
					.meme-card-header
						h3.meme-card-title A Pocket Pc Is Portability At It S Best
						+meme-author
					.meme-card-body
						img(src='content/meme-01.png')
					.meme-card-footer
						.meme-card-controls
							+share-btn-stack
							+vote-btn-stack
						+meme-card-tagline
				// -- end Meme
				
				// Comment Form
				.card
					.card-body
						.comment-box
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😍
							form.comment-form
								.form-group.mb-2
									textarea.form-control(rows='2' placeholder='Write a comment')
								.form-row.justify-content-between
									.col-12.col-md-auto
										+comment-reaction
									.col-12.col-md-auto
										button.btn.btn-primary.btn-sm.btn-block Comment
				// end Comments Form
				
				// Comment Feed 
				.card
					.card-body
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😂
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									span.text-muted.ml-auto.mr-2 2d ago
									a.report-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									.vote-control-tiny
										.tiny-btn-group
											a.btn.btn-secondary.btn-upvote.btn-pressed(href='#0')
												span
													+icon-upvote
											a.btn.btn-secondary.btn-downvote(href='#0')
												span 
													+icon-downvote
										span.votes.fw-500.ml-1 +58
									a.reply-btn.collapsed(data-toggle='collapse' href='#replyCollapse1' role='button' aria-expanded='false' aria-controls='replyCollapse1') 
										span.open-span Reply
										span.close-span.text-muted Cancel
								#replyCollapse1.collapse
									.comment-reply
										textarea.form-control.text-md(rows='1')
										button.btn.btn-sm.btn-primary.ml-1 Reply
									
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😍
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									.vote-control-tiny
										.tiny-btn-group
											a.btn.btn-secondary.btn-upvote(href='#0')
												span
													+icon-upvote
											a.btn.btn-secondary.btn-downvote(href='#0')
												span 
													+icon-downvote
										span.votes.fw-500.ml-1 +58
									a.reply-btn.collapsed(data-toggle='collapse' href='#replyCollapse2' role='button' aria-expanded='false' aria-controls='replyCollapse2') 
										span.open-span Reply
										span.close-span.text-muted Cancel
								#replyCollapse2.collapse
									.comment-reply
										textarea.form-control.text-md(rows='1')
										button.btn.btn-sm.btn-primary.ml-1 Reply
						.comment-box.comment-item.child-comment
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									.vote-control-tiny
										.tiny-btn-group
											a.btn.btn-secondary.btn-upvote(href='#0')
												span
													+icon-upvote
											a.btn.btn-secondary.btn-downvote.btn-pressed(href='#0')
												span 
													+icon-downvote
										span.votes.fw-500.ml-1 +58
									a.reply-btn.collapsed(data-toggle='collapse' href='#replyCollapse3' role='button' aria-expanded='false' aria-controls='replyCollapse3') 
										span.open-span Reply
										span.close-span.text-muted Cancel
								#replyCollapse3.collapse
									.comment-reply
										textarea.form-control.text-md(rows='1')
										button.btn.btn-sm.btn-primary.ml-1 Reply
						.comment-box.comment-item.child-comment
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									.vote-control-tiny
										.tiny-btn-group
											a.btn.btn-secondary.btn-upvote(href='#0')
												span
													+icon-upvote
											a.btn.btn-secondary.btn-downvote(href='#0')
												span 
													+icon-downvote
										span.votes.fw-500.ml-1 +58
									a.reply-btn.collapsed(data-toggle='collapse' href='#replyCollapse4' role='button' aria-expanded='false' aria-controls='replyCollapse4') 
										span.open-span Reply
										span.close-span.text-muted Cancel
								#replyCollapse4.collapse
									.comment-reply
										textarea.form-control.text-md(rows='1')
										button.btn.btn-sm.btn-primary.ml-1 Reply
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									.vote-control-tiny
										.tiny-btn-group
											a.btn.btn-secondary.btn-upvote(href='#0')
												span
													+icon-upvote
											a.btn.btn-secondary.btn-downvote(href='#0')
												span 
													+icon-downvote
										span.votes.fw-500.ml-1 +58
									a.reply-btn.collapsed(data-toggle='collapse' href='#replyCollapse5' role='button' aria-expanded='false' aria-controls='replyCollapse5') 
										span.open-span Reply
										span.close-span.text-muted Cancel
								#replyCollapse5.collapse
									.comment-reply
										textarea.form-control.text-md(rows='1')
										button.btn.btn-sm.btn-primary.ml-1 Reply
				// end Comment Feed
					
			// -- end Meme Details
				
			
		+sidebar-right