extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+invite-modal
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='index.html') <- Back to homepage
			// Meme Details
			.meme-feed.pt-0
				
				.card.user-card
					a.btn.btn-sm.btn-light.edit-link(href='edit-profile.html') Edit
					.card-body
						.row
							.col-12.col-sm-3
								.avatar
									img.rounded-circle.user-pro(src='img/user_01.png')
									.badge.badge-pro
										span ⍟
										| &nbsp;
										| PRO
									
							.col-12.col-sm-9
								h1.h4.mb-1 Ohiammarty
									span.badge.badge-gold.ml-2 9698
								
								.achievements
									+medal('medal-gold', '4', 'Gold Medals')
									+medal('medal-silver', '21', 'Silver Medals')
									+medal('medal-bronze', '9', 'Bronze Medals')
								
								hr.my-2
								
								.d-flex.justify-content-between.text-xs
									span.fw-600 Rank: #85
									span.text-muted 105 memes
									span.text-muted Joined 3w ago
									
								hr.my-2
								
								.d-flex.justify-content-between.text-xs.align-items-center.border.rounded.px-3.py-2
									dl.mb-0
										dt.text-muted Free Subscription
										dd.mb-0 Boosts left: 12
									a.btn.text-xs.btn-warning.btn-sm(href='subscription.html') Become a PRO
									
								hr.my-2
								
								.form-row
									.col-6
										a.btn.btn-light.btn-block.btn-sm(data-toggle='collapse', href='#statsCollapse', role='button', aria-expanded='false', aria-controls='statsCollapse') My Stats

									.col-6
										a.btn.btn-primary.btn-block.btn-sm(href='#0') Messages
						.row
							.col-12.order-3
								#statsCollapse.collapse
									.table-responsive.pt-2
										table.table.table-hover.table-borderless.user-stats-table
											tbody
												tr
													th Top meme
													th.text-success.text-right(colspan='3') Upvote 8
												tr
													th.fw-600
														h5.mb-0 Engagements
													td.fw-600 Count
													td.fw-600 Points
													td.fw-600 Total
												tr
													th Memes Uploaded
													td 107
													td 5
													td.fw-600
														| 535
												tr
													th Upvotes Received
													td 42
													td 1
													td.fw-600
														| 42
												tr
													th Comments Received
													td 0
													td 2
													td.fw-600
														| 0
												tr
													th Shares Received
													td 5
													td 2
													td.fw-600
														| 10
												tr
													th Downvotes Received
													td 3
													td -1
													td.fw-600
														| -3
												tr
													th Upload Adult Content
													td 0
													td -10
													td.fw-600
														| 0
												tr
													th Red Flags Received
													td 0
													td -10
													td.fw-600
														| 0
												tr
													th Upvotes Given
													td 0
													td 1
													td.fw-600
														| 0
												tr
													th Downvotes Given
													td 0
													td 1
													td.fw-600
														| 0
												tr
													th Shares Given
													td 0
													td 10
													td.fw-600
														| 0
												tr
													th Comments Given
													td 0
													td 1
													td.fw-600
														| 0
												tr
													th Daily Winner
													td 0
													td 50
													td.fw-600
														| 0
												tr
													th Top 5 Categories
													td(colspan='3') 
														a.meme-tag.meme-category(href='#0') Animals
														| 
														a.meme-tag.meme-category(href='#0') Books
														| 
														a.meme-tag.meme-category(href='#0') Politics
														| 
														a.meme-tag.meme-category(href='#0') Conspiracy Theory
														| 
														a.meme-tag.meme-category(href='#0') Family
														| 
				
				
				// User Page Navigation
				
				.scroll-x.my-4
					ul#pills-tab.nav.nav-scroll.mb-3(role='tablist')
						li.nav-item(role='presentation')
							a#pills-home-tab.nav-link.active(data-toggle='pill' href='#pills-home' role='tab' aria-controls='pills-home' aria-selected='true') My Memes
						li.nav-item(role='presentation')
							a#pills-profile-tab.nav-link(data-toggle='pill' href='#pills-profile' role='tab' aria-controls='pills-profile' aria-selected='false') Stats
						li.nav-item(role='presentation')
							a#pills-contact-tab.nav-link(data-toggle='pill' href='#pills-contact' role='tab' aria-controls='pills-contact' aria-selected='false') Subscription

						li.nav-item(role='presentation')
							a#pills-contact-tab.nav-link(data-toggle='pill' href='#pills-contact' role='tab' aria-controls='pills-contact' aria-selected='false') MemeEconomy

						li.nav-item(role='presentation')
							a#pills-contact-tab.nav-link(data-toggle='pill' href='#pills-contact' role='tab' aria-controls='pills-contact' aria-selected='false') Affiliates

						li.nav-item(role='presentation')
							a#pills-contact-tab.nav-link(data-toggle='pill' href='#pills-contact' role='tab' aria-controls='pills-contact' aria-selected='false') Projects
						
						
				#pills-tabContent.tab-content
					#pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab') ...
					#pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab') ...
					#pills-contact.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab') ...

				
				// Meme Item
				.meme-card
					.meme-card-header
						h3.meme-card-title A Pocket Pc Is Portability At It S Best
						+meme-author
					.meme-card-body
						img(src='content/meme-01.png')
					.meme-card-footer
						.meme-card-controls
							+share-btn-stack
							+vote-btn-stack
						+meme-card-tagline-2

				// -- end Meme
					
			// -- end Meme Details
				
			
		+sidebar-right