extends _main.pug

block title
	| Entermeme - New Meme

block content
	
	+header
	
	section.page
		+sidebar-left
		.container
			.row
				.col-12
					a.back-link(href='index.html') <- Back to homepage
			.row
				.col-12
					.page-title.mb-3.page-title-tabs
						ul#pageTab.h1.nav(role='tablist')
							li.nav-item(role='presentation')
								span#build-tab.active(data-toggle='tab', href='#build', role='tab', aria-controls='build', aria-selected='true') Create New Meme
							li.text-muted.px-2 or
							li.nav-item(role='presentation')
								span#upload-tab(data-toggle='tab', href='#upload', role='tab', aria-controls='upload', aria-selected='false') Upload Existing Meme

			.row
				.col-12
					.tab-content
						
						#build.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='build-tab')
							.card
								.card-header.pt-3
									.row.justify-content-center
										.col-auto
											ul.nav.nav-pills.small
												li.nav-item
													a.nav-link.py-1.active(href='#') All
												li.nav-item
													a.nav-link.py-1(href='#') Popular
												li.nav-item
													a.nav-link.py-1(href='#') New
												li.nav-item
													a.nav-link.py-1(href='#') Custom


								.card-body.px-3.py-1.border-top
									.template-grid
										+template-item-blank
										+template-item('img/template-01.jpg','Find the Difference')
										+template-item('img/template-02.jpg','Drake approves/disapproves')
										+template-item('img/template-03.jpg','CNN Breaking News')
										+template-item('img/template-04.jpg','Change my mind')
										+template-item('img/template-05.jpg','Drake approves/disapproves')
										+template-item('img/template-06.jpg','Drake approves/disapproves')
										+template-item('img/template-07.jpg','Drake approves/disapproves')
										+template-item('img/template-08.png','Lisa Simpson Presentation')
										+template-item('img/template-05.jpg','Drake approves/disapproves')
										+template-item('img/template-06.jpg','Drake approves/disapproves')
										+template-item('img/template-07.jpg','Drake approves/disapproves')
										+template-item('img/template-08.png','Lisa Simpson Presentation')
						
						#upload.tab-pane.fade(role='tabpanel', aria-labelledby='upload-tab')
							.card
								.card-header.text-xs.py-lg-3.px-lg-5
									.row
										.col-6.col-lg-3 🔞 No nudity
										.col-6.col-lg-3 🚫 No profanity
										.col-6.col-lg-3 💢 No violence
										.col-6.col-lg-3 🚯 No hateful content
								.card-body.border-top
									+upload-form3
									
						
								
		+sidebar-right