extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+upload-modal
	+job-apply-modal
	+job-chat-modal
	+add-project-modal
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='index.html') <- Back to homepage
			// Project Board
			.content-list
				
				.page-title
					h1 Project Board
					.btn-control.ml-auto
						a.btn.btn-primary(href='#0' data-toggle="modal" data-target="#addProject") Create Job
				
				ul#jobTabs.nav.nav-fill.page-controls(role='tablist')
					li.nav-item(role='presentation')
						a#all-tab.nav-link.active(data-toggle='tab', href='#all', role='tab', aria-controls='all', aria-selected='true') All Jobs
					li.nav-item(role='presentation')
						a#own-tab.nav-link(data-toggle='tab', href='#own', role='tab', aria-controls='own', aria-selected='false') My Projects
							span.ml-2.badge.badge-warning +2
					li.nav-item(role='presentation')
						a#applied-tab.nav-link(data-toggle='tab', href='#applied', role='tab', aria-controls='applied', aria-selected='false') Applied
							span.ml-2.badge.badge-warning +2
						
				#jobPageContent.tab-content
					
					// All Projects
					#all.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='all-tab')
						.d-flex.align-items-center.mb-2.text-xs.filter-box
							span.text-muted Found 194 
							a.ml-2(data-toggle='collapse', href='#jobFilter', role='button', aria-expanded='false', aria-controls='collapseExample')
								| Filter (2)
								
							select.custom-select.custom-select-sm.ml-auto.text-xs(style='width:140px')
								option Newest first
								option Budget (ascending)
							
						#jobFilter.collapse
							.card.card-body
								.form-row
									.col-md-6
										input.form-control.form-control-sm.mb-1.mb-sm-0(type='text', placeholder='Start typing to search...')
									.col-md-3
										select.custom-select.custom-select-sm.mb-1.mb-sm-0
											option Any budget
											option < $25
											option $26 - $50
											option $51 <
									.col-md-3
										select.custom-select.custom-select-sm.mb-1.mb-sm-0
											option Any type
											option One-time
											option Ongoing
								
						.card.project-card
							.card-body
								.row
									.col.order-2.order-sm-1
										h4
											a(href='job-details.html') Create a Coffee Meme for our social media

										.text-muted.text-xs.mb-2 3 mins ago by 
											a.fw-600(href='#0') Olivia Bonn
										div
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.mt-2.mb-0.h5.text-success $50

									.col-12.col-sm-4.col-lg-2.order-1.order-sm-2.text-center
										a(href='job-details.html')
											img.project-card-img.mb-3.mb-sm-0(src='img/prize_01.jpg')


						.card.project-card
							.card-body
								.row
									.col.order-2.order-sm-1
										h4
											a(href='job-details.html') 100 Car memes wanted
										.text-muted.text-xs.mb-2 3 mins ago by 
											a.fw-600(href='#0') Olivia Bonn
										div
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										.mt-2.mb-0.h5.text-success $24

									.col-12.col-sm-4.col-lg-2.order-1.order-sm-2.text-center
										a(href='job-details.html') 
											img.project-card-img.mb-3.mb-sm-0(src='img/prize_02.jpg')

						.card.project-card
							.card-body
								.row
									.col.order-2.order-sm-1
										h4
											a(href='job-details.html') Support our Instagram with 10 travel memes
										.text-muted.text-xs.mb-2 3 mins ago by 
											a.fw-600(href='#0') Olivia Bonn
										div
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

									.col-12.col-sm-4.col-lg-2.order-1.order-sm-2.text-center
										a(href='job-details.html')
											img.project-card-img.mb-3.mb-sm-0(src='img/prize_03.jpg')

						.card.project-card
							.card-body
								.form-row
									.col.order-2.order-sm-1
										h4
											a(href='job-details.html') Project Item Without Image
										.text-muted.text-xs.mb-2 3 mins ago by 
											a.fw-600(href='#0') Olivia Bonn
										div
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

						a.back-link(href='#0') Load More
								
					// My Projects
					#own.tab-pane.fade(role='tabpanel', aria-labelledby='own-tab')
						.mb-2.text-xs.text-muted You created 1 project
						
						.card.project-card
							.card-body
								.row
									.col.order-2.order-sm-1
										h4
											a(href='my-job-details.html') Support our Instagram with 10 travel memes
										.text-muted.text-xs.mb-2 5 Applicants  
											span.badge.badge-secondary 1 New
										div
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

									.col-12.col-sm-4.col-lg-2.order-1.order-sm-2.text-center
										a(href='my-job-details.html')
											img.project-card-img.mb-3.mb-sm-0(src='img/prize_03.jpg')
							.card-footer
								a.btn.btn-sm.btn-primary(href='my-job-details.html') Messages  
									span.badge.badge-warning  2 New
								a.btn.btn-sm.btn-light.text-dark.ml-auto Edit Job
								a.btn.btn-sm.btn-light.text-danger Delete
					
					// Jobs Applied
					#applied.tab-pane.fade(role='tabpanel', aria-labelledby='applied-tab')
						.mb-2.text-xs.text-muted You applied to 1 project
						
						.card.project-card
							.card-body
								.row
									.col.order-2.order-sm-1
										h4
											a(href='job-details.html') Support our Instagram with 10 travel memes
										.text-muted.text-xs.mb-2 3 mins ago by 
											a.fw-600(href='#0') Olivia Bonn
										div
											| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

									.col-12.col-sm-4.col-lg-2.order-1.order-sm-2.text-center
										a(href='job-details.html')
											img.project-card-img.mb-3.mb-sm-0(src='img/prize_03.jpg')
							.card-footer
								a.btn.btn-sm.btn-primary(href='#0' data-toggle="modal" data-target="#jobChat") Messages  
									span.badge.badge-warning  2 New
								a.btn.btn-sm.btn-light.text-danger Cancel Application
				
			// -- end Project Board
			
		+sidebar-right