extends _main.pug

block title
	| Entermeme - Search Results

block content
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='index.html') <- Back to homepage
			// Search Results
			.content-list
				
				.meme-feed.pt-2
					.page-title
						h1 Search 
							span.text-primary monster

					ul.nav.nav-fill.page-controls#search-tabs(role='tablist')
					
						li.nav-item(role='presentation')
							a#search-memes-tab.nav-link.active(data-toggle="tab" href="#search-memes" role="tab" aria-controls="search-memes" aria-selected="true") Memes
						li.nav-item(role='presentation')
							a#search-people-tab.nav-link(data-toggle="tab" href="#search-people" role="tab" aria-controls="search-people" aria-selected="false") People
					
					
					#search-tabs-content.tab-content
						// Search Memes
					
						.tab-pane.fade.show.active#search-memes(role='tabpanel', aria-labelledby='search-meme-tab')
							.mb-2.text-xs.filter-box
								span.text-muted Found 194 memes


							.meme-card
								.meme-card-header
									h3.meme-card-title 
										a(href='meme-page.html') A Pocket Pc Is Portability At It S Best
									+meme-author
								.meme-card-body

									a(href='meme-page.html' alt='A Pocket Pc Is Portability At It S Best')
										img(src='content/meme-01.png')
								.meme-card-footer
									.meme-card-controls
										+share-btn-stack
										+vote-btn-stack
									+meme-card-tagline-3
							
							.meme-card
								.meme-card-header
									h3.meme-card-title 
										a(href='meme-page.html') A Pocket Pc Is Portability At It S Best
									+meme-author
								.meme-card-body

									a(href='meme-page.html' alt='A Pocket Pc Is Portability At It S Best')
										img(src='content/meme-01.png')
								.meme-card-footer
									.meme-card-controls
										+share-btn-stack
										+vote-btn-stack
									+meme-card-tagline-3
									
							.meme-card
								.meme-card-header
									h3.meme-card-title 
										a(href='meme-page.html') A Pocket Pc Is Portability At It S Best
									+meme-author
								.meme-card-body

									a(href='meme-page.html' alt='A Pocket Pc Is Portability At It S Best')
										img(src='content/meme-01.png')
								.meme-card-footer
									.meme-card-controls
										+share-btn-stack
										+vote-btn-stack
									+meme-card-tagline-3
						// end Search Memes
					
						// Search People
						.tab-pane.fade#search-people(role='tabpanel', aria-labelledby='search-people-tab')
							.mb-2.text-xs.filter-box
								span.text-muted Found 41 users

							.card.user-card
								.card-body
									.row
										.col-3.col-sm-2
											a.avatar(href='#0')
												img.rounded-circle(src='img/user_01.png')

										.col-9.col-sm-10
											h4.mb-1 
												a(href='#0') Ohiammarty
												span.badge.badge-gold.ml-2 9698
											hr.my-2
											.d-flex.justify-content-between.text-xs
												span.fw-600 Rank: #85
												span.text-muted 105 memes
												span.text-muted Joined 3w ago
							
							.card.user-card
								.card-body
									.row
										.col-3.col-sm-2
											a.avatar(href='#0')
												img.rounded-circle(src='img/user_01.png')

										.col-9.col-sm-10
											h4.mb-1 
												a(href='#0') Ohiammarty
												span.badge.badge-gold.ml-2 9698
											hr.my-2
											.d-flex.justify-content-between.text-xs
												span.fw-600 Rank: #85
												span.text-muted 105 memes
												span.text-muted Joined 3w ago
												
							.card.user-card
								.card-body
									.row
										.col-3.col-sm-2
											a.avatar(href='#0')
												img.rounded-circle(src='img/user_01.png')

										.col-9.col-sm-10
											h4.mb-1 
												a(href='#0') Ohiammarty
												span.badge.badge-gold.ml-2 9698
											hr.my-2
											.d-flex.justify-content-between.text-xs
												span.fw-600 Rank: #85
												span.text-muted 105 memes
												span.text-muted Joined 3w ago
												
							.card.user-card
								.card-body
									.row
										.col-3.col-sm-2
											a.avatar(href='#0')
												img.rounded-circle(src='img/user_01.png')

										.col-9.col-sm-10
											h4.mb-1 
												a(href='#0') Ohiammarty
												span.badge.badge-gold.ml-2 9698
											hr.my-2
											.d-flex.justify-content-between.text-xs
												span.fw-600 Rank: #85
												span.text-muted 105 memes
												span.text-muted Joined 3w ago

						// end Search People
						a.back-link(href='#0') Load More
								
			// -- end Search Results
			
		+sidebar-right