extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+upload-modal
	+header
	section.page
		+sidebar-left
		.content
			
			
			.container.mt-5
				.row.justify-content-center
					.col-8
						
						h1 Heading 1
						
						// Bootstrap Tests
							
						.alert.alert-primary(role='alert')
							| A simple primary alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-secondary(role='alert')
							| A simple secondary alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-success(role='alert')
							| A simple success alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-danger(role='alert')
							| A simple danger alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-warning(role='alert')
							| A simple warning alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-info(role='alert')
							| A simple info alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-light(role='alert')
							| A simple light alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.
						.alert.alert-dark(role='alert')
							| A simple dark alert with 
							a.alert-link(href='#') an example link
							| . Give it a click if you like.

				
				
			
		+sidebar-right