extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+header
	section.page
		+sidebar-left
		.content
			
			.container.py-5
				.row
					.col
						h2.mb-5 User Tour Assets
						
				.row
					.col

						.tour-item
							.tour-item-order.text-xs 1/3  
								a.tour-item-skip.text-muted(href='#0')  Skip Tour
							.p-relative.px-2.py-3
								.d-flex.justify-content-start.w-100.mb-2.pl-2
									.coin-tiny ❤️
								.text-md Vote, Share, and Comment on Memes to earn points!
							.tour-item-controls
								a.tour-prev(href='#0') <- Prev
								a.tour-next(href='#0') Next Tip ->

						.my-5

							.tour-item
								.tour-item-order.text-xs 2/3
									a.tour-item-skip.text-muted(href='#0')  Skip Tour
								.p-relative.px-2.py-3
									.d-flex.justify-content-start.w-100.mb-2.pl-2
										.coin-tiny 🥇
									.text-md Compete with the community to raise in the daily rankings!
								.tour-item-controls
									a.tour-prev(href='#0') <- Prev
									a.tour-next(href='#0') Next Tip ->

						.my-5

						.tour-item
							.tour-item-order.text-xs 3/3
								a.tour-item-skip.text-muted(href='#0')  Skip Tour
							.p-relative.px-2.py-3
								.d-flex.justify-content-start.w-100.mb-2.pl-2
									.coin-tiny 🏆
								.text-md ...so that you can win the daily prize! New Prizes every day!!!
							.tour-item-controls
								a.tour-next(href='#0') Finish Tour
								
			
		+sidebar-right