// Header CSS 


.header {
	background: rgba(21, 21, 21, 0.8);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}

.website-logo {
	.logo-dark {
		display: none;
	}
	.logo-white {
		display: block;
	}
}

/* Search Widget */

.search-pane {
	background: $gray-200;
	@media only screen and (min-width:1199px) {
		background-color: transparent;
	}
}

.search-toggle-btn {
	@media only screen and (max-width: 1199px) {
		color: $gray-600;
	}
	svg {
		g {
			g {
				fill: $gray-500;
			}
		}
	}
}

.header-control {
	&:hover {
		background: $gray-200;
	}
}


.search-form {
	.search-icon {
		svg {
			g {
				g {
					fill: $gray-500;
				}
			}
		}
	}
}

/* end Search Widget */


.user-controls {
	.header-control {
		&:hover {
			background: $blue-light;
			color: $blue-dark;
		}
	}
}


.notification-btn {
	background: transparent;
	.indicator {
		background: $red;
		border: 1px solid #fff;
	}
	svg {
		g {
			g{
				fill: $gray-500;
			}
		}
	}
	&:hover {
		background: $gray-200;
	}
	&.active {
		background: $blue;
		svg g g{
			fill: $white;
		}
		.indicator {
			display: block;
		}
	}
}

.user-pro {
	box-shadow: 0 0 0 1px theme-color('warning');
	border: 1px solid transparent;
}

.user-menu {
	.user-avatar {
		filter: brightness(0.8);
	}
	.user-points {
		border-radius: 10px 10px 4px 10px;
	}
}

.mobile-menu-btn {
	svg {
		g {
			path {
				fill: $gray-500;
			}
		}
	}
}

.btn-upload {
	.ui-icon {
		g {
			fill: #ffffff;
		}
	}
}

