// Sidebar CSS 

a.readmore, .readmore {
	background: transparent;
	color: $blue;
	&:hover {
		background: $gray-100;
		color: $blue;
	}
}

.sidebar-footer {
	border-top: 1px solid $gray-300;
}

.nav-divider {
	border-top: 1px solid $gray-300;
}

.widget-prize {
	background: linear-gradient(269deg, #1C89D2 0%, #0C51A6 100%);
	color: #fff;
	&-img {
		img {
			filter: brightness(0.8);
		}
	}
}

.winner-widget {
	.winner-state {
		background: #F51856;
		color: #fff;
	}
	.winner-avatar {
		border: 2px solid rgba(255,255,255,0.6);
	}
	.winner-name {
		color: #fff;
	}
}

.leaderboard-table {
	.order-number {
		background: $gray-300;
		border: 1px solid rgba(255,255,255,0.2);
	}
	&-item {
		border-bottom: 1px solid $gray-300;
		&.bg-primary {
			.order-number {
				background: rgba(255,255,255,0.2);
			}
		}
		&:hover {
			background: $gray-100;
		}
		&:nth-child(2), &:nth-child(3) {
			background: rgba(theme-color('info'), 10%);
			.order-number {
				background: theme-color('info');
				color: #fff;
			}
		}
	}
}


.leaderboard-top {
	border-bottom: 1px solid $gray-300;
}



.leaderboard-user-status {
	color: theme-color('warning');
}

.contest-rules {
	border-top: 1px solid $gray-300;
	li {
		border-bottom: 1px solid $gray-300;
	}
}


.sidebar-right  {
	background: $gray-200;
	img {
		filter: brightness(0.8);
	}
}

.sidebar-left {
	background: $gray-200;
	img {
		filter: brightness(0.8);
	}
}

.nav.site-nav {
	.nav-link {
		border-right: 1px solid transparent;
		color: $gray-600;
		&:hover {
			background: $blue;
			color: #fff;
		}
		&.active {
			background: $gray-100;
			border-color: transparent;
			color: $gray-900;
		}
	}
}

// Sidebar Positioining

/* Referal Box */

.referral-box {
	background: #fff;
}

.theme-switcher {
	.theme-light {
		display: flex;
	}
	.theme-dark {
		display: none;
	}
	a {
		background: $gray-100;
		color: $gray-400;
		&:hover {
			background: $gray-300;
			color: $white;
		}
	}
}