


.badge {
	user-select: none;
}

.badge.badge-gold {
	border-radius: 10px;
	color: rgba(0,0,0,0.6);
	font-size: 11px;
	line-height: 1rem;
	overflow: hidden;
	padding: 2px 5px;
	position: relative;
	z-index: 1;
	height: 20px;
	&.badge-lg {
		padding: 4px 4px;
		height: 24px;
	}
	&::after {
		background-image: radial-gradient(
			circle,
			#FFFFFF,
			#FFD138,
			#F8A910
		);
		content: '';
		position: absolute;
		width: 100%;
		height: 250%;
		top: -150%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}

.badge.badge-negative {
	border-radius: 10px;
	color: rgba(0,0,0,0.6);
	font-size: 11px;
	line-height: 1rem;
	overflow: hidden;
	padding: 2px 5px;
	position: relative;
	z-index: 1;
	height: 20px;
	&.badge-lg {
		padding: 4px 4px;
		height: 24px;
	}
	&::after {
		background-image: radial-gradient(
			circle,
			#FFFFFF,
			#F27699,
			#ED215A
		);
		content: '';
		position: absolute;
		width: 100%;
		height: 250%;
		top: -150%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}