body.dark-mode {
	@import 'bootstrap-theme-dark';
	@import 'dark/var';
	background: $gray-100;
	color: $gray-800;
	@import 'dark/typography';
	@import 'dark/layout';
	@import 'dark/header';
	@import 'dark/content';
	@import 'dark/sidebar';
	@import 'dark/controls';
	@import 'dark/utilities';
	@import 'dark/modals';
	@import 'dark/projects';
	@import 'dark/meme-builder';
	@import 'dark/user-tour';
	.alert-primary {
		background: rgba(theme-color('primary'), 0.1);
		border-color: rgba(theme-color('primary'), 0.3);
		color: theme-color('primary');
		.alert-link {
			color: theme-color('primary');
		}
	}
	.alert-success {
		background: rgba(theme-color('success'), 0.1);
		border-color: rgba(theme-color('success'), 0.3);
		color: theme-color('success');
		.alert-link {
			color: theme-color('success');
		}
	}
	.alert-warning {
		background: rgba(theme-color('warning'), 0.1);
		border-color: rgba(theme-color('warning'), 0.3);
		color: theme-color('warning');
		.alert-link {
			color: theme-color('warning');
		}
	}
	.alert-danger {
		background: rgba(theme-color('danger'), 0.1);
		border-color: rgba(theme-color('danger'), 0.3);
		color: theme-color('danger');
		.alert-link {
			color: theme-color('danger');
		}
	}
	.alert-info {
		background: rgba(theme-color('info'), 0.1);
		border-color: rgba(theme-color('info'), 0.3);
		color: theme-color('info');
		.alert-link {
			color: theme-color('info');
		}
	}
	.alert-light {
		background: rgba(theme-color('dark'), 0.1);
		border-color: rgba(theme-color('dark'), 0.3);
		color: $gray-700;
		.alert-link {
			color: $gray-900;
		}
	}
	.alert-dark {
		background: rgba(theme-color('light'), 0.1);
		border-color: rgba(theme-color('light'), 0.3);
		color: theme-color('light');
		.alert-link {
			color: theme-color('light');
		}
	}
	.alert-secondary {
		background: rgba(theme-color('secondary'), 0.1);
		border-color: rgba(theme-color('secondary'), 0.3);
		color: $gray-700;
		.alert-link {
			color: $gray-700;
		}
	}
	.alert-link {
		text-decoration: underline;
		font-weight: 400;
	}	
	hr {
		border-color: rgba($white, 0.1);
	}
}