mixin poll-widget
	.poll-widget
		form.widget-form
			.widget-question 🤔 What new feature should we add next to this website?
			.poll-item
				.custom-control.custom-radio
					input#customRadio1.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio1') Ability to upload gifs

			.poll-item
				.custom-control.custom-radio
					input#customRadio2.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio2') Something random that’s funny and dank
			.poll-item
				.custom-control.custom-radio
					input#customRadio3.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio3') A job board to post meme jobs so people can get hired for doing memesdank
			.poll-item
				.custom-control.custom-radio
					input#customRadio4.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio4') Other
					input.form-control.form-control-sm(type='text' placeholder='Please describe' disabled)
			button.btn.btn-sm.btn-block.btn-primary.widget-btn(type='submit') Submit answer

mixin sidebar-right
	// Sidebar Right
	.sidebar-right.mobile-offcanvas#sidebarRight
		.sidebar-inner
			+poll-widget
			.sidebar-widget.px-3.pt-2
				a.btn.btn-block.btn-danger.text-md.d-flex.align-items-center.justify-content-center(href='#0' data-toggle="modal" data-target="#inviteModal") 
					| Invite a Friend and Earn 50 points!   
					span.badge.badge-gold.ml-1 +50
			
			.sidebar-widget
				+widget-title('Today’s Leaderboard')
				+sidebar-leaderboard

			
	// -- end Sidebar Right


mixin navlink(icon, name, url, state)
	li.nav-item.active
		a.nav-link(href=url class=state) 
			span.text-emoji=icon
			=name
			
			
mixin sidebar-left
	// Sidebar Left
	.sidebar-left.text-md.mobile-offcanvas#sidebarLeft
		.sidebar-inner
			ul.nav.site-nav.flex-column

				+navlink('🏠️', 'Home', 'index.html', 'active')
				+navlink('💥', 'Trending', '#0')
				+navlink('👶', 'Fresh', '#0')
				+navlink('💕', 'Liked', '#0')
				
					
				li.nav-divider
				+navlink('🎁', 'Project Board', 'projects.html')
				+navlink('🏅', 'Create Memes', 'create-memes.html')
				li.nav-section-title Categories
				+navlink('🐾', 'Animals', '#0')
				+navlink('🎭️', 'Art', '#0')
				+navlink('📚️', 'Books', '#0')
				+navlink('👗', 'Fashion', '#0')
				+navlink('💭', 'Comics', '#0')
				+navlink('👽️', 'Conspiracy Theory', '#0')
				+navlink('🎻', 'Culture', '#0')
				+navlink('😁', 'Emoji', '#0')
				+navlink('📺️', 'Entertainment', '#0')
				+navlink('👨‍👩‍👧‍👦', 'Family', '#0')
			+readmore('Show more', '#0')
			.sidebar-footer.text-sm.mt-5.text-center.text-muted
				.px-3.pb-1
					.theme-switcher
						a.theme-dark(href='#0' onclick="themeSwitch()") 
							img(src='img/icons/moon.svg' width='20')
							span Dark Mode
						a.theme-light(href='#0' onclick="themeSwitch()") 
							img(src='img/icons/sun.svg' width='20')
							span Light Mode
				li.nav-divider
				p
					a.d-block.meme-tag(href='#0') Privacy Policy
					a.d-block.meme-tag(href='#0') Terms & Conditions
				.small &copy; - 2020 Entermeme
	// -- end Sidebar Left
		
mixin search
	// Search
	.search-pane
		form.search-form
			.search-icon
				i.bx.bx-search
			input.search-field.form-control(placeholder='Search...')
			select#categorySelect.custom-select.bg-light
				option(selected='') Categories
				option(value='1') Animals
				option(value='2') Art
				option(value='3') Automotive
		button.search-toggle-btn.ml-2(onclick="toggleClass('.search-pane', 'search-visible')")
			i.bx.bx-x.lead
			| 
			span.hidden-xs.ml-1 Close
	// -- end Search
	
mixin search2
	// Search
	.search-pane
		.el-autocomplete.header-search(aria-haspopup='listbox' role='combobox' aria-owns='el-autocomplete-6520')
			.el-input.el-input-group.el-input-group--append.el-input--prefix
				// 
				input.el-input__inner(type='text' autocomplete='off' aria-label='Search' valuekey='value' popperclass='header-search-suggestions empty-items hide-search-suggestions' placeholder='Search...' fetchsuggestions='function () { [native code] }' debounce='300' placement='bottom-start' hideloading='true' popperappendtobody='true' highlightfirstitem='true' role='textbox' aria-autocomplete='list' aria-controls='id' aria-activedescendant='el-autocomplete-6520-item--1')
				span.el-input__prefix
					i.el-input__icon(slot='prefix')
						svg(width='16' height='16' viewBox='0 0 16 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
							g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
								g(transform='translate(-2.000000, -2.000000)' fill='#9AA5B1' fill-rule='nonzero')
									path(d='M10.4210526,2 C15.0642105,2 18.8421053,5.77789474 18.8421053,10.4210526 C18.8416559,12.289934 18.2157893,14.10491 17.0642105,15.5768421 L17.0642105,15.5768421 L21.6915789,20.2042105 L20.2031579,21.6926316 L15.5757895,17.0652632 C14.1040044,18.2162427 12.289449,18.8417215 10.4210526,18.8421053 C5.77789474,18.8421053 2,15.0642105 2,10.4210526 C2,5.77789474 5.77789474,2 10.4210526,2 Z M10.4210526,4.10526316 C6.93789474,4.10526316 4.10526316,6.93789474 4.10526316,10.4210526 C4.10526316,13.9042105 6.93789474,16.7368421 10.4210526,16.7368421 C13.9042105,16.7368421 16.7368421,13.9042105 16.7368421,10.4210526 C16.7368421,6.93789474 13.9042105,4.10526316 10.4210526,4.10526316 Z M7.44631579,7.44421053 C9.03894737,5.85263158 11.8021053,5.85263158 13.3957895,7.44421053 C14.1885117,8.23178835 14.6334606,9.30360744 14.6315849,10.4210526 L14.6315849,10.4210526 L12.5263158,10.4210526 C12.5263158,9.86105263 12.3063158,9.33263158 11.9073684,8.93263158 C11.1115789,8.13894737 9.73263158,8.13684211 8.93263158,8.93473684 L8.93263158,8.93473684 Z')
					// 
					// 
					.el-input-group__append
						.el-select
							// 
							.el-input.el-input--suffix
								// 
								input.el-input__inner(type='text' readonly='readonly' autocomplete='off' placeholder='Category')
								// 
								span.el-input__suffix
									span.el-input__suffix-inner
										i.el-select__caret.el-input__icon.el-icon-arrow-up
										// 
										// 
										// 
										// 
										// 
										// 
										// 
										// 
							.el-select-dropdown.el-popper(style='display: none; min-width: 159px;')
								.el-scrollbar(style='')
									.el-select-dropdown__wrap.el-scrollbar__wrap(style='margin-bottom: -10px; margin-right: -10px;')
										ul.el-scrollbar__view.el-select-dropdown__list
											// 
											li.el-select-dropdown__item
												span Animals
											li.el-select-dropdown__item
												span Art
											li.el-select-dropdown__item
												span Books
											li.el-select-dropdown__item
												span Fashion/Clothing
											li.el-select-dropdown__item
												span Comics
											li.el-select-dropdown__item
												span Conspiracy Theory
											li.el-select-dropdown__item
												span Culture
											li.el-select-dropdown__item
												span Emoji
											li.el-select-dropdown__item
												span Entertainment
											li.el-select-dropdown__item
												span Family
											li.el-select-dropdown__item
												span Fitness
											li.el-select-dropdown__item
												span Food/Drink
											li.el-select-dropdown__item
												span Gaming
											li.el-select-dropdown__item
												span Geography
											li.el-select-dropdown__item
												span Health/Wellness
											li.el-select-dropdown__item
												span Languages
											li.el-select-dropdown__item
												span Music
											li.el-select-dropdown__item
												span Motivational
											li.el-select-dropdown__item
												span Movies
											li.el-select-dropdown__item
												span Nature
											li.el-select-dropdown__item
												span Optical Illusion
											li.el-select-dropdown__item
												span Philosophy
											li.el-select-dropdown__item
												span Recreation
											li.el-select-dropdown__item
												span Religion
											li.el-select-dropdown__item
												span Science
											li.el-select-dropdown__item
												span Shower Thoughts
											li.el-select-dropdown__item
												span Society
											li.el-select-dropdown__item
												span Sports
											li.el-select-dropdown__item
												span Technology
											li.el-select-dropdown__item
												span Transportation
											li.el-select-dropdown__item
												span Uplifting
											li.el-select-dropdown__item
												span World Events
											li.el-select-dropdown__item
												span Work/Business
											li.el-select-dropdown__item
												span Military
											li.el-select-dropdown__item
												span Television
											li.el-select-dropdown__item
												span Relationships
											li.el-select-dropdown__item
												span Politics
											li.el-select-dropdown__item
												span That's Life
											li.el-select-dropdown__item
												span Holidays
											li.el-select-dropdown__item
												span Celebrities
											li.el-select-dropdown__item
												span School/Education
											li.el-select-dropdown__item
												span Money/Finance
											li.el-select-dropdown__item
												span Government
									.el-scrollbar__bar.is-horizontal
										.el-scrollbar__thumb(style='transform: translateX(0%);')
									.el-scrollbar__bar.is-vertical
										.el-scrollbar__thumb(style='transform: translateY(0%);')
								// 
								// 
			.el-autocomplete-suggestion.el-popper.header-search-suggestions.empty-items.hide-search-suggestions(role='region' style='width:;display:none;')
				.el-scrollbar
					.el-autocomplete-suggestion__wrap.el-scrollbar__wrap(style='margin-bottom: -10px; margin-right: -10px;')
						ul#el-autocomplete-6520.el-scrollbar__view.el-autocomplete-suggestion__list(role='listbox')
					.el-scrollbar__bar.is-horizontal
						.el-scrollbar__thumb(style='transform: translateX(0%);')
					.el-scrollbar__bar.is-vertical
						.el-scrollbar__thumb(style='transform: translateY(0%);')
		button.search-toggle-btn.ml-2(aria-label='close search bar')
			svg(width='12' height='12' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
				g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
					g(transform='translate(-4.000000, -4.000000)' fill='#9AA5B1' fill-rule='nonzero')
						polygon#Path(points='18.0001768 4 11.9992928 9.99946964 5.99982321 4 4 5.99982321 9.99946964 11.9992928 4 17.9987625 5.99982321 19.9985857 11.9992928 13.9991161 18.0001768 19.9985857 20 17.9987625 14.0005304 11.9992928 20 5.99982321')
			span.hidden-xs.ml-1 Close

	// -- end Search
		
mixin header
	// Header
	header.header
		// Mobile Menu Toggler
		a.mr-auto.mobile-menu-btn(data-trigger='#sidebarLeft' role='button')
			i.bx.bx-menu
		// -- end Mobile Menu Toggler
			
		// Logo for Desktop
		a.website-logo.pl-3.d-none.d-lg-block(href='index.html' title='Entermeme')
			img.logo-dark(src='img/logo.svg' alt='Entermeme' height='26')
			img.logo-white(src='img/logo-white.svg' alt='Entermeme' height='26')
		// -- end Logo
		
		+search
		
		a.search-toggle-btn(onclick="toggleClass('.search-pane', 'search-visible')")
			i.bx.bx-search-alt
			
		a.notification-btn.active(href='#0')
			i.bx.bx-bell
			.indicator
		
		// User
		.user-controls
			
			// Log In links
			//.d-block.user-login-btn.text-md.fw-500.mr-3 
				a(href='#0' data-toggle="modal" data-target="#loginModal") Log In 
				span.text-muted or  
				a(href='#0' data-toggle="modal" data-target="#registerModal") Sign Up
				
			//For Logged In users Only

			a.user-menu.ml-auto(href='my-page.html')
				img.user-avatar.user-pro(src='img/user_01.png' alt='danika' width='40')
				.badge.badge-gold.user-points 596
				.badge.badge-pro
					span ⍟
		// -- end User
			
		// Upload Button
		a.btn-upload.btn-success(href='new-meme-alt.html')
			span.hidden-xs.mr-1
				i.bx.bx-smile.lead
			| Add  
			span.hidden-xs &nbsp;Meme
			|  
			span.badge.badge-gold +5 
				span.hidden-xs points
		// end Upload Button
	// -- end Header
	
	
mixin comment-reaction-item(id, value, name)
	.comment-reaction-item
		input(id=id, type='radio', name=name)
		label(for=id)=value
		
mixin comment-reaction
	.comment-reaction.d-flex
		+comment-reaction-item('reaction1', '😂', 'reaction')
		.comment-reaction-item
			input(id='reaction2', type='radio', name='reaction' checked)
			label(for='reaction2') 😍
		+comment-reaction-item('reaction3', '😭', 'reaction')
		+comment-reaction-item('reaction4', '😱', 'reaction')
		+comment-reaction-item('reaction5', '🤢', 'reaction')