
mixin readmore(title, url)
	a.readmore(href=url)=title
	
	
mixin widget-title(value)
	.widget-title
		h4.h6.m-0=value
		
mixin widget-prize(img, title, date, style)
	// Prize
	.widget-prize(class=style)
		.d-flex
			.widget-prize-img
				img(src=img, alt=title)
			.widget-prize-legend
				h4.text-warning=date
				.widget-prize-name=title
				block
			
	// -- end Prize
			
mixin winner-widget
	// Winner 
	.winner-widget(class=style)
		.winner-widget-title
			h4.text-warning Yesterday's winner!
		.winner-info
			.winner-user
				img.winner-crown(src='img/badges/crown.svg', width='16', height='16')
				.winner-avatar
					img(src='img/user_01.png')
				.badge.badge-gold.badge-lg 9899 points
				.winner-name iamrossandal
			.winner-state won!
			.winner-prize-img
				img(src='img/prize_01.jpg')
			
	// end Winner


mixin achievement(icon, title)
	span.text-emoji(data-toggle='tooltip' data-placement='top' title=title)=icon

mixin ribbon-xl
	.ribbon.ribbon-xl
		span
		
mixin ribbon-lg
	.ribbon.ribbon-lg
		span
		
mixin ribbon-sm
	.ribbon.ribbon-sm
		span

mixin medal-gold-xl
	.medal-xl.medal-gold
		+ribbon-xl
		.medal-circle
			.medal-content
				.medal-inset
					.medal-number
						| 1
						span st
					span place
					
mixin medal-gold-lg
	.medal-lg.medal-gold
		+ribbon-lg
		.medal-circle
			.medal-content
				.medal-inset
					.medal-number
						| 1

mixin medal-silver-lg
	.medal-lg.medal-silver
		+ribbon-lg
		.medal-circle
			.medal-content
				.medal-inset
					.medal-number
						| 2
						
mixin medal-bronze-lg
	.medal-lg.medal-bronze
		+ribbon-lg
		.medal-circle
			.medal-content
				.medal-inset
					.medal-number
						| 3
						
mixin medal-other-lg
	.medal-lg.medal-other
		+ribbon-lg
		.medal-circle
			.medal-content
				.medal-inset
					.medal-number
						| 10

mixin medal-gold-sm(count)
	.medal-sm.medal-gold
		+ribbon-sm
		.medal-circle
			.medal-number=count

mixin medal-silver-sm(count)
	.medal-sm.medal-silver
		+ribbon-sm
		.medal-circle
			.medal-number=count
						
mixin medal-bronze-sm(count)
	.medal-sm.medal-bronze
		+ribbon-sm
		.medal-circle
			.medal-number=count
			
mixin medal-other-sm(count)
	.medal-sm.medal-other
		+ribbon-sm
		.medal-circle
			.medal-number=count
					
					
					
					
					
mixin sidebar-leaderboard
	// Leaderboard
	.leaderboard-table
		.leaderboard-top
			
			// First Place
			.leaderboard-1st
				+medal-gold-xl
				.leaderboard-1st-avatar
					img.rounded-circle(src='img/user_03.png' alt='')
				.d-flex.flex-column
					a.leaderboard-top-name(href='#0')
						| iamrossandal
				span.badge.badge-gold.badge-lg 9899	
			// end First Place
			
			// Second and Third Place
			
			.leaderboard-2-3
				.leaderboard-2-3-user
					+medal-silver-lg
					.leaderboard-top-avatar
						img.rounded-circle(src='img/user_03.png' alt='')
					.d-flex.flex-column
						a.leaderboard-top-name(href='#0')
							| iamrossandal
					span.badge.badge-gold.badge-lg 9899
					
				.leaderboard-2-3-user
					+medal-bronze-lg
					.leaderboard-top-avatar
						img.rounded-circle(src='img/user_03.png' alt='')
					.d-flex.flex-column
						a.leaderboard-top-name(href='#0')
							| iamrossandal
					span.badge.badge-gold.badge-lg 9899
					
			// end Second and Third Place
				
				
				
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('4')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name samsamasam
			span.badge.badge-gold.ml-auto 543
		
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('5')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name george!
			span.badge.badge-gold.ml-auto 95 
				
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('6')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name danika
			span.badge.badge-gold.ml-auto 8
		
		
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('7')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name danika
			span.badge.badge-gold.ml-auto 8
			
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('8')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name danika
			span.badge.badge-gold.ml-auto 8
			
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('9')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name danika
			span.badge.badge-gold.ml-auto 8
			
		.leaderboard-table-item.top-10
			.px-2
				+medal-other-sm('10')
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name danika
			span.badge.badge-gold.ml-auto 8
			
			
		.leaderboard-table-item
			span.order-number 11
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name jamesssss
					
			span.badge.badge-gold.ml-auto 7
		
		.leaderboard-table-item
			span.order-number 12
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name ewwworld
					
			span.badge.badge-gold.ml-auto 5
		
		.leaderboard-table-item
			span.order-number 13
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name samsamasam
					
			span.badge.badge-gold.ml-auto 5
		
		.leaderboard-table-item
			span.order-number 14
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name george!
			span.badge.badge-gold.ml-auto 5
		
		.leaderboard-table-item.bg-primary.text-white.my-stats
			span.order-number 999+
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name You (solistra)
			span.badge.badge-gold.ml-auto 543
	// -- end Leaderboard
	
mixin meme-card-tagline
	.meme-card-tagline
		a.meme-tag.meme-category(href='#0') Animals
		| 
		a.meme-tag(href='#0') #funny
		| 
		a.meme-tag(href='#0') #it nerds
		| 
		a.meme-tag(href='#0') #lotr
		| 
		a.meme-tag(href='#0') #frodo
			
mixin meme-card-top-comment
	.meme-card-top-comment
		.comment-box.comment-item
			a.comment-author(href='user-page.html')
				.comment-author-image
					img.rounded-circle(src='img/user_01.png')
			.comment-content
				.comment-legend
					.text-xs.fw-600.mb-1 Top Comment
				.comment-body.text-xs 
					a.text-dark.fw-600(href='user-page.html') Ohiammarty
					| : 
					| Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
				.comment-footer.text-xs
					.vote-control-tiny
						.tiny-btn-group
							a.btn.btn-secondary.btn-upvote(href='#0')
								i.bx.bxs-like
							a.btn.btn-secondary.btn-downvote(href='#0')
								i.bx.bxs-dislike
						span.votes.fw-500.ml-1 +58
					a.ml-4.text-dark(href='#0')
						i.bx.bx-message-rounded 
						span 4
		
			
mixin meme-card-tagline-3
	.meme-card-tagline.hidden-xs
		a.meme-tag.meme-category(href='#0') Animals
		| 
		a.meme-tag(href='#0') #funny
		| 
		a.meme-tag(href='#0') #it nerds
		| 
		a.meme-tag(href='#0') #lotr
		| 
		a.meme-tag(href='#0') #frodo
		a.report-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
			i.bx.bxs-flag-alt
			
mixin meme-card-tagline-2
	.meme-card-tagline
		a.meme-tag.meme-category(href='#0') Animals
		| 
		a.meme-tag(href='#0') #funny
		| 
		a.meme-tag(href='#0') #it nerds
		| 
		a.meme-tag(href='#0') #lotr
		| 
		a.meme-tag(href='#0') #frodo
		
		.meme-card-btns
			a.btn.btn-sm.btn-light.text-dark.ml-auto Edit
			a.btn.btn-sm.btn-light.text-danger.ml-1 Delete
		
		
		
mixin referral-box
	// Referal Box
	.referral-box.bg-primary.text-white
		.fw-500.text-md.mb-1 Refer Friends & Earn $100
		.text-xs Introduce a friend to fintech and you'll be credited $100 to your account
		.input-group.mt-2
			input.form-control.form-control-sm#referralLink(type='text', value="https://entermeme.com/ref?49100", aria-label="Referral Link", aria-describedby='copy-button' readonly)
			.input-group-append
				button#copy-button.btn.btn-dark.btn-sm.text-xs(type='button' onclick='copyToClipboard()') Copy Link
		script.
			function copyToClipboard() {
				var textBox = document.getElementById("referralLink");
				textBox.select();
				document.execCommand("copy");
			}

	// end Referal Box
	

mixin job-message-form
	form.w-100
		.form-group.mb-2
			textarea.form-control(rows='2') Your message
		.d-flex.justify-content-end.w-100
			.custom-file.chat-file.mr-3
				input#chatFile.custom-file-input(type='file')
				label.custom-file-label(for='chatFile')
					+icon-add-img('20', '#666666') 
					span.ml-1.text-xs.fw-500 Add Image
			a.btn.btn-primary.px-4(href='#0') Message
	
mixin share-btn-stack
	.share-btn-stack
		.btn-stack-label Share 
			| &nbsp;
			span.hidden-xxs and Earn
			| &nbsp;
			span.d-none.d-lg-inline Points
			span.badge.badge-gold +10

		.share-btn-group
			a.btn.btn-fb(href='#0')
				+icon-facebook('16')
			a.btn.btn-tw(href='#0')
				+icon-twitter('16')
			a.btn.btn-pn.d-none.d-xl-flex(href='#0')
				+icon-pinterest('16')
			a.btn.btn-wh.d-none.d-xl-flex(href='#0')
				+icon-whatsapp('16')
			a.btn.btn-ln.d-none.d-xl-flex(href='#0')
				+icon-linkedin('16')
			a.btn.btn-url.d-none.d-xl-flex(href='#0')
				+icon-link('16')

			.btn-group.d-flex.d-xl-none(role='group')
				a.btn.btn-light.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				.dropdown-menu.dropdown-menu-right.text-md.px-1.py-0
					a.btn-pn.text-white.dropdown-item.my-1.rounded(href='#')
						+icon-pinterest('12')
						|  Pinterest
					a.btn-wh.text-white.dropdown-item.my-1.rounded(href='#')
						+icon-whatsapp('12')
						|  Whatsapp
					a.btn-ln.text-white.dropdown-item.my-1.rounded(href='#') 
						+icon-linkedin('12')
						|  Linkedin
					a.btn-url.text-white.dropdown-item.my-1.rounded(href='#') 
						+icon-link('12')
						|  Copy Link
						
mixin vote-btn-stack
	.vote-btn-stack
		.btn-stack-label Vote
			span.badge.badge-gold +1
		.vote-counter
			span.votes.fw-500 +58
			.vote-btn-group
				a.btn.btn-success(href='#0')
					span
						+icon-upvote
				a.btn.btn-danger(href='#0')
					span 
						+icon-downvote

mixin medal(color,count,tooltip)
	.user-medal(class=color data-toggle="tooltip" data-placement="top" title=tooltip)
		.medal-count
			span=count

mixin meme-author
	a.meme-card-author.text-dark(href='user-page.html')
		img.meme-avatar(src='img/user_01.png')
		.meme-card-author-medals
			.medal-sm.medal-gold(data-toggle="tooltip" data-placement="top" title='12 Gold Medals')
				+ribbon-sm
				.medal-circle
					.medal-number 12
			
			.medal-sm.medal-silver(data-toggle="tooltip" data-placement="top" title='6 Silver Medals')
				+ribbon-sm
				.medal-circle
					.medal-number 6
			
			.medal-sm.medal-bronze(data-toggle="tooltip" data-placement="top" title='29 Bronze Medals')
				+ribbon-sm
				.medal-circle
					.medal-number 29
			
		.meme-card-name
			span.name-value Ohiammarty
			span.badge.badge-gold 784
			
mixin meme-author2
	a.meme-card-author.text-dark(href='user-page.html')
		img.meme-avatar(src='img/user_01.png')
		.meme-card-author-medals
			.medal-sm.medal-gold(data-toggle="tooltip" data-placement="top" title='12 Gold Medals')
				+ribbon-sm
				.medal-circle
					.medal-number 12
			
			.medal-sm.medal-silver(data-toggle="tooltip" data-placement="top" title='6 Silver Medals')
				+ribbon-sm
				.medal-circle
					.medal-number 6
		.meme-card-name
			span.name-value Ohiammarty
			span.badge.badge-gold 155
			
mixin meme-author3
	a.meme-card-author.text-dark(href='user-page.html')
		img.meme-avatar(src='img/user_01.png')
		.meme-card-author-medals
			.medal-sm.medal-gold(data-toggle="tooltip" data-placement="top" title='12 Gold Medals')
				+ribbon-sm
				.medal-circle
					.medal-number 12
		.meme-card-name
			span.name-value Ohiammarty
			span.badge.badge-gold 784
	
mixin template-item-blank
	a.template-grid-item(href='meme-builder-blank.html')
		.template-grid-item-blank.text-center
			span.h6 Blank Page
			span.text-xs.mb-2 You can upload your images to create a meme with them
				
			
mixin template-item(img, title)
	.template-grid-item
		a.template-grid-item-img(href='meme-builder.html')
			img(src=img alt=title)
		a.template-grid-item-content.h6.mb-1.fw-500(href='meme-builder.html')=title
		.d-flex
			.vote-control-tiny
				.tiny-btn-group
					a.btn.btn-secondary.btn-upvote(href='#0' data-toggle='tooltip' data-placement='top' title='Upvote')
						i.bx.bxs-like
					a.btn.btn-secondary.btn-downvote(href='#0' data-toggle='tooltip' data-placement='top' title='Downvote')
						i.bx.bxs-dislike
				span.votes.fw-500.ml-1.text-muted +58
			
			a.report-btn.ml-auto.py-0.px-1(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
				i.bx.bxs-flag-alt.text-xs
	
mixin meme-card-controls
	.meme-card-controls
		.share-btn-stack

			.share-btn-group
				a.btn.btn-fb.d-none.d-xl-flex(href='#0')
					i.bx.bxl-facebook
				a.btn.btn-tw.d-none.d-xl-flex(href='#0')
					i.bx.bxl-twitter
				a.btn.btn-pn.d-none.d-xl-flex(href='#0')
					i.bx.bxl-pinterest
				a.btn.btn-wh.d-none.d-xl-flex(href='#0')
					i.bx.bxl-whatsapp
				a.btn.btn-ln.d-none.d-xl-flex(href='#0')
					i.bx.bxl-linkedin
				a.btn.btn-url.d-none.d-xl-flex(href='#0')
					i.bx.bx-link

				.btn-group.d-flex.d-xl-none(role='group')
					a.btn.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						i.bx.bx-share-alt
					.dropdown-menu.text-md.px-1.py-0
						a.btn-fb.text-white.dropdown-item.my-1.rounded(href='#')
							i.bx.bxl-facebook
							|  Facebook
						a.btn-tw.text-white.dropdown-item.my-1.rounded(href='#')
							i.bx.bxl-twitter
							|  Twitter
						a.btn-pn.text-white.dropdown-item.my-1.rounded(href='#')
							i.bx.bxl-pinterest
							|  Pinterest
						a.btn-wh.text-white.dropdown-item.my-1.rounded(href='#')
							i.bx.bxl-whatsapp
							|  Whatsapp
						a.btn-ln.text-white.dropdown-item.my-1.rounded(href='#') 
							i.bx.bxl-linkedin
							|  Linkedin
						a.btn-url.text-white.dropdown-item.my-1.rounded(href='#') 
							i.bx.bx-link
							|  Copy Link

		.market-btn-stack
			.market-btn-group
				a.btn.btn-buy(href='#0' data-toggle="modal" data-target="#buyModal") Buy
				a.btn.btn-sell(href='#0' data-toggle="modal" data-target="#sellModal") Sell
				a.ml-1(href='#0')
					i.bx.bxs-help-circle(data-toggle="tooltip" data-placement="top" title="What is it?")

		.vote-btn-stack
			.vote-counter
				span.votes.fw-500 +58
				.vote-btn-group
					a.btn.btn-success(href='#0')
						i.bx.bxs-like
					a.btn.btn-danger(href='#0')
						i.bx.bxs-dislike
						
mixin mypage-tabs
	.scroll-x.mt-4.mb-3
		ul.nav.nav-scroll.mb-2(role='tablist')
			li.nav-item(role='presentation')
				a#my-memes-tab.nav-link.active(data-toggle='pill' href='#my-memes' role='tab' aria-controls='my-memes' aria-selected='true') My Memes
			li.nav-item(role='presentation')
				a#my-memeconomy-tab.nav-link(data-toggle='pill' href='#my-memeconomy' role='tab' aria-controls='my-stats' aria-selected='false') Memeconomy
			li.nav-item(role='presentation')
				a#my-stats-tab.nav-link(data-toggle='pill' href='#my-stats' role='tab' aria-controls='my-stats' aria-selected='false') Stats
			li.nav-item(role='presentation')
				a#my-membership-tab.nav-link(data-toggle='pill' href='#my-membership' role='tab' aria-controls='my-membership' aria-selected='false') Subscription
			li.nav-item(role='presentation')
				a#my-affiliates-tab.nav-link(data-toggle='pill' href='#my-affiliates' role='tab' aria-controls='my-affiliates' aria-selected='false') Affiliates
				
mixin mymemes-tab
	#my-memes.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='my-memes-tab')
		// Meme Item
		.meme-card
			.meme-card-header
				h3.meme-card-title A Pocket Pc Is Portability At It S Best
				+meme-author
			.meme-card-body
				img(src='content/meme-01.png')
			.meme-card-footer
				+meme-card-controls
				+meme-card-top-comment
				a.meme-fn-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Edit Meme')
					i.bx.bxs-pencil
		// -- end Meme
		
mixin mystats-tab
	#my-stats.tab-pane.fade(role='tabpanel' aria-labelledby='my-stats-tab')
		.card
			.card-header.border-bottom
				h4.mt-1.mb-0 My Stats
			.card-body
				.table-responsive
					table.table.table-hover.table-borderless.user-stats-table
						tbody
							tr
								th Top meme
								th.text-success.text-right(colspan='3') Upvote 8
							tr
								th.fw-600
									h5.mb-0 Engagements
								td.fw-600 Count
								td.fw-600 Points
								td.fw-600 Total
							tr
								th Memes Uploaded
								td 107
								td 5
								td.fw-600
									| 535
							tr
								th Upvotes Received
								td 42
								td 1
								td.fw-600
									| 42
							tr
								th Comments Received
								td 0
								td 2
								td.fw-600
									| 0
							tr
								th Shares Received
								td 5
								td 2
								td.fw-600
									| 10
							tr
								th Downvotes Received
								td 3
								td -1
								td.fw-600
									| -3
							tr
								th Upload Adult Content
								td 0
								td -10
								td.fw-600
									| 0
							tr
								th Red Flags Received
								td 0
								td -10
								td.fw-600
									| 0
							tr
								th Upvotes Given
								td 0
								td 1
								td.fw-600
									| 0
							tr
								th Downvotes Given
								td 0
								td 1
								td.fw-600
									| 0
							tr
								th Shares Given
								td 0
								td 10
								td.fw-600
									| 0
							tr
								th Comments Given
								td 0
								td 1
								td.fw-600
									| 0
							tr
								th Daily Winner
								td 0
								td 50
								td.fw-600
									| 0
							tr
								th Top 5 Categories
								td(colspan='3') 
									a.meme-tag.meme-category(href='#0') Animals
									| 
									a.meme-tag.meme-category(href='#0') Books
									| 
									a.meme-tag.meme-category(href='#0') Politics
									| 
									a.meme-tag.meme-category(href='#0') Conspiracy Theory
									| 
									a.meme-tag.meme-category(href='#0') Family
							| 
							
mixin mymembership-tab
	#my-membership.tab-pane.fade(role='tabpanel' aria-labelledby='my-membership-tab')
		.card
			.card-header.border-bottom
				h4.mt-1.mb-0 My Membership
			.card-body
				.d-flex.justify-content-between.text-xs.align-items-center.border.rounded.px-3.py-2
					dl.mb-0
						dt.text-muted Free Subscription
						dd.mb-0 Boosts left: 12
					a.btn.text-xs.btn-warning.btn-sm(href='subscription.html') Become a PRO
					
mixin myaffiliates-tab
	#my-affiliates.tab-pane.fade(role='tabpanel' aria-labelledby='my-affiliates-tab')
		.card
			.card-header.border-bottom
				h4.mt-1.mb-0 My Affiliates
			.card-body
				.form-group.mb-0
					label(for='affiliateLink') Your affiliate program link
					.input-group
						input#affiliateLink.form-control(type='text' value='https://entermeme.com/invite/u/bekzats' readonly='readonly')
						.input-group-append
							button#button-addon2.btn.btn-secondary(type='button')
								| Copy  
								span.hidden-xs  Link
				hr
				.row.align-items-center
					.col-6
						label.my-3 Share your invite link
					.col-6
						.share-btn-group
							a.btn.btn-fb(href='#0')
								+icon-facebook('16')
							a.btn.btn-tw(href='#0')
								+icon-twitter('16')
							a.btn.btn-pn.d-none.d-xl-flex(href='#0')
								+icon-pinterest('16')
							a.btn.btn-wh.d-none.d-xl-flex(href='#0')
								+icon-whatsapp('16')
							a.btn.btn-ln.d-none.d-xl-flex(href='#0')
								+icon-linkedin('16')
							a.btn.btn-url.d-none.d-xl-flex(href='#0')
								+icon-link('16')

							.btn-group.d-flex.d-xl-none(role='group')
								a.btn.btn-light.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								.dropdown-menu.dropdown-menu-right.text-md.px-1.py-0
									a.btn-pn.text-white.dropdown-item.my-1.rounded(href='#')
										+icon-pinterest('12')
										|  Pinterest
									a.btn-wh.text-white.dropdown-item.my-1.rounded(href='#')
										+icon-whatsapp('12')
										|  Whatsapp
									a.btn-ln.text-white.dropdown-item.my-1.rounded(href='#') 
										+icon-linkedin('12')
										|  Linkedin
									a.btn-url.text-white.dropdown-item.my-1.rounded(href='#') 
										+icon-link('12')
										|  Copy Link
				hr
				.table-responsive
					table.table.table-borderless.user-stats-table
						tbody
							tr
								th.px-0 Invites Sent
								td.text-right.px-0 12
							tr
								th.px-0 Friends Joined
								td.text-right.px-0 4
							tr
								td.px-0(colspan='2')
									hr
							tr
								th.px-0 
									h4.mb-0 Points Earned
								td.text-success.text-right.px-0
									h4.mb-0 535