mixin poll-widget
	.poll-widget
		form.widget-form
			.widget-question 🤔 What new feature should we add next to this website?
			.poll-item
				.custom-control.custom-radio
					input#customRadio1.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio1') Ability to upload gifs

			.poll-item
				.custom-control.custom-radio
					input#customRadio2.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio2') Something random that’s funny and dank
			.poll-item
				.custom-control.custom-radio
					input#customRadio3.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio3') A job board to post meme jobs so people can get hired for doing memesdank
			.poll-item
				.custom-control.custom-radio
					input#customRadio4.custom-control-input(type='radio', name='pollWidget')
					label.custom-control-label(for='customRadio4') Other
					input.form-control.form-control-sm(type='text' placeholder='Please describe' disabled)
			button.btn.btn-sm.btn-block.btn-primary.widget-btn(type='submit') Submit answer

mixin sidebar-right
	// Sidebar Right
	.sidebar-right.mobile-offcanvas#sidebarRight
		.sidebar-inner
			+poll-widget
			.sidebar-widget.px-3.pt-2
				a.text-center.text-md.bg-danger.text-white.d-flex.align-items-center.justify-content-center.rounded.p-3(href='#0' data-toggle="modal" data-target="#inviteModal") 
					| Invite a Friend and Earn 50 points!   
					span.badge.badge-gold.ml-1 +50
			
			.sidebar-widget
				+widget-title('Today’s Leaderboard')
				+sidebar-leaderboard

			
	// -- end Sidebar Right


mixin navlink(icon, name, url, state)
	li.nav-item.active
		a.nav-link(href=url class=state) 
			span.text-emoji=icon
			=name
			
			
mixin sidebar-left
	// Sidebar Left
	.sidebar-left.text-md.mobile-offcanvas#sidebarLeft
		.sidebar-inner
			ul.nav.site-nav.flex-column

				+navlink('🏠️', 'Home', 'index.html', 'active')
				+navlink('💥', 'Trending', '#0')
				+navlink('👶', 'Fresh', '#0')
				+navlink('💕', 'Liked', '#0')
				
					
				li.nav-divider
				+navlink('🎁', 'Project Board', 'projects.html')
				+navlink('🏅', 'Create Memes', 'create-memes.html')
				li.nav-section-title Categories
				+navlink('🐾', 'Animals', '#0')
				+navlink('🎭️', 'Art', '#0')
				+navlink('📚️', 'Books', '#0')
				+navlink('👗', 'Fashion', '#0')
				+navlink('💭', 'Comics', '#0')
				+navlink('👽️', 'Conspiracy Theory', '#0')
				+navlink('🎻', 'Culture', '#0')
				+navlink('😁', 'Emoji', '#0')
				+navlink('📺️', 'Entertainment', '#0')
				+navlink('👨‍👩‍👧‍👦', 'Family', '#0')
			+readmore('Show more', '#0')
			.sidebar-footer.text-sm.mt-5.text-center.text-muted
				.px-3.pb-1
					.theme-switcher
						a.theme-dark(href='#0' onclick="themeSwitch()") 
							img(src='img/icons/moon.svg' width='20')
							span Dark Mode
						a.theme-light(href='#0' onclick="themeSwitch()") 
							img(src='img/icons/sun.svg' width='20')
							span Light Mode
				li.nav-divider
				p
					a.d-block.meme-tag(href='#0') Privacy Policy
					a.d-block.meme-tag(href='#0') Terms & Conditions
				.small &copy; - 2020 Entermeme
	// -- end Sidebar Left
		
mixin search
	// Search
	.search-pane
		form.search-form
			.search-icon
				+search-icon('16', '#9AA5B1')
			input.search-field.form-control(placeholder='Search...')
			select#categorySelect.custom-select.bg-light
				option(selected='') Categories
				option(value='1') Animals
				option(value='2') Art
				option(value='3') Automotive
		button.search-toggle-btn.ml-2(onclick="toggleClass('.search-pane', 'search-visible')")
			+icon-dismiss('12', '#9AA5B1')
			| 
			span.hidden-xs.ml-1 Close
	// -- end Search
		
mixin header
	// Header
	header.header
		// Mobile Menu Toggler
		a.mr-auto.mobile-menu-btn(data-trigger='#sidebarLeft' role='button')
			+icon-menu('32', '#1F2933')
		// -- end Mobile Menu Toggler
			
		// Logo for Desktop
		a.website-logo.pl-3.d-none.d-lg-block(href='index.html' title='Entermeme')
			img.logo-dark(src='img/logo.svg' alt='Entermeme' height='26')
			img.logo-white(src='img/logo-white.svg' alt='Entermeme' height='26')
		// -- end Logo
		
		+search
		
		a.search-toggle-btn(onclick="toggleClass('.search-pane', 'search-visible')")
			+search-icon('20', '#323F4B')
			
		a.notification-btn(href='#0')
			+icon-bell-solid('20', '#323F4B')
			.indicator
		
		// User
		.user-controls
			
			// Log In links
			//.d-block.user-login-btn.text-md.fw-500.mr-3 
				a(href='#0' data-toggle="modal" data-target="#loginModal") Log In 
				span.text-muted or  
				a(href='#0' data-toggle="modal" data-target="#registerModal") Sign Up
				
			//For Logged In users Only

			a.user-menu.ml-auto(href='my-page.html')
				img.user-avatar.user-pro(src='img/user_01.png' alt='danika' width='40')
				.badge.badge-gold.user-points 596
				.badge.badge-pro
					span ⍟
			
			
			
		// -- end User
			
		// Upload Button
		a.btn-upload.btn-success(href='new-meme-alt.html')
			span.hidden-xs.mr-1
				+icon-smile('20')
			| Add  
			span.hidden-xs &nbsp;Meme
			|  
			span.badge.badge-gold +5 
				span.hidden-xs points
		// end Upload Button
	// -- end Header
	
	
mixin comment-reaction-item(id, value, name)
	.comment-reaction-item
		input(id=id, type='radio', name=name)
		label(for=id)=value
		
mixin comment-reaction
	.comment-reaction.d-flex
		+comment-reaction-item('reaction1', '😂', 'reaction')
		.comment-reaction-item
			input(id='reaction2', type='radio', name='reaction' checked)
			label(for='reaction2') 😍
		+comment-reaction-item('reaction3', '😭', 'reaction')
		+comment-reaction-item('reaction4', '😱', 'reaction')
		+comment-reaction-item('reaction5', '🤢', 'reaction')
		
		
mixin content-widget
	.content-widget
		.content-widget-body
			img.content-widget-body-winner(src='img/user_01.png' alt='danika')
			img.content-widget-body-prize(src='img/prize_01.jpg', alt='Nomad Powerbank and pocket charger')
			.content-widget-legend
				h4.text-warning Today’s Leader
				.winner-name iammartinho
				.badge.badge-gold.user-points 7295
		.content-widget-footer
			a(data-toggle='modal', data-target='#rulesModal') How to Win
			a(data-trigger='#sidebarRight') Prizes & Winners
			
