
mixin readmore(title, url)
	a.readmore(href=url)=title
	
	
mixin widget-title(value)
	.widget-title
		h4.h6.m-0=value
		
mixin widget-prize(img, title, date, style)
	// Prize
	.widget-prize(class=style)
		.d-flex
			.widget-prize-img
				img(src=img, alt=title)
			.widget-prize-legend
				h4.text-warning=date
				.widget-prize-name=title
				block
			
	// -- end Prize
			
mixin winner-widget
	// Winner 
	.winner-widget(class=style)
		.winner-widget-title
			h4.text-warning Yesterday's winner!
		.winner-info
			.winner-user
				img.winner-crown(src='img/badges/crown.svg', width='16', height='16')
				.winner-avatar
					img(src='img/user_01.png')
				.badge.badge-gold.badge-lg 9899 points
				.winner-name iamrossandal
			.winner-state won!
			.winner-prize-img
				img(src='img/prize_01.jpg')
			
	// end Winner


mixin achievement(icon, title)
	span.text-emoji(data-toggle='tooltip' data-placement='top' title=title)=icon
			
mixin sidebar-leaderboard
	// Leaderboard
	.leaderboard-table
		.leaderboard-top
			
			.leaderboard-user
				a.leaderboard-user-avatar(href='#0')
					img.rounded-circle(src='img/user_03.png')
				.leaderboard-user-position 
					span 1
				
				a.leaderboard-user-name(href='#0')
					| iamrossandal
				.badge.badge-gold.badge-lg 9899
				
			.leaderboard-user
				a.leaderboard-user-avatar(href='#0')
					img.rounded-circle(src='img/user_01.png')
				.leaderboard-user-position
					span 2
				
				a.leaderboard-user-name(href='#0') jjjohndoe
				.badge.badge-gold.badge-lg 9899
				
			.leaderboard-user
				a.leaderboard-user-avatar(href='#0')
					img.rounded-circle(src='img/user_02.png')
				.leaderboard-user-position 
					span 3
				
				a.leaderboard-user-name(href='#0') heysanda
				.badge.badge-gold.badge-lg 9899
				
				
				
		.leaderboard-table-item
			span.order-number 4
			img.rounded-circle(src='img/user_01.png' alt='danika' width='48')
			.user-legend
				.user-legend-name samsamasam
					
			span.badge.badge-gold.ml-auto 543
		
		.leaderboard-table-item
			span.order-number 5
			img.rounded-circle(src='img/user_01.png' alt='danika' width='48')
			.user-legend
				.user-legend-name george!
			
			span.badge.badge-gold.ml-auto 95 
				
		.leaderboard-table-item
			span.order-number 6
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name danika
					
			span.badge.badge-gold.ml-auto 8
		.leaderboard-table-item
			span.order-number 7
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name jamesssss
					
			span.badge.badge-gold.ml-auto 7
		
		.leaderboard-table-item
			span.order-number 8
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name ewwworld
					
			span.badge.badge-gold.ml-auto 5
		
		.leaderboard-table-item
			span.order-number 9
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name samsamasam
					
			span.badge.badge-gold.ml-auto 5
		
		.leaderboard-table-item
			span.order-number 10
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name george!
			span.badge.badge-gold.ml-auto 5
		
		.leaderboard-table-item.bg-primary.text-white.my-stats
			span.order-number 999+
			img.rounded-circle(src='img/user_01.png' alt='danika' width='32')
			.user-legend
				.user-legend-name You (solistra)
			span.badge.badge-gold.ml-auto 543
	// -- end Leaderboard
	
mixin meme-card-tagline
	.meme-card-tagline
		a.meme-tag.meme-category(href='#0') Animals
		| 
		a.meme-tag(href='#0') #funny
		| 
		a.meme-tag(href='#0') #it nerds
		| 
		a.meme-tag(href='#0') #lotr
		| 
		a.meme-tag(href='#0') #frodo
		a.report-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
			+icon-flag('16')
			
mixin meme-card-tagline-3
	.meme-card-tagline.hidden-xs
		a.meme-tag.meme-category(href='#0') Animals
		| 
		a.meme-tag(href='#0') #funny
		| 
		a.meme-tag(href='#0') #it nerds
		| 
		a.meme-tag(href='#0') #lotr
		| 
		a.meme-tag(href='#0') #frodo
		a.report-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
			+icon-flag('16')
			
mixin meme-card-tagline-2
	.meme-card-tagline
		a.meme-tag.meme-category(href='#0') Animals
		| 
		a.meme-tag(href='#0') #funny
		| 
		a.meme-tag(href='#0') #it nerds
		| 
		a.meme-tag(href='#0') #lotr
		| 
		a.meme-tag(href='#0') #frodo
		
		.meme-card-btns
			a.btn.btn-sm.btn-light.text-dark.ml-auto Edit
			a.btn.btn-sm.btn-light.text-danger.ml-1 Delete
		
		
		
mixin referral-box
	// Referal Box
	.referral-box.bg-primary.text-white
		.fw-500.text-md.mb-1 Refer Friends & Earn $100
		.text-xs Introduce a friend to fintech and you'll be credited $100 to your account
		.input-group.mt-2
			input.form-control.form-control-sm#referralLink(type='text', value="https://entermeme.com/ref?49100", aria-label="Referral Link", aria-describedby='copy-button' readonly)
			.input-group-append
				button#copy-button.btn.btn-dark.btn-sm.text-xs(type='button' onclick='copyToClipboard()') Copy Link
		script.
			function copyToClipboard() {
				var textBox = document.getElementById("referralLink");
				textBox.select();
				document.execCommand("copy");
			}

	// end Referal Box
	

mixin job-message-form
	form.w-100
		.form-group.mb-2
			textarea.form-control(rows='2') Your message
		.d-flex.justify-content-end.w-100
			.custom-file.chat-file.mr-3
				input#chatFile.custom-file-input(type='file')
				label.custom-file-label(for='chatFile')
					+icon-add-img('20', '#666666') 
					span.ml-1.text-xs.fw-500 Add Image
			a.btn.btn-primary.px-4(href='#0') Message
	
mixin share-btn-stack
	.share-btn-stack
		.btn-stack-label Share 
			| &nbsp;
			span.hidden-xxs and Earn
			| &nbsp;
			span.d-none.d-lg-inline Points
			span.badge.badge-gold +10

		.share-btn-group
			a.btn.btn-fb(href='#0')
				+icon-facebook('16')
			a.btn.btn-tw(href='#0')
				+icon-twitter('16')
			a.btn.btn-pn.d-none.d-xl-flex(href='#0')
				+icon-pinterest('16')
			a.btn.btn-wh.d-none.d-xl-flex(href='#0')
				+icon-whatsapp('16')
			a.btn.btn-ln.d-none.d-xl-flex(href='#0')
				+icon-linkedin('16')
			a.btn.btn-url.d-none.d-xl-flex(href='#0')
				+icon-link('16')

			.btn-group.d-flex.d-xl-none(role='group')
				a.btn.btn-light.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
				.dropdown-menu.dropdown-menu-right.text-md.px-1.py-0
					a.btn-pn.text-white.dropdown-item.my-1.rounded(href='#')
						+icon-pinterest('12')
						|  Pinterest
					a.btn-wh.text-white.dropdown-item.my-1.rounded(href='#')
						+icon-whatsapp('12')
						|  Whatsapp
					a.btn-ln.text-white.dropdown-item.my-1.rounded(href='#') 
						+icon-linkedin('12')
						|  Linkedin
					a.btn-url.text-white.dropdown-item.my-1.rounded(href='#') 
						+icon-link('12')
						|  Copy Link
						
mixin vote-btn-stack
	.vote-btn-stack
		.btn-stack-label Vote
			span.badge.badge-gold +1
		.vote-counter
			span.votes.fw-500 +58
			.vote-btn-group
				a.btn.btn-success(href='#0')
					span
						+icon-upvote
				a.btn.btn-danger(href='#0')
					span 
						+icon-downvote

mixin medal(color,count,tooltip)
	.user-medal(class=color data-toggle="tooltip" data-placement="top" title=tooltip)
		.medal-count
			span=count

mixin meme-author
	a.meme-card-author.text-dark(href='user-page.html')
		img.meme-avatar(src='img/user_01.png')
		.meme-card-author-medals
			+medal('medal-gold','12','Gold medals')
			+medal('medal-silver','7','Silver medals')
			+medal('medal-bronze','3','Bronze medals')
			
		.meme-card-name
			span.name-value Ohiammarty
			span.badge.badge-gold 784
			
mixin meme-author2
	a.meme-card-author.text-dark(href='user-page.html')
		img.meme-avatar(src='img/user_01.png')
		.meme-card-author-medals
			+medal('medal-gold','5','Gold medals')
			+medal('medal-bronze','8','Bronze medals')
		.meme-card-name
			span.name-value Ohiammarty
			span.badge.badge-gold 155
			
mixin meme-author3
	a.meme-card-author.text-dark(href='user-page.html')
		img.meme-avatar(src='img/user_01.png')
		.meme-card-author-medals
			+medal('medal-silver','8','Silver medals')
		.meme-card-name
			span.name-value Ohiammarty
			span.badge.badge-gold 784
	
mixin template-item-blank
	a.template-grid-item(href='meme-builder-blank.html')
		.template-grid-item-blank.text-center
			span.h6 Blank Page
			span.text-xs.mb-2 You can upload your images to create a meme with them
				
			
mixin template-item(img, title)
	.template-grid-item
		a.template-grid-item-img(href='meme-builder.html')
			img(src=img alt=title)
		a.template-grid-item-content.h6.mb-1.fw-500(href='meme-builder.html')=title
		.d-flex
			.vote-control-tiny
				.tiny-btn-group
					a.btn.btn-secondary.btn-upvote(href='#0' data-toggle='tooltip' data-placement='top' title='Upvote')
						span
							+icon-upvote
					a.btn.btn-secondary.btn-downvote(href='#0' data-toggle='tooltip' data-placement='top' title='Downvote')
						span 
							+icon-downvote
				span.votes.fw-500.ml-1.text-muted +58
			
			a.report-btn.ml-auto.py-0.px-1(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
				+icon-flag('10')
		
	
	
	
	
	
	
	
	