mixin icon-flag(size)
	svg.ui-icon(width=size, height=size, viewBox='0 0 16 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='icon-flag', transform='translate(-4.000000, -2.000000)', fill='#000000', fill-rule='nonzero')
				g(transform='translate(4.000000, 2.000000)')
					polygon(points='10.303 4 7.303 2 2 2 2 0 0 0 0 20 2 20 2 12 6.697 12 9.697 14 16 14 16 4')
					
mixin search-icon(size, color)
	svg(width=size, height=size, viewBox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-2.000000, -2.000000)', fill=color, fill-rule='nonzero')
				path(d='M10.4210526,2 C15.0642105,2 18.8421053,5.77789474 18.8421053,10.4210526 C18.8416559,12.289934 18.2157893,14.10491 17.0642105,15.5768421 L17.0642105,15.5768421 L21.6915789,20.2042105 L20.2031579,21.6926316 L15.5757895,17.0652632 C14.1040044,18.2162427 12.289449,18.8417215 10.4210526,18.8421053 C5.77789474,18.8421053 2,15.0642105 2,10.4210526 C2,5.77789474 5.77789474,2 10.4210526,2 Z M10.4210526,4.10526316 C6.93789474,4.10526316 4.10526316,6.93789474 4.10526316,10.4210526 C4.10526316,13.9042105 6.93789474,16.7368421 10.4210526,16.7368421 C13.9042105,16.7368421 16.7368421,13.9042105 16.7368421,10.4210526 C16.7368421,6.93789474 13.9042105,4.10526316 10.4210526,4.10526316 Z M7.44631579,7.44421053 C9.03894737,5.85263158 11.8021053,5.85263158 13.3957895,7.44421053 C14.1885117,8.23178835 14.6334606,9.30360744 14.6315849,10.4210526 L14.6315849,10.4210526 L12.5263158,10.4210526 C12.5263158,9.86105263 12.3063158,9.33263158 11.9073684,8.93263158 C11.1115789,8.13894737 9.73263158,8.13684211 8.93263158,8.93473684 L8.93263158,8.93473684 Z')
				
mixin icon-dismiss(size, color)
	svg(width=size, height=size, viewBox='0 0 16 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-4.000000, -4.000000)', fill=color, fill-rule='nonzero')
				polygon#Path(points='18.0001768 4 11.9992928 9.99946964 5.99982321 4 4 5.99982321 9.99946964 11.9992928 4 17.9987625 5.99982321 19.9985857 11.9992928 13.9991161 18.0001768 19.9985857 20 17.9987625 14.0005304 11.9992928 20 5.99982321')

					
mixin icon-comment(size)
	svg.ui-icon(width=size, height=size, viewBox='0 0 22 22', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-1.000000, -1.000000)', fill='#000000', fill-rule='nonzero')
				path(d='M12,1 C5.93467394,1 1,5.40114651 1,10.9993685 C1,16.5975906 5.93467394,20.9987371 12,20.9987371 L12.3842877,20.9938509 C13.2650607,20.9708815 14.0384309,20.8657667 14.7866667,20.6537589 L19.9046017,22.9249108 L20.0016234,22.9615013 C20.6169602,23.1535261 21.2364753,22.601143 21.1606249,21.8840571 L20.65975,17.1489802 L20.773635,17.014386 C22.2029964,15.2622298 23,13.1881897 23,10.9993685 C23,5.40114651 18.0653261,1 12,1 Z M12,2.99987371 C17.1250586,2.99987371 21.1666667,6.60451094 21.1666667,10.9993685 C21.1666667,12.8351543 20.4203286,14.5991146 19.0518188,16.0919402 L18.973296,16.1895042 C18.8289648,16.3942522 18.7618826,16.6537057 18.7893751,16.9136192 L19.1619167,20.4357726 L15.187065,18.6725886 C14.9933683,18.5866393 14.7785545,18.5755144 14.5782644,18.6410597 C13.8117951,18.8918883 13.0076487,18.9988634 12,18.9988634 C6.87494144,18.9988634 2.83333333,15.3942261 2.83333333,10.9993685 C2.83333333,6.60451094 6.87494144,2.99987371 12,2.99987371 Z')

mixin icon-smile(size)
	svg.ui-icon(width=size, height=size, viewBox='0 0 20 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='icon-smile', transform='translate(-2.000000, -2.000000)', fill='#000000', fill-rule='nonzero')
				g(transform='translate(2.000000, 2.000000)')
					path(d='M10,0 C15.514,0 20,4.486 20,10 C20,15.514 15.514,20 10,20 C4.486,20 0,15.514 0,10 C0,4.486 4.486,0 10,0 Z M10,2 C5.589,2 2,5.589 2,10 C2,14.411 5.589,18 10,18 C14.411,18 18,14.411 18,10 C18,5.589 14.411,2 10,2 Z M13.318,12.236 L14.976,13.355 C14.762,13.673 14.514,13.973 14.242,14.244 C13.968,14.517 13.669,14.763 13.356,14.975 C12.7062352,15.4141157 11.9763448,15.720955 11.208,15.878 C10.4112027,16.0405194 9.58979734,16.0405194 8.793,15.878 C8.02458532,15.7211811 7.29465219,15.4143237 6.645,14.975 C6.00659541,14.542958 5.45643584,13.9931379 5.024,13.355 L5.024,13.355 L6.682,12.236 C7.75145008,13.8225453 9.79431275,14.4301659 11.557,13.686 C12.0317376,13.4835531 12.4634646,13.1923411 12.829,12.828 C13.0105293,12.6467337 13.1742772,12.448495 13.318,12.236 L13.318,12.236 Z M6.5,7 C7.32842712,7 8,7.67157288 8,8.5 C8,9.32842712 7.32842712,10 6.5,10 C5.67157288,10 5,9.32842712 5,8.5 C5,7.67157288 5.67157288,7 6.5,7 Z M13.493,7 C14.3175611,7 14.986,7.66843887 14.986,8.493 C14.986,9.31756113 14.3175611,9.986 13.493,9.986 C12.6684389,9.986 12,9.31756113 12,8.493 C12,7.66843887 12.6684389,7 13.493,7 Z')


mixin icon-facebook(size)
	svg.ui-icon(width=size, height=size, viewBox='0 0 10 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-7.000000, -4.000000)', fill='#ffffff', fill-rule='nonzero')
				path(d='M9.93202182,20 L9.90909091,12.7272727 L7,12.7272727 L7,9.81818182 L9.90909091,9.81818182 L9.90909091,8 C9.90909091,5.3008 11.5805964,4 13.9884655,4 C15.1418618,4 16.1331418,4.08586909 16.4220291,4.12425455 L16.4220291,6.94507636 L14.7520436,6.94583273 C13.4425091,6.94583273 13.1889527,7.56810182 13.1889527,8.48124364 L13.1889527,9.81818182 L17,9.81818182 L15.5454545,12.7272727 L13.1889527,12.7272727 L13.1889527,20 L9.93202182,20 Z')
				
mixin icon-pinterest(size)
	svg(width=size, height=size, viewBox='0 0 13 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='icons/pinterest', transform='translate(-6.000000, -4.000000)', fill='#FFFFFF', fill-rule='nonzero')
				path#Path(d='M6,9.73758229 C6,9.04605074 6.12094122,8.39274009 6.35915517,7.78298348 C6.58675063,7.19073827 6.92489362,6.64717568 7.35556503,6.1812613 C7.78536012,5.72146402 8.2771937,5.32386863 8.81684764,4.99996897 C9.37053075,4.66500476 9.96996159,4.41229765 10.5963414,4.24977279 C11.2302849,4.0833086 11.8830618,3.9993588 12.5384962,4 C13.5509055,4 14.493095,4.21421847 15.3668425,4.64087033 C16.2291832,5.05974204 16.9631769,5.70256216 17.492102,6.50213905 C18.0378609,7.31544415 18.3089626,8.23541222 18.3089626,9.26115439 C18.3089626,9.87624415 18.2485202,10.478001 18.124969,11.0664251 C18.0036519,11.6545223 17.8108178,12.2255622 17.5507667,12.7668105 C17.3028924,13.2907534 16.9787956,13.7751014 16.5890223,14.2040939 C16.1972844,14.6262631 15.7228716,14.9633141 15.1952929,15.1942818 C14.6225175,15.4453026 14.0029086,15.5716483 13.3775782,15.5649356 C12.9429266,15.5649356 12.5091639,15.4627169 12.0807343,15.2573907 C11.6523048,15.0529533 11.3447599,14.7720742 11.1598774,14.4120867 C11.0949908,14.6618558 11.006105,15.0227322 10.8878869,15.4947158 C10.774113,15.9658105 10.6976712,16.2698 10.6638946,16.407573 C10.6283403,16.5444571 10.5625648,16.7728936 10.4665681,17.0893271 C10.4014658,17.3234007 10.317949,17.5519575 10.216799,17.7728589 L9.91103187,18.3719492 C9.77879842,18.6290254 9.63097225,18.8777771 9.46838057,19.1168123 C9.30749727,19.3496931 9.10839307,19.6279056 8.87106798,19.9478945 L8.73862813,19.995004 L8.65063118,19.8990073 C8.55552337,18.8919312 8.50663618,18.2892854 8.50663618,18.0901812 C8.50663618,17.5008684 8.57685597,16.839558 8.71551782,16.1053612 C8.8515131,15.3720534 9.06661674,14.4503076 9.3554956,13.3419016 C9.64437446,12.2343845 9.80970206,11.5828516 9.85414496,11.3899694 C9.65059647,10.9748727 9.54748894,10.4326693 9.54748894,9.76602575 C9.54748894,9.23359979 9.71370539,8.73495043 10.0470272,8.26563339 C10.3812378,7.79809406 10.8034453,7.5643244 11.3154276,7.5643244 C11.707414,7.5643244 12.0114034,7.69409767 12.2291736,7.95453308 C12.4478327,8.21407962 12.5544957,8.54117938 12.5544957,8.94027664 C12.5544957,9.36337306 12.4140561,9.97579625 12.1313992,10.7766573 C11.8487424,11.5784073 11.7083028,12.1766087 11.7083028,12.5739283 C11.7083028,12.976581 11.8522978,13.3134582 12.1402878,13.577449 C12.4244967,13.8415725 12.8003477,13.9847083 13.1882514,13.9765463 C13.5402392,13.9765463 13.8664501,13.896549 14.1695507,13.7356657 C14.4679134,13.5794978 14.7261727,13.3565248 14.9241912,13.0841328 C15.355484,12.4924171 15.6629427,11.8197568 15.8281598,11.1064237 C15.9134902,10.7313256 15.9792657,10.3748935 16.0201531,10.039794 C16.0637072,9.70291683 16.0823732,9.38470565 16.0823732,9.08249392 C16.0823732,7.97408796 15.7303854,7.11011795 15.0308541,6.49147276 C14.3277674,5.87282756 13.4122437,5.56528268 12.2860605,5.56528268 C11.0052161,5.56528268 9.93414218,5.97949053 9.07639418,6.81057279 C8.21775732,7.63898848 7.78577232,8.69228525 7.78577232,9.96957424 C7.78577232,10.2513422 7.8284375,10.5233328 7.90932358,10.7864348 C7.98843195,11.0486479 8.07465118,11.2575295 8.16798127,11.4121908 C8.26042251,11.5641856 8.34753059,11.7126248 8.42663896,11.849509 C8.50663618,11.9863931 8.54841251,12.0841675 8.54841251,12.1428321 C8.54841251,12.3223815 8.50130303,12.5561511 8.40619522,12.84503 C8.30753198,13.1339088 8.19109158,13.2779038 8.05065201,13.2779038 C8.03731914,13.2779038 7.98220994,13.2681264 7.88621327,13.2476827 C7.5537476,13.1484259 7.25350306,12.9628815 7.01602126,12.7099236 C6.76397472,12.447758 6.56506302,12.1392789 6.43026382,11.8015106 C6.29584887,11.4649463 6.19115653,11.1172607 6.11738579,10.7624356 C6.03768334,10.4266951 5.99829559,10.0826491 6,9.73758229 L6,9.73758229 Z')


mixin icon-twitter(size)
	svg(width=size, height=size, viewBox='0 0 16 13', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-4.000000, -6.000000)', fill='#ffffff', fill-rule='nonzero')
				path(d='M20,7.5389028 C19.4113233,7.79991838 18.7787033,7.976366 18.1146433,8.05567845 C18.7924167,7.64952499 19.31291,7.00635398 19.55798,6.2399869 C18.9237533,6.616087 18.2212333,6.88921323 17.4735,7.03641066 C16.8747133,6.39855181 16.0215867,6 15.0774833,6 C13.2645333,6 11.7947933,7.46941818 11.7947933,9.2817938 C11.7947933,9.53904021 11.8238267,9.78948146 11.8797767,10.0297016 C9.15164333,9.89284858 6.73287667,8.58628437 5.11385,6.60071707 C4.83129,7.08543981 4.66943333,7.64918173 4.66943333,8.25063864 C4.66943333,9.38921669 5.24896,10.3937411 6.12974333,10.9822875 C5.59165333,10.9652613 5.08550333,10.8176073 4.64291,10.5717883 C4.64268,10.585502 4.64263,10.5992189 4.64263,10.6130459 C4.64263,12.203174 5.77413667,13.5296272 7.27583,13.8311005 C7.00035667,13.9060639 6.71036,13.9461817 6.41099667,13.9461817 C6.19947,13.9461817 5.99383333,13.9256095 5.79339667,13.8873247 C6.21112667,15.1911495 7.4234,16.1400195 8.85982667,16.1665337 C7.73637333,17.0467256 6.32098,17.5713861 4.78305333,17.5713861 C4.51809,17.5713828 4.25678667,17.5558429 4,17.5255563 C5.45271333,18.4567102 7.17815667,19 9.03191,19 C15.0698233,19 18.3715433,13.9992033 18.3715433,9.66234626 C18.3715433,9.52006441 18.3683467,9.37852906 18.3620567,9.23779353 C19.00337,8.77507259 19.5599267,8.1970405 20,7.5389028 Z')
			
			
mixin icon-linkedin(size)
	svg(width=size, height=size, viewBox='0 0 16 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-4.000000, -4.000000)', fill='#ffffff', fill-rule='nonzero')
				path(d='M16.0221917,9.04809068 C19.3812689,9.04809068 20,11.260482 20,14.1393199 L20,14.1393199 L20,20 L16.6857457,20 L16.6856024,14.6729156 C16.6822918,13.4554919 16.6059495,11.9691868 14.9622631,11.9691868 C13.2361439,11.9691868 12.9742378,13.3196875 12.9742378,14.7142071 L12.9742378,14.7142071 L12.9742378,19.9991196 L9.66174128,19.9991196 L9.66174128,9.31220425 L12.8415271,9.31220425 L12.8415271,10.7736327 L12.8863499,10.7736327 C13.3284263,9.93463189 14.409448,9.04809068 16.0221917,9.04809068 Z M7.58143367,9.31220425 L7.58143367,19.9991196 L4.26366383,19.9991196 L4.26366383,9.31220425 L7.58143367,9.31220425 Z M5.92298819,4 C6.98502524,4 7.84597638,4.86241969 7.84597638,5.9262683 C7.84597638,6.9901169 6.98502524,7.85253659 5.92298819,7.85253659 C4.86095114,7.85253659 4,6.9901169 4,5.9262683 C4,4.86241969 4.86095114,4 5.92298819,4 Z')
				
mixin icon-google(size)
	svg(width=size, height=size, viewBox='0 0 16 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-4.000000, -4.000000)', fill='#ffffff', fill-rule='nonzero')
				g(transform='translate(4.000000, 4.000000)')
					path(d='M15.4564268,6.54488982 L8,6.54488982 L8,9.63509327 L12.2910054,9.63509327 C11.891634,11.5988186 10.2198258,12.7270876 8,12.7270876 C6.7454879,12.7292323 5.54175196,12.2317669 4.65475972,11.3446066 C3.76776748,10.4574464 3.27053006,9.25361621 3.27291238,7.99910321 C3.27076838,6.74474522 3.76811101,5.54114554 4.65507734,4.65417921 C5.54204368,3.76721288 6.74564336,3.26987024 8,3.27201425 C9.1273749,3.27201425 10.1463988,3.67228111 10.9460371,4.32685622 L13.2742112,1.99957753 C11.8558159,0.762958883 10.0371537,0 8,0 C5.87638197,-0.00617323376 3.8379511,0.834684275 2.33631903,2.33631635 C0.834686959,3.83794842 -0.00617054998,5.87637929 0,8 C-0.00641060699,10.1236911 0.834369803,12.1622616 2.33605408,13.6639459 C3.83773836,15.1656302 5.87630886,16.0064106 8,16 C11.9999836,16 15.637308,13.090641 15.637308,8 C15.637308,7.52720022 15.5647764,7.01768826 15.4564268,6.54488982 L15.4564268,6.54488982 Z')

				
				
				
mixin icon-whatsapp(size)
	svg(width=size, height=size, viewBox='0 0 16 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-4.000000, -4.000000)', fill='#ffffff', fill-rule='nonzero')
				path(d='M12.0334055,4 C14.1645212,4.00084667 16.1647714,4.82657333 17.6688413,6.32515333 C19.1729515,7.82374 20.0008225,9.81573333 20,11.9341933 C19.9982511,16.2231533 16.5577119,19.7280143 12.2811466,19.8587463 L12.0334926,19.8625267 L12.0302313,19.8625267 C10.696892,19.86198 9.38680329,19.5291133 8.22321012,18.8975133 L4,20 L5.13019707,15.8915267 C4.43306442,14.6892333 4.06622968,13.3252133 4.06679889,11.9278667 C4.06856011,7.55642667 7.64235106,4 12.0334055,4 Z M12.036111,5.33905333 C8.38373505,5.33905333 5.41332393,8.29500667 5.41186351,11.92838 C5.41135512,13.1734867 5.76143489,14.38616 6.42424731,15.4353667 L6.58170519,15.6846667 L5.91277205,18.1163733 L8.41886558,17.46212 L8.66066083,17.6049533 C9.67727635,18.20538 10.8426441,18.52302 12.0307738,18.52348 L12.0334859,18.52348 C15.6830626,18.52348 18.653447,15.5673133 18.6549274,11.9336933 C18.6556033,10.1729 17.9675178,8.51722667 16.7173639,7.27165333 C15.4672101,6.02608 13.8046912,5.33972667 12.036111,5.33905333 Z M9.21299224,8.26657333 C9.34569267,8.26657333 9.47852704,8.26778667 9.59449929,8.27353333 C9.71668602,8.27958667 9.88080035,8.22732 10.0423633,8.61362 C10.2082522,9.01025333 10.6063401,9.98533333 10.6561095,10.0844867 C10.7058721,10.1836467 10.7390539,10.2993333 10.672697,10.4315533 C10.6063535,10.5637533 10.5731717,10.6463867 10.4736531,10.7620733 C10.374121,10.87776 10.264611,11.02038 10.1750771,11.1091333 C10.0754312,11.20788 9.97166693,11.3151133 10.0877798,11.5134333 C10.2038927,11.7117533 10.6034204,12.3605467 11.1951481,12.8858067 C11.9554567,13.5607133 12.5968467,13.76992 12.7959107,13.8690667 C12.9949547,13.96824 13.1110742,13.9517 13.2271737,13.81948 C13.3432933,13.68728 13.7247736,13.2410467 13.8574606,13.0427467 C13.9901677,12.8444267 14.1228548,12.87748 14.3053112,12.94358 C14.4877877,13.0096733 15.46644,13.48896 15.665504,13.5881067 C15.864548,13.68728 15.9972618,13.7368667 16.0470044,13.81948 C16.0967738,13.90212 16.0967738,14.29876 15.9309049,14.7615067 C15.765016,15.2242533 14.9697509,15.6466533 14.5873197,15.7035133 C14.2443384,15.7545133 13.8104034,15.7757733 13.3335229,15.6250333 C13.0444561,15.5336867 12.673657,15.41182 12.1987453,15.20772 C10.2019306,14.3496133 8.89782201,12.3486333 8.79830338,12.2164133 C8.69877135,12.0841933 7.98550651,11.1421867 7.98550651,10.1671267 C7.98550651,9.19206667 8.4997207,8.71278667 8.6821771,8.51446 C8.8646469,8.31614667 9.0802918,8.26657333 9.21299224,8.26657333 Z')


mixin icon-link(size)
	svg(width=size, height=size, viewBox='0 0 16 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-4.000000, -4.000000)', fill='#ffffff', fill-rule='nonzero')
				path(d='M10.6741877,8.63842295 C11.9268647,8.63842295 13.1045311,9.12692948 13.9887185,10.0120545 L13.9887185,10.0120545 L14.6516247,10.6749607 L13.3258123,12.000773 L12.6629062,11.3378669 C11.6005686,10.2755293 9.74780677,10.2755293 8.68546917,11.3378669 L8.68546917,11.3378669 L6.69581304,13.3265854 C5.59966624,14.4261973 5.59966624,16.2053481 6.69581304,17.30496 C7.79585002,18.4000779 9.57415069,18.4000779 10.6741877,17.30496 L10.6741877,17.30496 L11.3370938,16.6420538 L12.6629062,17.9678662 L12,18.6307723 C11.1213673,19.5108107 9.92809751,20.0041819 8.68453154,20.0016012 C7.44131086,20.0038284 6.2484629,19.5104921 5.37000071,18.6307723 C3.5433331,16.798229 3.5433331,13.8333164 5.37000071,12.000773 L5.37000071,12.000773 L7.35965684,10.0120545 C8.24384427,9.12692948 9.42151067,8.63842295 10.6741877,8.63842295 Z M12,5.37077375 C13.8321172,3.54307542 16.7978821,3.54307542 18.6299993,5.37077375 C20.4566669,7.20331707 20.4566669,10.1682297 18.6299993,12.000773 L18.6299993,12.000773 L16.6403432,13.9894915 C15.7561557,14.8746166 14.5784893,15.3631231 13.3258123,15.3631231 C12.0731353,15.3631231 10.8954689,14.8746166 10.0112815,13.9894915 L10.0112815,13.9894915 L9.34837534,13.3265854 L10.6741877,12.000773 L11.3370938,12.6636792 C12.3994314,13.7260168 14.2521932,13.7260168 15.3145308,12.6636792 L15.3145308,12.6636792 L17.304187,10.6749607 C18.4003338,9.57534878 18.4003338,7.79619801 17.304187,6.69658608 C16.20415,5.60146822 14.4258493,5.60146822 13.3258123,6.69658608 L13.3258123,6.69658608 L12.6629062,7.35949224 L11.3370938,6.03367991 Z')

mixin icon-upvote
	svg(width='12px', height='8px', viewBox='0 0 12 8', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-22.000000, -16.000000)')
				path(d='M4,0 L56,0 L56,0 L56,40 L4,40 C1.790861,40 2.705415e-16,38.209139 0,36 L0,4 C-2.705415e-16,1.790861 1.790861,4.05812251e-16 4,0 Z', fill='none')
				polygon(fill='#FFFFFF', points='34 24 28 16 22 24')
				
mixin icon-downvote
	svg(width='12px', height='8px', viewBox='0 0 12 8', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-80.000000, -16.000000)')
				path(d='M58,0 L110,0 C112.209139,-4.05812251e-16 114,1.790861 114,4 L114,36 C114,38.209139 112.209139,40 110,40 L58,40 L58,40 L58,0 Z', fill='none')
				polygon(fill='#FFFFFF', points='86 24 92 16 80 16')

mixin icon-bell-solid(size, color)
	svg(width=size, height=size, viewBox='0 0 18 20', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(transform='translate(-1.000000, 0.000000)', fill=color, fill-rule='nonzero')
				path(d='M17.000001,11.586 L17.000001,8 C17.000001,4.783 14.8150021,2.073 11.8550021,1.258 C11.5620021,0.52 10.8460021,0 10.000001,0 C9.15400209,0 8.43800209,0.52 8.14500209,1.258 C5.18500209,2.074 3.00000104,4.783 3.00000104,8 L3.00000104,11.586 L1.29300209,13.293 C1.10507868,13.4802425 0.999617335,13.7347175 1.00000104,14 L1.00000104,16 C1.00000104,16.5522847 1.44771734,17 2.00000104,17 L18.000001,17 C18.5522868,17 19.000001,16.5522847 19.000001,16 L19.000001,14 C19.0003868,13.7347175 18.8949255,13.4802425 18.7070021,13.293 L17.000001,11.586 Z M17.0000021,15 L3.00000209,15 L3.00000209,14.414 L4.70700209,12.707 C4.8949255,12.5197575 5.00038685,12.2652825 5.00000209,12 L5.00000209,8 C5.00000209,5.243 7.24300209,3 10.0000021,3 C12.7570021,3 15.0000021,5.243 15.0000021,8 L15.0000021,12 C15.0000021,12.266 15.1050021,12.52 15.2930021,12.707 L17.0000021,14.414 L17.0000021,15 Z M10.0000021,20 C11.2694406,20.0015973 12.4005364,19.1988324 12.8180021,18 L7.18200209,18 C7.59946776,19.1988324 8.73056362,20.0015973 10.0000021,20 L10.0000021,20 Z')
				
				
mixin icon-upload
	svg(width='48px', height='34px', viewBox='0 0 48 34', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='forms/meme-form', transform='translate(-220.000000, -328.000000)')
				g(transform='translate(0.000000, 296.000000)')
					use(stroke='#7B8794', mask='url(#mask-2)', stroke-width='2', fill='#FFFFFF', stroke-dasharray='4', xlink:href='#path-1')
					g(transform='translate(220.000000, 32.000000)', fill='#9AA5B1', fill-rule='nonzero')
						path(d='M23.9,12 L33.4,24.2222222 L26.275,24.2222222 L26.275,34 L21.525,34 L21.525,24.2222222 L14.4,24.2222222 L23.9,12 Z M24,0 C32.544,0 39.6168,6.48428571 40.6656,14.8434286 C44.9656121,15.9091956 47.9924178,19.8058967 48,24.2857143 C48,29.6431429 43.6944,34 38.4,34 L38.4,34 L31.2,34 L31.2,29.1428571 L38.4,29.1428571 C41.0472,29.1428571 43.2,26.9644286 43.2,24.2857143 C43.2,21.607 41.0472,19.4285714 38.4,19.4285714 L38.4,19.4285714 L36,19.4285714 L36,17 C36,10.3044286 30.6168,4.85714286 24,4.85714286 C18.948,4.85714286 14.7576,7.95114286 13.0704,12.9321429 L13.0704,12.9321429 L12.6096,14.2872857 L11.2152,14.535 C7.6776,15.164 4.8,18.4474286 4.8,21.8571429 C4.8,25.874 8.0304,29.1428571 12,29.1428571 L12,29.1428571 L16.8,29.1428571 L16.8,34 L12,34 C5.3832,34 0,28.5527143 0,21.8571429 C0,16.5628571 3.8616,11.6377143 9.0168,10.0785714 C11.64,3.91242857 17.3856,0 24,0 Z')

mixin icon-add-img(size, color)
	svg(xmlns='http://www.w3.org/2000/svg', width=size, height=size, viewBox='0 0 24 24')
		g(fill=color)
			path(d='M4 5h13v7h2V5c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h8v-2H4V5z')
			path(d='M8 11l-3 4h11l-4-6-3 4z')
			path(d='M19 14h-2v3h-3v2h3v3h2v-3h3v-2h-3z')

mixin icon-dots(size, color)
	svg(width=size, height=size, viewBox='0 0 16 4', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			g(id='icons/dots', transform='translate(-4.000000, -10.000000)', fill=color, fill-rule='nonzero')
				path(d='M12,10 C10.9,10 10,10.9 10,12 C10,13.1 10.9,14 12,14 C13.1,14 14,13.1 14,12 C14,10.9 13.1,10 12,10 Z M18,10 C16.9,10 16,10.9 16,12 C16,13.1 16.9,14 18,14 C19.1,14 20,13.1 20,12 C20,10.9 19.1,10 18,10 Z M6,10 C4.9,10 4,10.9 4,12 C4,13.1 4.9,14 6,14 C7.1,14 8,13.1 8,12 C8,10.9 7.1,10 6,10 Z')
				
mixin icon-menu(size, color)
	svg(width=size, height=size, viewBox='0 0 24 24', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
		g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
			path(d='M4,6 L20,6 L20,8 L4,8 L4,6 Z M4,11 L20,11 L20,13 L4,13 L4,11 Z M4,16 L20,16 L20,18 L4,18 L4,16 Z', fill=color, fill-rule='nonzero')
			
mixin icon-cogs(size, color)
	svg(xmlns='http://www.w3.org/2000/svg', width=size, height=size, viewBox='0 0 24 24')
		g(fill=color)
			path(d='M12 16c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.084 0 2 .916 2 2s-.916 2-2 2-2-.916-2-2 .916-2 2-2z')
			path(d='M2.845 16.136l1 1.73c.531.917 1.809 1.261 2.73.73l.529-.306A8.1 8.1 0 0 0 9 19.402V20c0 1.103.897 2 2 2h2c1.103 0 2-.897 2-2v-.598a8.132 8.132 0 0 0 1.896-1.111l.529.306c.923.53 2.198.188 2.731-.731l.999-1.729a2.001 2.001 0 0 0-.731-2.732l-.505-.292a7.718 7.718 0 0 0 0-2.224l.505-.292a2.002 2.002 0 0 0 .731-2.732l-.999-1.729c-.531-.92-1.808-1.265-2.731-.732l-.529.306A8.1 8.1 0 0 0 15 4.598V4c0-1.103-.897-2-2-2h-2c-1.103 0-2 .897-2 2v.598a8.132 8.132 0 0 0-1.896 1.111l-.529-.306c-.924-.531-2.2-.187-2.731.732l-.999 1.729a2.001 2.001 0 0 0 .731 2.732l.505.292a7.683 7.683 0 0 0 0 2.223l-.505.292a2.003 2.003 0 0 0-.731 2.733zm3.326-2.758A5.703 5.703 0 0 1 6 12c0-.462.058-.926.17-1.378a.999.999 0 0 0-.47-1.108l-1.123-.65.998-1.729 1.145.662a.997.997 0 0 0 1.188-.142 6.071 6.071 0 0 1 2.384-1.399A1 1 0 0 0 11 5.3V4h2v1.3a1 1 0 0 0 .708.956 6.083 6.083 0 0 1 2.384 1.399.999.999 0 0 0 1.188.142l1.144-.661 1 1.729-1.124.649a1 1 0 0 0-.47 1.108c.112.452.17.916.17 1.378 0 .461-.058.925-.171 1.378a1 1 0 0 0 .471 1.108l1.123.649-.998 1.729-1.145-.661a.996.996 0 0 0-1.188.142 6.071 6.071 0 0 1-2.384 1.399A1 1 0 0 0 13 18.7l.002 1.3H11v-1.3a1 1 0 0 0-.708-.956 6.083 6.083 0 0 1-2.384-1.399.992.992 0 0 0-1.188-.141l-1.144.662-1-1.729 1.124-.651a1 1 0 0 0 .471-1.108z')


mixin icon-text(size, color)
	svg(xmlns='http://www.w3.org/2000/svg', width=size, height=size, viewBox='0 0 24 24')
		g(fill=color)
			path(d='M5 8h2V6h3.252L7.68 18H5v2h8v-2h-2.252L13.32 6H17v2h2V4H5z')
			
mixin icon-img(size, color)
	svg(xmlns='http://www.w3.org/2000/svg', width=size, height=size, viewBox='0 0 24 24')
		g(fill=color)
			path(d='M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM5 19V5h14l.002 14H5z')
			path(d='M10 14l-1-1-3 4h12l-5-7z')
			
			
mixin icon-trash(size, color)
	svg(xmlns='http://www.w3.org/2000/svg', width=size, height=size, viewBox='0 0 24 24')
		g(fill=color)
			path(fill='none', d='M17.004 20l-.001-12h-10v12h10.001zm-4.001-10h2v8h-2v-8zm-4 0h2v8h-2v-8zm0-6h6v2h-6z')
			path(d='M5.003 20c0 1.103.897 2 2 2h10c1.103 0 2-.897 2-2V8h2V6h-4V4c0-1.103-.897-2-2-2h-6c-1.103 0-2 .897-2 2v2h-4v2h2v12zm4-16h6v2h-6V4zm-1 4h9l.001 12H7.003V8h1z')
			path(d='M9.003 10h2v8h-2zm4 0h2v8h-2z')
			
			
mixin icon-venmo
	svg(data-test-id='venmoIcon' width='22' height='25' viewBox='0 0 22 25' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M20.527 0.917969C21.3712 2.30466 21.75 3.73454 21.75 5.54027C21.75 11.2992 16.816 18.7782 12.8115 24.0295H3.66683L0 2.17963L8.00984 1.42188L9.95772 16.9687C11.7679 14.0271 14.0064 9.40482 14.0064 6.25559C14.0064 4.53018 13.7097 3.35718 13.2458 2.39104L20.527 0.917969Z' fill='white')
