mixin login-form
	// Log In Form
	p.text-center.fw-500.text-muted.text-md
		| One-click Log In with
	.sso-login
		a.btn.btn-fb.text-white(href='#0')
			+icon-facebook('16')
			|  Facebook
		a.btn.btn-gl.text-white(href='#0')
			+icon-google('16')
			|  Google
	hr
	p.text-center.fw-500.text-muted.text-md
		| Or Sign In using your email and password
	form
		.form-group
			input#email.form-control(type='email', placeholder='Email or Username')
		.form-group
			input#password.form-control(type='password' placeholder='Password')
			.text-right
				a.text-muted.text-xs(href='#') Forgot Password?
		.form-group.mt-4
			button.btn.btn-block.btn-primary(type='submit') Sign In
	// end Log In Form

mixin login-form2
	// Log In Form
	p.text-center.fw-500.text-muted.text-md.mb-1
		| One-click Log In with
	.sso-login
		a.btn.btn-fb.text-white(href='#0')
			+icon-facebook('16')
			|  Facebook
		a.btn.btn-gl.text-white(href='#0')
			+icon-google('16')
			|  Google
	hr
	p.text-center.fw-500.text-muted.text-md.mb-1
		| Or Sign In using your email and password
	form
		.form-row
			.col-lg-6
				.form-group.mb-2
					input#email.form-control(type='email', placeholder='Email or Username')
			.col-lg-6
				.form-group.mb-2
					input#password.form-control(type='password' placeholder='Password')
					.text-right
						a.text-muted.text-xs(href='#') Forgot Password?
			.col-lg-12
				.form-group.mb-0
					button.btn.btn-block.btn-primary(type='submit') Sign In
	// end Log In Form
	
	
mixin signup-form
	// Sign Up Form
	p.text-center.fw-500.text-muted.text-md
		| One-click Sign Up with
	.sso-login
		a.btn.btn-fb.text-white(href='#0')
			+icon-facebook('16')
			|  Facebook
		a.btn.btn-gl.text-white(href='#0')
			+icon-google('16')
			|  Google
	hr
	p.text-center.fw-500.text-muted.text-md
		| Or Create Account with your email
	form
		.form-group
			input#username2.form-control(type='text', placeholder='Username')
		.form-group
			input#email2.form-control(type='email', placeholder='Email Address')
		.form-group
			input#password2.form-control(type='password' placeholder='Create Password')
		.form-group.mt-4
			button.btn.btn-block.btn-primary(type='submit') Register
	// end Sign Up Form

mixin login-modal(title)
	// Log In Modal
	#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModal', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title=title
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					
					+login-form

				.modal-footer.justify-content-center
					p.text-center.text-md New User? 
						a.fw-600(href='register.html') Create Account

mixin login-modal2(title)
	// Log In Modal
	#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModal', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title=title
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					
					+login-form2

				.modal-footer.justify-content-center
					p.text-center.text-md New User? 
						a.fw-600(href='register.html') Create Account
						
	// end Log In Modal
						
mixin register-modal(title)
	// Sign Up Modal
	#registerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerModal', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title=title
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					
					+signup-form

				.modal-footer.justify-content-center
					p.text-center.text-md Already signed up?  
						a.fw-600(href='login.html') Sign In
	// end Sign Up Modal
						
						
mixin upload-rules
	.upload-rules
		div 🔞 No nudity
		div 🚫 No profanity
		div 💢 No violence
		div 🚯 No hateful content
		
mixin upload-form
	.form.upload-form
		.form-group
			label(for='memeTitle') Meme Title
			input#memeTitle.form-control(type='text' placeholder='Meme Title')
		.form-group
			label(for='memeCategory') Category
			select#memeCategory.custom-select
				option Select Category
				option Animals
				option Art
				option Books
		.form-group
			label(for='memeTags') Tags
			select#memeTags.custom-select
				option Start typing to search...
				option hello
				option world
		.upload-drop-section
			+icon-upload
			.mt-2.text-muted Drop your meme here
			a.fw-600(href='#') Click to Upload
			
		.form-group.mt-4
			a.btn.d-flex.btn-primary.align-items-center.justify-content-center(href='login-request.html') Upload Meme
				span.badge.badge-gold.ml-2 +5 points
				
mixin upload-form3
	.form.upload-form
		.upload-drop-section.mt-2
			+icon-upload
			.mt-2.text-muted Drop your meme here
			a.fw-600(href='#') Click to Upload
		.form-group
			label(for='memeTitle') Meme Title
			input#memeTitle.form-control(type='text' placeholder='Meme Title')
		.form-group
			label(for='memeCategory') Category
			select#memeCategory.custom-select
				option Select Category
				option Animals
				option Art
				option Books
		.form-group
			label(for='memeTags') Tags
			select#memeTags.custom-select
				option Start typing to search...
				option hello
				option world
		.form-group.mt-4
			a.btn.d-flex.btn-primary.align-items-center.justify-content-center(href='login-request.html') Upload Meme
				span.badge.badge-gold.ml-2 +5 points
				
mixin upload-form2
	.form.upload-form
		.form-group
			label(for='memeTitle') Meme Title
			input#memeTitle.form-control(type='text' placeholder='Meme Title')
		.form-group
			label(for='memeCategory') Category
			select#memeCategory.custom-select
				option Select Category
				option Animals
				option Art
				option Books
		.form-group
			label(for='memeTags') Tags
			select#memeTags.custom-select
				option Start typing to search...
				option hello
				option world
		.form-group
			label Preview
			.meme-builder-section
				img(src='img/template-lg.jpg')
			
						
mixin upload-modal
	// Upload Meme Modal
	#uploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadModal', aria-hidden='true')
		.modal-dialog.modal-dialog-scrollable
			.modal-content
				.modal-header
					h4.modal-title Submit meme to Entermeme
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					+upload-rules
					+upload-form2
				.modal-footer
					a.btn.d-flex.btn-primary.align-items-center.justify-content-center.btn-block(href='login-request.html') Submit Meme
						span.badge.badge-gold.ml-2 +5 points
						
mixin upload-modal2
	// Upload Meme Modal
	#uploadMeme.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadMeme', aria-hidden='true')
		.modal-dialog.modal-dialog-scrollable
			.modal-content
				.modal-header
					h4.modal-title Submit meme to Entermeme
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					+upload-rules
					+upload-form
				.modal-footer.justify-content-center
					p.fw-500.text-muted.text-md.text-center
						| Where to create memes online:   
						a(href='makeameme.org' target='_blank')   makeameme.org
						| ,  
						a(href='kapwing.com' target='_blank')  kapwing.com
	// end Upload Meme Modal
	
	
	
mixin rule-item(points, text, condition, count)
	li.d-flex.align-items-center.py-2
		p.mb-0
			span 👍 
			span.text-success
				strong=points  
			=text
			strong=condition  
			block
		span.badge.badge-gold.ml-auto=  count
		
mixin rule-item-2(points, text, condition, count)
	li.d-flex.align-items-start.py-2
		p.mb-0
			span 👎 
			span.text-danger
				strong=points  
			=text
			strong=condition  
			block
		span.badge.badge-negative.ml-auto=  count


mixin rules-modal
	#rulesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='rulesModal', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title How to gain more points?
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					ul.list-unstyled.text-md 
						+rule-item('Get 50 points ', 'when you are the ', 'daily winner. ', '+50')
						+rule-item('Get 10 points ', 'when you ', 'share ', '+10')
							| a meme.
						+rule-item('Get 5 points ', 'when you ', 'upload ', '+5')
							| a new meme.
						+rule-item('Get 2 points ', 'when your meme is ', 'shared. ', '+2')
						+rule-item('Get 2 points ', 'when others ', 'comment ', '+1')
							| on your meme.
						+rule-item('Get 1 point ', 'when you ', 'comment. ', '+1')
							| on a meme.
						+rule-item('Get 1 point ', 'when your meme is ', 'upvoted. ', '+1')
						li.d-flex.align-items-start.py-2
							p.mb-0
								span 👍 
								span.text-success
									strong Get 1 point  
								| when you 
								strong upvote 
								| or 
								strong downvote  
								|  on a meme.
							span.badge.badge-gold.ml-auto +1
					
					hr
					ul.list-unstyled.text-md
						+rule-item-2('Lose 10 points ', 'when you upload ', 'adult content. ', '-10')
							|  meme.
						+rule-item-2('Lose 10 points ', 'when your meme is ', 'flagged. ', '-10')
							|  10 times per day.
						+rule-item-2('Lose 1 point ', 'when your meme is ', 'downvoted. ', '-1')
					hr
					
					h5.mt-4.mb-3 We will contact the winner!
					+widget-prize("img/prize_01.jpg", "Nomad Powerbank and pocket charger", "Today's Prize", "rounded")
					
					
					
mixin partner-modal
	#partnerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='partnerModal', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h5.modal-title Congratulations, your meme has been saved!
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					
					
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
						p.partner-cta-description Post your meme at 
							a(href='https://entermeme.com' target='_blank') entermeme.com  
							|   and 
							br
							strong WIN DAILY COOL PRIZES!
						.partner-cta-prize
							img.partner-cta-prize-img(src='img/amazon-gift.png' alt='Win $5 Amazon Digital Giftcard')
							.partner-cta-prize-heading TODAY'S PRIZE
							.partner-cta-prize-text $5 Amazon Digital Giftcard
						
						a.partner-cta-btn(href='#0') Post Now and earn your first 5 points!
					// end Partner CTA 
				.modal-footer
					a.btn.btn-light(data-dismiss='modal') Close
					
					
					
					
mixin add-creator-modal
	// Upload Meme Modal
	#addCreator.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addCreator', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Add Online Meme Creator
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					form
						.form-group
							label(for='creatorName') Site Name
							input.form-control#creatorName(type='text' placeholder='Meme creator site name')
						.form-group
							label(for='creatorURL') URL
							input.form-control#creatorURL(type='text' placeholder='https://sitename.com')
						.form-group
							label(for='creatorDescription') Description
							textarea#creatorDescription.form-control(rows='5' maxlength='250')
							small.form-text.text-muted Max 250 symbols
						.form-group
							label Upload Image (optional)
							.custom-file
								input#creatorFile.custom-file-input(type='file')
								label.custom-file-label(for='creatorFile') Choose file
						.form-group.mt-5
							button.btn.btn-block.btn-primary(type='submit') Submit Website
							
							
mixin creator-info
	#creatorInfo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='creatorInfo', aria-hidden='true')
		.modal-dialog.modal-dialog-scrollable
			.modal-content
				.modal-header
					h4.modal-title Online Meme Maker by Clideo
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body.p-0
					.w-100
						img(src='img/img_01.png')
					.p-3
						.text-muted.mb-2
							a.fw-600(href='#0') https://memefactory.com
						p Packed with dozens of incredible features and options, Online Meme Maker by Clideo is undoubtedly makes on the top of our recommended meme makers out there.
						p Packed with dozens of incredible features and options, Online Meme Maker by Clideo is undoubtedly makes on the top of our recommended meme makers out there.
						.d-flex.align-items-center.justify-content-between.border-bottom.pb-3
							a.report-btn(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
								+icon-flag('16')

							.ml-auto.mr-3.fw-600 +953
							.btn-group
								a.btn.btn-success.btn-sm.px-4(href='#0')
									+icon-upvote
								a.btn.btn-danger.btn-sm.px-4(href='#0')
									+icon-downvote
						// Comment Form


						.comment-box.w-100
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😍
							form.comment-form
								.form-group.mb-2
									textarea.form-control(rows='2' placeholder='Write a comment')
								.form-row.justify-content-between
									.col-12.col-md-auto
										+comment-reaction
									.col-12.col-md-auto
										button.btn.btn-primary.btn-sm.btn-block Comment
						// end Comments Form

						// Comment Feed
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😂
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply

						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
								.comment-author-reaction
									span 😍
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
						.comment-box.comment-item.child-comment
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
						.comment-box.comment-item.child-comment
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
						.comment-box.comment-item
							.comment-author
								.comment-author-image
									img.rounded-circle(src='img/user_01.png')
							.comment-content
								.comment-legend
									a.comment-author-name.text-dark(href='user-page.html')
										span.fw-600 Ohiammarty 
										span.badge.badge-gold 583
									a.report-btn.ml-auto(href='#0' data-toggle='tooltip' data-placement='top' title='Report')
										+icon-flag('10')
								.comment-body Those extra changes keep the caret centered in the split button and provide a more appropriately sized hit area next to the main button.
								.comment-footer.text-xs
									span.text-muted.mr-2 2d ago
									a(href='#0') Reply
									
				.modal-footer
					button.btn.btn-light.mr-auto(type='button', data-dismiss='modal') Close
					button.btn.btn-primary(type='button') Visit Website
					
mixin job-apply-modal
	// Apply Job Modal
	#applyJob.modal.fade(tabindex='-1', role='dialog', aria-labelledby='applyJob', aria-hidden='true')
		.modal-dialog
			.modal-content.modal-dialog-scrollable
				.modal-header
					h4.modal-title Apply Job
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.alert.alert-secondary.text-center
						| No messages found. Start conversation with job author and get a chance to win this job.
					
				.modal-footer
					+job-message-form
						
mixin job-chat-modal
	// Apply Job Modal
	#jobChat.modal.fade(tabindex='-1', role='dialog', aria-labelledby='jobChat', aria-hidden='true')
		.modal-dialog.modal-dialog-scrollable
			.modal-content
				.modal-header
					h4.modal-title Messages
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.media.text-md.p-3.rounded.bg-light.mb-3
						img.mr-3.rounded-circle(src='img/user_01.png' width='36')
						.media-body
							a.text-dark.mb-3(href='#0')
								span.fw-600 Jamesitto
								|  &nbsp;
								span.text-muted.text-xs  2d ago
							div
								| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						
					
					.media.text-md.p-3.rounded.mb-3
						
						.media-body
							a.text-dark.mb-3(href='#0')
								span.fw-600 You   
								|  &nbsp;
								span.text-muted.text-xs  2d ago
							div
								| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						img.ml-3.rounded-circle(src='img/user_01.png' width='36')
					.media.text-md.p-3.rounded.bg-light.mb-3
						img.mr-3.rounded-circle(src='img/user_01.png' width='36')
						.media-body
							a.text-dark.mb-3(href='#0')
								span.fw-600 Jamesitto
								|  &nbsp;
								span.text-muted.text-xs  2d ago
							div
								| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						
					
					.media.text-md.p-3.rounded.mb-3
						
						.media-body
							a.text-dark.mb-3(href='#0')
								span.fw-600 You   
								|  &nbsp;
								span.text-muted.text-xs  2d ago
							div
								| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						img.ml-3.rounded-circle(src='img/user_01.png' width='36')

				
				.modal-footer
					+job-message-form
					


mixin add-project-modal
	// Upload Meme Modal
	#addProject.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addProject', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Add New Project
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					form
						.form-group
							label(for='jobTitle') Job Title
							input.form-control#jobTitle(type='text' placeholder='Enter Job Title')
						.form-group
							label(for='jobDescription') Job Description
							textarea#jobDescription.form-control(rows='5' maxlength='250')
							small.form-text.text-muted Max 250 symbols
						.form-group
							label Type
							.form-check
								input#exampleRadios1.form-check-input(type='radio', name='exampleRadios', value='option1', checked='')
								label.form-check-label(for='exampleRadios1')
									| One-time Job
							.form-check
								input#exampleRadios2.form-check-input(type='radio', name='exampleRadios', value='option2')
								label.form-check-label(for='exampleRadios2')
									| Ongoing
						
						.form-group
							label(for='jobCompany') Company Name (optional)
							input#jobCompany.form-control(type='text' placeholder='Company Name')
						
						.form-group
							label(for='jobURL') URL (optional)
							input#jobURL.form-control(type='text' placeholder='https://...')
						
						
						.form-group
							label(for='jobBudget') Budget (USD)
							input#jobBudget.form-control(type='text' placeholder='Job Budget in USD')
								

						.form-group
							label Upload Image (optional)
							.custom-file
								input#jobFile.custom-file-input(type='file')
								label.custom-file-label(for='jobFile') Choose file

						
						
						.form-group.mt-5
							button.btn.btn-block.btn-primary(type='submit') Create Job
							
							
mixin invite-modal
	// Invite Friend Modal
	#inviteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addProject', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Invite a Friend and Earn 50 Points!
						span.badge.badge-gold.ml-2 50
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.form-group.mb-0
						label(for='affiliateLink') Your affiliate program link
						.input-group
							input.form-control#affiliateLink(type='text' value='https://entermeme.com/invite/u/bekzats' readonly)
							.input-group-append
								button#button-addon2.btn.btn-secondary(type='button') Copy  
									span.hidden-xs  Link
										
						
				.modal-footer.bg-light.d-flex.justify-content-center.align-items-center.flex-wrap
					.text-center.text-muted.text-xs.mr-2.my-2 OR SHARE LINK
					.d-flex
						a.btn.btn-fb.mx-1(href='#0')
							+icon-facebook('16')
						a.btn.btn-tw.mx-1(href='#0')
							+icon-twitter('16')
						a.btn.btn-wh.mx-1(href='#0')
							+icon-whatsapp('16')
						a.btn.btn-ln.mx-1(href='#0')
							+icon-linkedin('16')
						a.btn.btn-url.mx-1(href='#0')
							+icon-link('16')
							
mixin text-props-modal
	// Invite Friend Modal
	#textPropsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editTextProps', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Edit Text
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body
					.form-row
						.form-group.col-sm-6
							label(for='selectFont') Font
							select.custom-select#selectFont
								option Arial
								option Georgia
						.form-group.col-sm-6
							label(for='fontColor') Font Color
							input.form-control#fontColor(type='text' value='#FFFFFF')
					.form-row
						.form-group.col-sm-6
							label(for='outlineSize') Outline Size
							input.form-control#outlineSize(value='0')
						.form-group.col-sm-6
							label(for='textAlign') Text Align
							select.custom-select#textAlign
								option Left
								option Center
								option Right
					.form-row
						.form-group.col-sm-6
							label(for='outlineColor') Outline Color
							input.form-control#outlineColor(type='text' value='#FFFFFF')
						.form-group.col-sm-6
							label(for='fontWeight') Font Weight
							select.custom-select#fontWeight
								option Bold
								option Normal
					hr
					
					.form-row
						.form-group.col-sm-6
							label(for='bgColor') Background
							input.form-control(type='text' value='#FFFFFF')
						.form-group.col-sm-6
							label(for='textType') Type
							select.custom-select
								option Inline
					.form-row
						.form-group.col-sm-6
							label(for='paddingTop') Padding Top
							input.form-control#paddingTop(type='number' value='0')
						.form-group.col-sm-6
							label(for='paddingBottom') Padding Bottom
							input.form-control#paddingBottom(type='number' value='0')
							
							
						
						
				.modal-footer.bg-light.justify-content-between.py-2
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button.btn.btn-primary(type='button') Save changes