include inc/_includes.pug

doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Import Google Font Inter
		link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap', rel='stylesheet')
		
		// Import Boxicons Icon Font
		link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
		// Style CSS
		link(rel='stylesheet' href='css/style.css')
		// Style Dark
		link(rel='stylesheet' type='text/css' href='css/style-dark.css')
		title
			block title
	body.dark-mode
		b.screen-overlay
		block content
		
		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
		script(src='script.js')

		// Enable Bootstrap tooltip
		script.
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
			
		// Toggle sidebars on mobile
		script.
			$("[data-trigger]").on("click", function(e){
				e.preventDefault();
				e.stopPropagation();
				var offcanvas_id =  $(this).attr('data-trigger');
				$(offcanvas_id).toggleClass("show");
				$('body').toggleClass("offcanvas-active");
				$(".screen-overlay").toggleClass("show");
			}); 

			$(".btn-close, .screen-overlay").click(function(e){
				$(".screen-overlay").removeClass("show");
				$(".mobile-offcanvas").removeClass("show");
				$("body").removeClass("offcanvas-active");
			}); 
			
		// Show and hide search on mobile
		script.
			function toggleClass(el, className) {
			 var el = document.querySelectorAll(el);
				for (i = 0; i < el.length; i++) {
					if (el[i].classList) {
						el[i].classList.toggle(className);
					} else {
							var classes = el[i].className.split(' ');
							var existingIndex = -1;
							for (var j = classes.length; j--;) {
								if (classes[j] === className)
									existingIndex = j;
							}
							if (existingIndex >= 0)
								classes.splice(existingIndex, 1);
							else
								classes.push(className);

						el[i].className = classes.join(' ');
					}
				}
			}
		
		// Toggle 
		script.
			function themeSwitch() {
				var element = document.body;
				element.classList.toggle("dark-mode");
			}