extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	
	.container.py-5
		.row.justify-content-center.py-5
			.col-md-3
				h4 Coin animation
				.coin-up
					.coin
						span +10
						
			.col-md-3
				h4 Categories

				ul.nav.site-nav.flex-column

					+navlink('🏠️', 'Home', '#0', 'active')
					+navlink('💥', 'Trending', '#0')
					+navlink('👶', 'Fresh', '#0')
					+navlink('💕', 'Liked', '#0')
					li.nav-divider
					+navlink('🎁', 'Project Board', '#0')
					+navlink('🏅', 'Prizes & Leaderboard', '#0')
					li.nav-section-title Categories
					+navlink('🐾', 'Animals', '#0')
					+navlink('🎭️', 'Art', '#0')
					+navlink('📚️', 'Books', '#0')
					+navlink('👗', 'Fashion', '#0')
					+navlink('💭', 'Comics', '#0')
					+navlink('👽️', 'Conspiracy Theory', '#0')
					+navlink('🎻', 'Culture', '#0')
					+navlink('😁', 'Emoji', '#0')
					+navlink('📺️', 'Entertainment', '#0')
					+navlink('👨‍👩‍👧‍👦', 'Family', '#0')
					
					
					
					
					+navlink('🤸🏾‍♂️', 'Fitness', '#0')
					+navlink('🍔', 'Food/Drink', '#0')
					+navlink('🎮️', 'Gaming', '#0')
					+navlink('🌎️', 'Geography', '#0')
					+navlink('💊', 'Health/Wellness', '#0')
					+navlink('🈳', 'Languages', '#0')
					+navlink('🎷', 'Music', '#0')
					+navlink('💪🏽', 'Motivational', '#0')
					+navlink('🎬️', 'Movies', '#0')
					+navlink('⛰️', 'Nature', '#0')
					+navlink('🧿', 'Optical Illusion', '#0')
					+navlink('🧠', 'Phylosophy', '#0')
					+navlink('🏕', 'Recreation', '#0')
					+navlink('🙏', 'Religion', '#0')
					+navlink('🔬', 'Science', '#0')
					+navlink('🛀', 'Shower Thoughts', '#0')
					+navlink('🏘', 'Society', '#0')
					+navlink('🏄🏽', 'Sports', '#0')
					+navlink('🤖', 'Technology', '#0')
					+navlink('🚂', 'Transportation', '#0')
					+navlink('🧘🏽‍♀️', 'Uplifting', '#0')
					+navlink('🎉', 'World Events', '#0')
					+navlink('💼', 'Work/Business', '#0')
					+navlink('🔫', 'Military', '#0')
					+navlink('📺️', 'Television', '#0')
					+navlink('🥰', 'Relationships', '#0')
					+navlink('🤥', 'Politics', '#0')
					+navlink('😱', 'Thats Life', '#0')
					+navlink('🥳', 'Holidays', '#0')
					+navlink('🤩', 'Celebrities', '#0')
					+navlink('🎓', 'School/Education', '#0')
					+navlink('💸', 'Money/Finance', '#0')
					+navlink('📣', 'Government', '#0')
					
					
					
					
					
					
					