extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='my-page.html') <- Back
			// Edit Profile
			.meme-feed.pt-0
				
				.card.user-card
					
					.card-header
						h4.card-title.mb-0.mt-2 Edit Profile
					
					.card-body.border-top
						form
							.row.mb-3.align-items-center
								.col-12.col-sm-3
									.avatar
										img.rounded-circle(src='img/user_01.png')
										a.small.text-muted.d-block.py-1.text-center(href='#0') Delete image
								.col-12.col-sm-9
									.form-group
										label(for='avatarUpload') Upload profile image
										.custom-file
											input#avatarUpload.custom-file-input(type='file')
											label.custom-file-label(for='avatarUpload') Choose file
										
									
									
							
							.form-group
								label(for='userEmail') Email Address
								input.form-control#userEmail(type='email' value='john.doe@gmail.com')
							
							.form-group
								label(for='username') Username
								input.form-control#username(type='text' value='iammarty')
							
							.form-group
								label(for='firstName') First Name (optional)
								input.form-control#firstName(type='text' value='John')
							
							.form-group
								label(for='lastName') Last Name (optional)
								input.form-control#lastName(type='text' value='Doe')
								
							.form-group
								label(for='phoneNumber') Phone Number (optional)
								input.form-control#fullName(type='text' value='+5 40 600 2030')
							.form-group.mt-4
								button.btn.btn-block.btn-primary(type='submit') Save Changes
							
							
				.card.user-card
					.card-header
						h4.card-title.mb-0.mt-2 Change Password
					.card-body.border-top
						.form-group
							label(for='newPassword') New Password
							input.form-control#newPassword(type='password' placeholder='New Password')

						.form-group
							label(for='newPasswordConfirm') Confirm Password
							input.form-control#newPasswordConfirm(type='password' placeholder='Confirm New Password')
						.form-group.mt-4
							button.btn.btn-block.btn-primary(type='submit') Change Password
					
			// -- end Edit Profile
				
			
		+sidebar-right