extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+header
	section.page
		+sidebar-left
		.content.content-narrow
			
			a.back-link(href='index.html') <- Back to homepage
			.content-box
				.content-box-header
					h4 Log In to Continue
				.content-box-body
					.user-form
						+login-form
				.content-box-footer.justify-content-center
					.text-center.text-md New User? 
						a.fw-600(href='register.html') Create Account
						
						
		+sidebar-right