extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+header
	section.page
		+sidebar-left
		.content
			
			
			a.back-link(href='index.html') <- Back to homepage
			// Meme Feed
			.meme-feed.pt-0
				// Meme Item
				.meme-card
					.meme-card-header
						h3.meme-card-title 
							a(href='#0') A Pocket Pc Is Portability At It S Best
						a.meme-card-author.text-dark(href='#0')
							img.rounded-circle.mr-1(src='img/user_01.png' width='20')
							span.fw-500  Ohiammarty
							span.badge.badge-gold 784
					.meme-card-alert
						.alert.alert-primary.text-center
							.text-center Meme Uploaded Successfully!  You earned 5 Points!
								span.badge.badge-gold.ml-2 +5 points
							.text-center
								a.fw-500(href='#0') Create your Free Account  
								|  or 
								a.fw-500(href='#0') Log In
								|  to Compete for Todays Prize!
					.meme-card-body
						
						a(href='#0' alt='A Pocket Pc Is Portability At It S Best')
							img(src='content/meme-01.png')
					.meme-card-footer
						.meme-card-controls
							+share-btn-stack
							+vote-btn-stack
						+meme-card-tagline
				// -- end Meme
			// -- end Meme Feed
				
			
		+sidebar-right