extends _main.pug

block title
	| Entermeme - New Meme

block content
	+text-props-modal
	+upload-modal
	+header
	section.page
		+sidebar-left
		.container.pb-5
			.row
				.col-12
					a.back-link(href='index.html') <- Back to homepage
			.page-title
				h1 Create New Meme

			.row.mb-4
				.col-12
					form.card
						.card-header
							a.btn.btn-link.btn-sm.px-0(href='new-meme-alt.html') <- Change Template
						.card-body.border-top
							.row
								.col-lg-6.col-xl-8
									.meme-builder-section
										.meme-builder-blank
											.upload-drop-section.mt-0
												.my-5
													+icon-upload
													.mt-2.text-muted Drop your image here
													a.fw-600(href='#') Click to Upload
								.col-lg-6.col-xl-4
									.d-flex
										h6.py-2(href='new-meme-alt.html') Objects
										.ml-auto
											a.btn.btn-link.btn-sm.px-0(href='#') Add Image
											a.btn.btn-link.btn-sm.px-0.ml-2(href='#') Add Text
									.border.rounded.mb-2
										.meme-obj
											.meme-obj-icon
												+icon-text('16', '#000000')
											.meme-obj-control
												input.form-control.form-control-sm(type='text' value='Butterfly')
											a.btn.btn-sm.btn-settings(data-toggle="modal" data-target="#textPropsModal")
												+icon-cogs('16', '#000000')
											a.btn.btn-sm.btn-dismiss(href='#0')
												+icon-trash('16', '#EF4E4E')
										.meme-obj
											.meme-obj-icon
												+icon-img('16', '#000000')
											.meme-obj-control
												a.btn.btn-sm.btn-light.w-100(href='#') Upload image
											a.btn.btn-sm.btn-settings
												+icon-cogs('16', '#000000')
											a.btn.btn-sm.btn-dismiss(href='#0')
												+icon-trash('16', '#EF4E4E')
									.my-5.hidden-xs
									a.btn.btn-primary.btn-block.btn-lg(data-toggle='modal', data-target='#uploadModal' href='#0') Upload and earn 5 points  
										span.badge.badge-gold +5 
											span.hidden-xs points
									a.btn.btn-outline-primary.btn-block(href='#0') Download Meme
			
		+sidebar-right