extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+partner-modal
	
	.bg-white.py-5

		.d-flex.justify-content-center.align-items-center.p-5
			a.btn.btn-primary(href='#0' data-toggle="modal" data-target="#partnerModal") Open Demo Modal

		hr
		.container
			.row.justify-content-center.py-5
				.col-md-5
				
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
						p.partner-cta-description Post your meme at 
							a(href='https://entermeme.com' target='_blank') entermeme.com  
							|   and 
							br
							strong WIN DAILY COOL PRIZES!
						.partner-cta-prize
							img.partner-cta-prize-img(src='img/amazon-gift.png' alt='Win $5 Amazon Digital Giftcard')
							.partner-cta-prize-heading TODAY'S PRIZE
							.partner-cta-prize-text $5 Amazon Digital Giftcard

						a.partner-cta-btn(href='#0') Post Now and earn your first 5 points!
					// end Partner CTA 
					
					.py-5
					
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
							
						.partner-cta-prize-heading We pay for memes!
						.partner-cta-prize-text.mb-4 
							strong Post your meme  
							|  on  
							a(href='https://entermeme.com' target='_blank') entermeme.com 
							|  and get paid!
						
						.partner-cta-prize-heading Too shy to post memes?
						.partner-cta-prize-text.mb-4 You can earn points by 
							strong sharing, voting and commenting.
						
						a.partner-cta-btn(href='#0') Learn more...
					// end Partner CTA 