extends _main.pug

block title
	| Entermeme - New Meme

block content
	+text-props-modal
	+upload-modal
	+header
	section.page
		+sidebar-left
		.container.pb-5
			.row
				.col-12
					a.back-link(href='index.html') <- Back to homepage
			.page-title
				h1 Create New Meme

			.row.mb-4
				.col-12
					form.card
						.card-header
							a.btn.btn-link.btn-sm.px-0(href='new-meme-alt.html') <- Change Template
						.card-body.border-top
							.row
								.col-lg-6.col-xl-8
									.meme-builder-section
										.meme-builder-img
											img(src='img/template-lg.jpg')
										
										//.builder-block
											.builder-block-content
												.builder-block-text Your Text
											.builder-block-controls
												a.bg-white(data-toggle="modal" data-target="#textPropsModal")
													+icon-cogs
												a.bg-danger
													+icon-dismiss('12', '#ffffff')
								.col-lg-6.col-xl-4
									.d-flex
										h6.py-2(href='new-meme-alt.html') Objects
										.ml-auto
											a.btn.btn-link.btn-sm.px-0(href='#') Add Image
											a.btn.btn-link.btn-sm.px-0.ml-2(href='#') Add Text
									.border.rounded.mb-2
										.meme-obj
											.meme-obj-icon
												+icon-text('16', '#000000')
											.meme-obj-control
												input.form-control.form-control-sm(type='text' value='Butterfly')
											a.btn.btn-sm.btn-settings(data-toggle="modal" data-target="#textPropsModal")
												+icon-cogs('16', '#000000')
											a.btn.btn-sm.btn-dismiss(href='#0')
												+icon-trash('16', '#EF4E4E')
										.meme-obj
											.meme-obj-icon
												+icon-img('16', '#000000')
											.meme-obj-control
												a.btn.btn-sm.btn-light.w-100(href='#') Upload image
											a.btn.btn-sm.btn-settings
												+icon-cogs('16', '#000000')
											a.btn.btn-sm.btn-dismiss(href='#0')
												+icon-trash('16', '#EF4E4E')
									.my-5.hidden-xs
									a.btn.btn-primary.btn-block.btn-lg(data-toggle='modal', data-target='#uploadModal' href='#0') Upload and earn 5 points  
										span.badge.badge-gold +5 
											span.hidden-xs points
									a.btn.btn-outline-primary.btn-block(href='#0') Download Meme
			.card
				.card-body.pt-4
					.row
						.col-12
							h4.mb-3.border-bottom.pb-3 About this meme
						.col-lg-8
							
							p The four-panel Drowning High Five meme, a staple for the sarcastic, doubles as a reaction image or a simple object-labeled meme based on a comic by a Russian artist. The panels show a hand belonging to a drowning person reaching out of the water for help, another hand appearing, and instead of helping, high-fiving the drowning person as they perish. Like the shoddy fix variants of the Phil Swift slaps on Flex Tape meme, the Drowning High Five meme describes someone ‘helping’ a problem/person in trouble in a way that they think is good, but which practically doesn’t work.

							p The original, wordless comic was published on Instagram in June 2017, and was first turned into a captioned meme on Reddit a month later. The meme format increased in popularity in February 2018, when it was turned into a meme on Facebook. With the rise of awareness about mental health issues over the last 3 years, the meme has found continued life in how accurately it describes people’s reactions to hearing about such problems. The Drowning High Five meme is also (sometimes erroneously) referred to as: Drowning man meme, Drowning person meme, dying high five meme, drowning clap meme.

						.col-lg-4
							.tag-grid
								a.meme-tag.meme-category(href='#0') #animals
								| 
								a.meme-tag.meme-category(href='#0') #policy
								| 
								a.meme-tag.meme-category(href='#0') #mgi
								| 
								a.meme-tag.meme-category(href='#0') #people
								| 
								a.meme-tag.meme-category(href='#0') #humor
								| 
								a.meme-tag.meme-category(href='#0') #message
		+sidebar-right