extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+upload-modal
	+job-chat-modal
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='projects.html') <- Back to Project Board
			// Project Details
			.content-list
			
				ul#jobTabs.nav.nav-fill.page-controls(role='tablist')
					li.nav-item(role='presentation')
						a#info-tab.nav-link.active(data-toggle='tab', href='#info', role='tab', aria-controls='info', aria-selected='true') Job Details
					li.nav-item(role='presentation')
						a#chat-tab.nav-link(data-toggle='tab', href='#chat', role='tab', aria-controls='own', aria-selected='false') Applications
							span.ml-2.badge.badge-warning +2
						
				#jobTabsContent.tab-content
					
					// All Projects
					#info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='info-tab')
								
						.card
							.meme-card-header
								h2.h4.meme-card-title.mb-0 Create a Coffee Meme for our social media

							.card-img
								img(src='img/img_01.png')
							.card-body
								.row
									.col-lg-8
										p This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
										p Mauris ex erat, tincidunt eget volutpat in, placerat vitae est. Nunc hendrerit magna eget bibendum feugiat. Cras accumsan nulla non magna fermentum, sit amet tempus enim pretium. Aliquam ante neque, ultricies at rhoncus a, eleifend a tortor. Nullam tempor facilisis ipsum et fringilla. Phasellus in maximus tellus. Ut convallis leo neque, a blandit ipsum faucibus vitae. Nullam ac sagittis risus. Suspendisse ultricies ipsum vestibulum ligula rhoncus, id consectetur mauris commodo.

										#jobDescription.collapse
											p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											p Quisque luctus nulla orci, eu tincidunt nisi dapibus non. Morbi rutrum semper nunc, non tincidunt augue ultricies sit amet. Donec quam odio, venenatis sed diam sed, dignissim auctor ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sem arcu, commodo vel ante vel, pellentesque placerat odio. Aliquam fermentum volutpat placerat. Nulla eget metus sit amet quam vestibulum lacinia vitae ut purus. Nullam sodales ligula lobortis elit tincidunt malesuada. Pellentesque aliquam congue convallis.
											p Sed quis orci at erat egestas tempor a eu tellus. Curabitur lacus elit, ultrices a quam nec, gravida porta mi. Curabitur risus arcu, commodo non fermentum et, volutpat sit amet nunc. Vivamus luctus mauris eu massa sodales ultricies. Maecenas metus odio, fringilla nec imperdiet vel, dictum at libero. Mauris ante enim, dapibus in ullamcorper vel, consectetur at nibh. Ut nulla justo, viverra ac metus sit amet, finibus tempor sem.

										a.text-muted.job-description-collapse.readmore.collapsed(data-toggle='collapse', href='#jobDescription', role='button', aria-expanded='false', aria-controls='collapseExample')
											span.show-on-collapse Show More
											span.hide-on-collapse Hide

									.col-lg-4
										.bg-light.p-3.rounded

											dl
												dt Company
												dd ILove404
											dl
												dt Additional Link  
												dd 
													a(href='#0')  https://memefactory.com
											dl
												dt Type
												dd Ongoing
											dl
												dt Budget
												dd
													span.text-success $100


							.card-footer.d-flex.align-items-center

								.mr-3.fw-600.hidden-xs Share:
								.share-btn-group
									a.btn.btn-fb(href='#0')
										+icon-facebook('16')
									a.btn.btn-tw(href='#0')
										+icon-twitter('16')
									a.btn.btn-pn.d-none.d-xl-flex(href='#0')
										+icon-pinterest('16')
									a.btn.btn-wh.d-none.d-xl-flex(href='#0')
										+icon-whatsapp('16')
									a.btn.btn-ln.d-none.d-xl-flex(href='#0')
										+icon-linkedin('16')
									a.btn.btn-url.d-none.d-xl-flex(href='#0')
										+icon-link('16')

									.btn-group.d-flex.d-xl-none(role='group')
										a.btn.btn-light.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
										.dropdown-menu.dropdown-menu-right.text-md.px-1.py-0
											a.btn-pn.text-white.dropdown-item.my-1.rounded(href='#')
												+icon-pinterest('12')
												|  Pinterest
											a.btn-wh.text-white.dropdown-item.my-1.rounded(href='#')
												+icon-whatsapp('12')
												|  Whatsapp
											a.btn-ln.text-white.dropdown-item.my-1.rounded(href='#') 
												+icon-linkedin('12')
												|  Linkedin
											a.btn-url.text-white.dropdown-item.my-1.rounded(href='#') 
												+icon-link('12')
												|  Copy Link

								a.btn.btn-sm.btn-light.text-dark.ml-auto Edit Job
								a.btn.btn-sm.btn-light.text-danger.ml-2 Delete
					
					
					#chat.tab-pane.fade(role='tabpanel', aria-labelledby='chat-tab')
						
						.card
							.card-body
								.d-flex.justify-content-start.align-items-center
									a.text-dark(href='#0')
										img.rounded-circle.mr-2(src='img/user_01.png' width='40')
									dl.mb-0.text-md
										dt 
											a.fw-600(href='#0') jamesdobbs
										dd.text-xs.text-muted.mb-0 Posted 3 mins ago

									a.btn.btn-primary.btn-sm.ml-auto.ml-md-auto(href='#0' data-toggle="modal" data-target="#jobChat") Messages 
										span.badge.badge-warning 1
									a.btn.btn-sm.btn-light.text-danger.ml-2 Decline
						
						
						.card
							.card-body
								.d-flex.justify-content-start.align-items-center
									a.text-dark(href='#0')
										img.rounded-circle.mr-2(src='img/user_01.png' width='40')
									dl.mb-0.text-md
										dt 
											a.fw-600(href='#0') jamesdobbs
										dd.text-xs.text-muted.mb-0 Posted 3 mins ago
											
									a.btn.btn-primary.btn-sm.ml-auto(href='#0' data-toggle="modal" data-target="#jobChat") Messages 
										span.badge.badge-warning 1
									a.btn.btn-sm.btn-light.text-danger.ml-2 Decline
						
						
						.card
							.card-body
								.d-flex.justify-content-start.align-items-center
									a.text-dark(href='#0')
										img.rounded-circle.mr-2(src='img/user_01.png' width='40')
									dl.mb-0.text-md
										dt 
											a.fw-600(href='#0') jamesdobbs
										dd.text-xs.text-muted.mb-0 Posted 3 mins ago
									a.btn.btn-secondary.btn-sm.ml-auto(href='#0' data-toggle="modal" data-target="#jobChat") Messages 
									a.btn.btn-sm.btn-light.text-danger.ml-2 Decline
						
						
						
					
				
			// -- end Project Details
			
				
				
			
		+sidebar-right