extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+invite-modal
	+buy-modal
	+sell-modal
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='index.html') <- Back to homepage
			// Meme Details
			.meme-feed.pt-0
				
				.card.user-card
					a.btn.btn-sm.btn-light.edit-link(href='edit-profile.html')
						i.bx.bxs-pencil
					.card-body
						.row
							.col-12.col-sm-3
								.avatar
									img.rounded-circle.user-pro(src='img/user_01.png')
									.badge.badge-pro
										span ⍟
										| &nbsp;
										| PRO
									
							.col-12.col-sm-9
								h1.h4.mb-1 Ohiammarty
									span.badge.badge-gold.ml-2 9698
								
								.achievements
									.medal-sm.medal-gold(data-toggle="tooltip" data-placement="top" title='12 Gold Medals')
										+ribbon-sm
										.medal-circle
											.medal-number 12

									.medal-sm.medal-silver(data-toggle="tooltip" data-placement="top" title='6 Silver Medals')
										+ribbon-sm
										.medal-circle
											.medal-number 6

									.medal-sm.medal-bronze(data-toggle="tooltip" data-placement="top" title='29 Bronze Medals')
										+ribbon-sm
										.medal-circle
											.medal-number 29
								
								hr.my-2
								
								.d-flex.justify-content-between.text-xs
									span.fw-600 Rank: #85
									span.text-muted 105 memes
									span.text-muted Joined 3w ago
				
				
				// User Page Navigation
				
				+mypage-tabs
						
				.tab-content
					+mymemes-tab
					+mystats-tab
					#my-memeconomy.tab-pane.fade(role='tabpanel' aria-labelledby='my-memeconomy-tab')
						.card
							.card-header
								.d-flex.justify-content-between.align-items-center
									h4.mt-1.mb-0 Memeconomy
									a.text-xs(href='#0') 
										i.bx.bxs-help-circle 
										|  What is it?
							.card-body.border-top
								.row
									.col
										dl
											dt.fw-400.text-muted.text-md Quantity of trades
											dd.lead.fw-500 693
									.col
										dl
											dt.fw-400.text-muted.text-md Avg profit per trade
											dd.lead.fw-500 59 M¢
									
									.col
										dl
											dt.fw-400.text-muted.text-md Avg invested per trade
											dd.lead.fw-500 39 M¢
											
								.border-top.py-4
									span.text-muted Account Balance 
									span.h4.text-success.mb-0  124.50 M¢
								
								.border-top.py-4
									h5.mb-2 Open Positions  
										span.badge.badge-info 2
									.table-responsive
										table.table.table-striped.text-md
											thead
												tr.text-xs
													th Date
													th Type
													th Name
													th.text-right QTY
													th.text-right Amount, M¢
													th.text-center Time Left
													th.text-right Profit, M¢
											tbody
												tr
													td 9/2/2020
													td
														span.badge.badge-danger Sell
													td Regular day in NY
													td.text-right 67
													td.text-right 678.52
													td.text-center 4h
													td.text-right
														span.text-success +509
												tr
													td 9/2/2020
													td
														span.badge.badge-success Buy
													td Regular day in NY
													td.text-right 67
													td.text-right 678.52
													td.text-center 4h
													td.text-right
														span.text-success +509
														
														
									.border-top
										a.text-md.readmore(href='#0') Load More
										
								.py-3
									h5.mb-2 History
									.table-responsive
										table.table.table-striped.text-md
											thead
												tr.text-xs
													th Date
													th Type
													th Name
													th.text-right QTY
													th.text-right Amount, M¢
													th.text-center Duration
													th.text-right Profit, M¢
											tbody
												tr
													td 9/2/2020
													td
														span.badge.badge-success Buy
													td Regular day in NY
													td.text-right 67
													td.text-right 678.52
													td.text-center 4h
													td.text-right
														span.text-success +509
												tr
													td 9/2/2020
													td
														span.badge.badge-success Buy
													td Regular day in NY
													td.text-right 67
													td.text-right 678.52
													td.text-center 4h
													td.text-right
														span.text-success +509
														
														
									.border-top
										a.text-md.readmore(href='#0') Load More
								
								
								
								
								
					+mymembership-tab
					+myaffiliates-tab
				
				
					
			// -- end Meme Details
				
			
		+sidebar-right