extends _main.pug

block title
	| Entermeme - New Meme

block content
	+upload-modal
	+header
	
	section.page
		+sidebar-left
		.container
			.row
				.col-12
					a.back-link(href='index.html') <- Back to homepage
			.row
				.col-12
					.page-title.mb-3
						h1 Upload your meme
						
			.row
				.col-12
					.card.mb-2
						.card-body
							.row
								.col-lg-9
									.upload-drop-section.my-0.hidden-xs(data-toggle='modal', data-target='#uploadModal' href='#0')
										+icon-upload
										.mt-2.text-muted Upload Your Existing Meme
										a.fw-600(href='#') Click to Upload
									// Mobile Upload
									.custom-file.d-md-none
										input#customFile.custom-file-input(type='file')
										label.custom-file-label(for='customFile') Select file to upload
								.col-lg-3
									.row.text-md.flex-lg-column.mt-2.mt-lg-0
										.col-6.col-lg-12.py-1 🔞 No nudity
										.col-6.col-lg-12.py-1 🚫 No profanity
										.col-6.col-lg-12.py-1 💢 No violence
										.col-6.col-lg-12.py-1 🚯 No hateful content
									
			
			.row
				.col-12
					.divider
						span OR
			
			.row
				.col-12
					.page-title.mb-3
						h1 Choose a Template - Create New Meme
			.row
				.col-12
					.card.mb-5
						.card-header
							.template-filter
								.d-flex
									a.filter-link.active(href='#0') Hot
									a.filter-link(href='#0') All
									a.filter-link(href='#0') Custom
									a.filter-link(href='#0') New
								.template-search
									input.form-control.form-control-sm(type='text' placeholder='Search...')
						.card-body.px-3.py-1.border-top
							.template-grid
								+template-item-blank
								+template-item('img/template-01.jpg','Find the Difference')
								+template-item('img/template-02.jpg','Drake approves/disapproves')
								+template-item('img/template-03.jpg','CNN Breaking News')
								+template-item('img/template-04.jpg','Change my mind')
								+template-item('img/template-05.jpg','Drake approves/disapproves')
								+template-item('img/template-06.jpg','Drake approves/disapproves')
								+template-item('img/template-07.jpg','Drake approves/disapproves')
								+template-item('img/template-08.png','Lisa Simpson Presentation')
								+template-item('img/template-05.jpg','Drake approves/disapproves')
								+template-item('img/template-06.jpg','Drake approves/disapproves')
								+template-item('img/template-07.jpg','Drake approves/disapproves')
								+template-item('img/template-08.png','Lisa Simpson Presentation')
								
		+sidebar-right