extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+partner-modal
	
	.bg-white.py-5
		.d-flex.justify-content-center.align-items-center.p-5
			a.btn.btn-primary(href='#0' data-toggle="modal" data-target="#partnerModal") Open Demo Modal

		hr
		
		.container
			.row.justify-content-center.py-5
				.col-md-5
				
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
						p.partner-cta-description Post your meme at 
							a(href='https://entermeme.com' target='_blank') entermeme.com  
							|   and 
							br
							strong WIN DAILY COOL PRIZES!
						.partner-cta-prize
							img.partner-cta-prize-img(src='img/amazon-gift.png' alt='Win $5 Amazon Digital Giftcard')
							.partner-cta-prize-heading TODAY'S PRIZE
							.partner-cta-prize-text $5 Amazon Digital Giftcard

						a.partner-cta-btn(href='#0') Post Now and earn your first 5 points!
					// end Partner CTA 
					
					.py-3
					
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
							
						.partner-cta-prize-heading We pay for memes!
						.partner-cta-prize-text.mb-4 
							strong Post your meme  
							|  on  
							a(href='https://entermeme.com' target='_blank') entermeme.com 
							|  and get paid!
						
						.partner-cta-prize-heading Too shy to post memes?
						.partner-cta-prize-text.mb-4 You can earn points by 
							strong sharing, voting and commenting.
						
						a.partner-cta-btn(href='#0') Learn more...
					// end Partner CTA 
					
					.py-3
					
					.partner-cta
						img(src='img/making_money_from_memes.jpg' alt='We pay for memes')
						.partner-cta-coin
							img(src='img/coin.png' width='56')
						.my-2
						h4.partner-cta-prize-heading We pay for memes!
						
						p Just post your meme and get paid!
						
						a.partner-cta-btn(href='#0') Start Making Money
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
					
					.py-3
					
					.partner-cta
						.partner-cta-meme-text Sell Me this Meme!
						img(src='img/sell-me-meme.png' alt='We pay for memes')
						.partner-cta-coin
							img(src='img/coin.png' width='56')
						.my-2
						h4.partner-cta-prize-heading We pay memes authors!
						
						p Just post your first meme...
						
						h5 Too shy to post?
						p Earn money by sharing, commenting and voting memes. 
							
						
						a.partner-cta-btn(href='#0') Start Earning with Entermeme
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
							
					
					.py-3
					
					.partner-cta
						img(src='img/distracted-boyfriend.png' alt='We pay for memes')
						.partner-cta-coin
							img(src='img/coin.png' width='56')
						.my-2
						h4.partner-cta-prize-heading We pay for memes!
						
						p Just post your meme and get paid!
						
						a.partner-cta-btn(href='#0') Learn more...
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
						
					
					.py-3
					
					.partner-cta
						
						img(src='img/family-friendly.jpg' alt='We pay for memes' width='200')
						h4.mt-3
							strong What Lannisters have common with Entermeme?
						p we pay for our debts
							br
							| and we are family friendly :)
						.my-3
						a.partner-cta-btn(href='#0') Browse who won money and start earning too.
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')