extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+login-modal('Please Log In to continue')
	+register-modal('Create Entermeme Account')
	+rules-modal
	+header
	section.page
		+sidebar-left
		.content.content-narrow
			
			a.back-link(href='index.html') <- Back to homepage
			
			.card.content-box
				.card-header
					h4.mt-2.mb-0 Create Account
				.content-box-body.border-top
					.user-form
						+signup-form
				.content-box-footer.justify-content-center
					.text-center.text-md Already registered?  
						a.fw-600(href='login.html') Log In
				
			
		+sidebar-right