extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='my-page.html') <- Back
			// Edit Profile
			.meme-feed.pt-0
				
				.card
					.card-header.text-center
						h4.mb-1.mt-2 Become a Pro User
					.card-body.border-top
						.text-center
							.pro-user-cta
								.user-avatar
									img.user-pro(src='img/user_01.png')
									.badge.badge-pro
										span ⍟
										| &nbsp;
										| PRO
							
							ul.list-unstyled.text-md
								li 
									| 🔇
									| No ads
								li 
									| 🎫 
									| Access to daily contests
								li
									| 🎙 
									| Participate in our livestreams
								li
									| ❤️  
									| Support development
							
							hr
						
						.form-row.justify-content-center
							.col-12
								h6 SELECT YOUR PLAN
							.col-12.col-xl-6
								.choice-item
									input#choice01(type='radio' name='subscriptionType')
									label(for='choice01')
										.mb-2
											h5.mb-1 Yearly
											.text-xs.text-muted 250 boosts per year
										.border-top.pt-3
											span.lead $49.99/year 
											span.badge.badge-danger 2 months free
							.col-12.col-xl-6
								.choice-item
									input#choice02(type='radio' name='subscriptionType')
									label(for='choice02')
										.mb-2
											h5.mb-1 Monthly
											.text-xs.text-muted 15 boosts per month
										.border-top.pt-3
											span.lead $4.99/month
							
							.col-12
								.divider.mt-2
									span or
							
							.col-12
								h6 TOP-UP YOUR BOOSTS
							.col-12.col-xl-6
								.choice-item
									input#choice03(type='radio' name='subscriptionType')
									label(for='choice03')
										.mb-2
											h5.mb-1 10 Boosts
											.text-xs.text-muted One-time purchase
										.border-top.pt-3
											span.lead $4.99
											
					
				.card

					.card-header
						h4.card-title.mb-0.mt-2 Payment Method
					.card-body.border-top
						
						.form-row
							.col-10.col-lg-11
								.choice-item
									input#card01(type='radio' name='paymentType')
									label(for='card01')
										dl.mb-0
											dt VISA 
											dl.text-xs.mb-0 Ending *4920, expiring 02/24
											
							.col-2.col-lg-1.text-center
								a.text-danger(href='#0' data-toggle="tooltip" data-placement="top" title="Delete Card")
									i.bx.bx-trash
						
						.form-row
							.col-10.col-lg-11
								.choice-item
									input#card02(type='radio' name='paymentType')
									label(for='card02')
										dl.mb-0
											dt MasterCard 
											dl.text-xs.mb-0 Ending *4920, expiring 02/24
							.col-2.col-lg-1.text-center
								a.text-danger(href='#0' data-toggle="tooltip" data-placement="top" title="Delete Card")
									i.bx.bx-trash
						.form-row
							.col-12.col-lg-11
								p
									a.btn.btn-outline-primary.btn-sm(data-toggle='collapse' href='#newCard' role='button' aria-expanded='false' aria-controls='newCard')
										| Add New Payment Method
								#newCard.collapse
									.border.rounded.pt-3.px-3.pb-2
										.form-group
											label(for='cardholderName') Cardholder Name
											input.form-control#cardholderName(type='text' placeholder='Name on Card')

										.form-group
											label(for='cardDetails') Card Details
											input.form-control#cardDetails(type='text' placeholder='Card Number')
										.form-group.form-check
											input#exampleCheck1.form-check-input(type='checkbox')
											label.form-check-label(for='exampleCheck1') Save card for future payments
						
						.divider
							span or Pay With
						
						.d-flex.py-3.justify-content-center
							.p-2
								a(href='#0')
									img(src='img/icons/apple-pay.svg' alt='Apple Pay' height='40')
									
							.p-2
								a(href='#0')
									img(src='img/icons/google-pay.svg' alt='Google Pay' height='40')
							
							.p-2
								a.venmo-btn(href='#0')
									+icon-venmo
									span Venmo
								
									
					.card-footer.border-top.py-3
						button.btn.btn-primary.btn-block.btn-lg Complete Payment
					
			// -- end Edit Profile
				
			
		+sidebar-right