button, a {
	outline:  none !important;
}

a.text-dark {
	&:hover {
		color: $blue;
	}
}

a.btn-xs {
	font-size: 0.75rem;
	display: inline-block;
	border-radius: 4px;
	color: $blue;
	background: #fff;
	font-weight: 500;
	padding: 4px 8px;
	cursor: pointer;
	&:hover {
		background: $gray-200;
		color: $dark;
	}
}