// Main Content CSS

.content-widget {
	border-radius: 1rem;
	background: linear-gradient(0deg, rgba(28, 96, 179, 0.92), rgba(28, 96, 179, 0.92)), url(../img/winner-widget-bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
	margin-top: 1rem;
	@media only screen and (min-width:741px) {
		display: none;
	}
}



.content-widget-body {
	display: flex;
	justify-content: flex-start;
	padding: 1rem;
	.content-widget-legend {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 1rem;
		h4 {
			font-size: 0.75rem;
			font-weight: 600;
			text-transform: uppercase;
		}
		.winner-name {
			color: #fff;
			background: rgba(0,0,0,0.2);
			border-radius: 10px 10px 10px 2px;
			font-size: 11px;
			line-height: 1rem;
			font-weight: 600;
			padding: 1px 8px;
			margin-bottom: 2px;
			margin-top: auto;
			width: auto;
		}
		.badge {
			border-radius: 2px 10px 10px 10px !important;
			margin: 0;
		}
	}
	img {
		max-width: 100%;
	}
	.content-widget-body-winner {
		width: 4rem;
		height: 4rem;
		border-radius: 1rem 1rem 4px 1rem;	
	}
	.content-widget-body-prize {
		width: 3rem;
		height: 3rem;
		border-radius: 0.75rem 0.75rem 0.75rem 4px;
		margin-left: 4px;
		margin-top: auto;
	}
}

.content-widget-footer {
	display: flex;
	background: #fff;
	border-radius: 0 0 1rem 1rem;
	overflow: hidden;
	a {
		display: block;
		flex-grow: 1;
		flex-basis: 0;
		text-align: center;
		padding: 11px 4px;
		font-size: 0.75rem;
		text-transform: uppercase;
		font-weight: 600;
		&:not(:last-child) {
			border-right: 1px solid $gray-200;
		}
	}
}

// Meme Feed

.meme-feed {
	padding: 1rem 0;
	margin: auto;
	@media (min-width:740px) and (max-width:991px) {
		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@media only screen and (min-width:992px) {	
		padding: 1.5rem;
		max-width: 740px;
	}
}



// Meme Card

.meme-card {
	background: #fff;
	box-shadow: 0 1px 2px -1px rgba(0,0,0,0.10), 0 2px 8px -2px rgba(0,0,0,0.10);
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	@media only screen and (min-width:740px) {
		margin-bottom: 1rem;
	}
}

.meme-card-body {
	img {
		width: 100%;
	}
}

.meme-card-header {
	display: flex;
	padding: 0.5rem 0.5rem 0.5rem 0.75rem;
	align-items: center;
	border-bottom: 1px solid $gray-200;
	width: 100%;
	.meme-card-title {
		font-size: 1rem;
		line-height: 1.5rem;
		margin: 0;
		font-weight: 600;
		padding-right: 0.25rem;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
			text-overflow: ellipsis;
		a {
			color: $gray-900;
			&:hover {
				color: $blue;
			}
		}
	}
	@media only screen and (min-width:992px) {
		padding: 1rem 1rem 0.75rem 1.25rem;
		flex-wrap: nowrap;
		.meme-card-title {
			font-size: 1.25rem;
			line-height: 1.25;
		}
		
	}
	.meme-card-author {
		margin-left: auto;
	}
}

.meme-card-author {
	align-items: flex-end;
	border-radius: 1rem;
	font-size: 0.75rem;
	display: flex;
	justify-content: flex-start;
	position: relative;
	.meme-avatar {
		order: 2;
		width: 2rem;
		height: 2rem;
		border-radius: 12px 12px 12px 4px;
	}
	.badge {
		border-radius: 10px 10px 4px 10px !important;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		height: 16px !important;
	}
	.name-value {
		display: none;
	}
	.meme-card-name {
		order: 1;
		margin-right: 0.25rem;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		font-weight: 500;
		font-size: 12px;
	}
	@media only screen and (min-width: 1200px) {
		.meme-avatar {
			width: 2.25rem;
			height: 2.25rem;
		}
		.name-value {
			display: block;
		}
	}
}


.meme-card-legend {
	padding: 0.5rem 1rem;
	display: flex;
	width: 100%;
	align-items: center;
	border-bottom: 1px solid $gray-200;
	justify-content: space-between;
	.ui-icon g {
		fill: $gray-500;
	}
	@media only screen and (min-width:992px) {
		padding-bottom: 1rem;
	}
}



/* Meme Card Footer and Controls */

.meme-card-footer {
	display: block;
	padding: 0.75rem;
	@media only screen and (min-width:992px) {
		padding: 1rem 1.25rem 1rem;
	}
	.btn-stack-label {
		display: flex;
		align-items: center;
		font-size: 0.75rem;
		text-transform: uppercase;
		color: $gray-600;
		margin-bottom: 0.25rem;
		font-weight: 600;
		justify-content: flex-start;
		.badge {
			margin-left: 0.25rem;
		}
	}
	.vote-btn-stack {
		.btn-stack-label {
			justify-content: flex-end;
		}
	}
}

.vote-btn-stack {
	text-align: right;
	display: block;
	margin-top: 0;
	justify-content: flex-end;
	width: auto;
}

.share-btn-group {
	display: flex;
	.btn {
		margin-right: 2px;
		border-radius: 1rem;
		padding: 6px !important;
		height: 36px;
		width: 36px;
		flex: 0 0 36px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.vote-btn-group {
	display: flex;
	justify-content: flex-end;
	.btn {
		margin-left: 2px;
		border-radius: 1rem;
		padding: 6px 1.5rem;
		width: 56px;
		height: 36px;
		flex: 0 0 56px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			margin-top: -4px;
		}
		&.btn-success {
			background: linear-gradient(180deg, #27AB83 0%, #16946D 100%);
			&:hover {
				box-shadow: 0px 0px 0px 4px rgba(39,171,131,0.5)
			}
		}
		&.btn-danger {
			background: linear-gradient(180deg, #EF4E4E 0%, #CA2F2F 100%);
			&:hover {
				box-shadow: 0px 0px 0px 4px rgba(239,78,78,0.5)
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.vote-btn-group {
		.btn {
			padding: 6px 0.5rem;
			width: 40px;
		}
	}
}

.share-btn-stack {
	@media only screen and (min-width:1200px) { 
		.btn-stack-label {
			justify-content: flex-start;
		}
	}
}

.meme-card-controls {
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
	.badge-gold {
		border-radius: 10px 10px 10px 4px !important;
	}
	.share-btn-stack, .vote-btn-stack {
		.btn-group {
			width: 100%;
		}
	}
}



.vote-counter {
	display: flex;
	align-items: flex-start;
	span.votes {
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 500;
		background: $gray-200;
		border-radius: 1rem 1rem 0.25rem 1rem;
		padding: 0.25rem 0.5rem;
		margin-right: 0.25rem;
		@media only screen and (min-width:992px) {
			font-size: 1.125rem;
			line-height: 1.5rem;
			margin-right: 0.5rem;
		}
	}
}

.meme-card-tagline {
	border-top: 1px solid $gray-200;
	padding: 0.75rem 2.5rem 0 0;
	position: relative;
	margin-top: 1rem;
	.report-btn {
		position: absolute;
		right: 0;
		top: 0.75rem;
	}
	.meme-card-btns {
		position: absolute;
		right: 0;
		top: 0.75rem;
	}
}

.report-btn {
	display: flex;
	padding: 0.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	.ui-icon g {
		fill: $gray-500;
	}
	&:hover {
		background: $red;
		.ui-icon g {
			fill: white;
		}
	}
}

.meme-tag {
	display: inline-block;
	padding: 4px 8px;
	color: $gray-600;
	font-size: 0.75rem;
	border-radius: 4px;
	&:hover {
		background: $gray-100;
	}
	&.meme-category {
		background: $blue-light;
		color: $blue-dark;
		font-weight: 600;
		&:hover {
			background: $blue;
			color: #fff;
		}
	}
}

@media only screen and (min-width: 992px) {
	.vote-btn-stack {
		.btn {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}
	.share-btn-stack {
		.btn {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}
	}
}


/* Share Buttons */

.btn-fb {
	background: #4267B2;
	&:hover {
		background: darken(#4267B2, 10%);
	}
	&.btn-active {
		background: darken(#4267B2, 30%);
	}
}
.btn-pn {
	background: #BD081C;
	&:hover {
		background: darken(#BD081C, 10%);
	}
	&.btn-active {
		background: darken(#BD081C, 30%);
	}
}
.btn-tw {
	background: #69ACE0;
	&:hover {
		background: darken(#69ACE0, 10%);
	}
	&.btn-active {
		background: darken(#69ACE0, 30%);
	}
}
.btn-ln {
	background: #0177B5;
	&:hover {
		background: darken(#0177B5, 10%)
	}
	&.btn-active {
		background: darken(#0177B5, 30%);
	}
}
.btn-wh {
	background: #24D366;
	&:hover {
		background: darken(#24D366, 10%);
	}
	&.btn-active {
		background: darken(#24D366, 30%);
	}
}
.btn-gl {
	background: #DC4437;
	&:hover {
		background: darken(#DC4437, 10%);
	}
	&.btn-active {
		background: darken(#DC4437, 30%);
	}
}
.btn-url {
	background: $gray-700;
	&:hover {
		background: $gray-800;
	}
	&.btn-active {
		background: gray-900;
	}
}

.btn-active {
	position: relative;
	transition: all 0.2s ease-in;
	border: none;
	svg {
		opacity: 0.2;
	}
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 13px;
		height: 8px;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
		margin-top: -6px;
		margin-left: -6px;
	}
}

.btn-success.btn-active {
	background: darken($green, 20%);
	border: none;
}

.btn-danger.btn-active {
	background: darken($red, 30%);
	border: none;
}


// Meme Coin Animation

.coin {
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1rem;
	display: flex;
	font-weight: 700;
	justify-content: center;
	border-radius: 3rem;
	position: relative;
	text-align: center;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	&::before {
		border: 2px solid rgba(0,0,0,0.1);
		position: absolute;
		border-radius: 3rem;
		content: '';
		display: block;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0; 
	}
	&::after {
		background-image: radial-gradient(
			circle,
			#FFFFFF,
			#FFD138,
			#F8A910
		);
		content: '';
		position: absolute;
		width: 100%;
		height: 250%;
		top: -150%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	span {
		color: #7D5F0C;
		display: block;
		text-shadow: 0 1px 2px rgba(0,0,0,0.24);
	}
}

@keyframes coin-up {
  0%   	{ opacity: 0; transform: translateY(0);}
	25% 	{ opacity: 1; transform: translateY(-100%);}
	60% 	{ opacity: 1; transform: translateY(-100%);}
  100% 	{ opacity: 0; transform: translateY(-100%);}
}

@keyframes coin-spin {
	0%		{ transform: rotateY(0deg); }
	33%	{ transform: rotateY(720deg); }
	100%	{ transform: rotateY(720deg); }
}

.coin-up {
	opacity: 0;
	animation: 
		coin-up 2s;
	.coin {
		animation: 
			coin-spin 2s;
	}
}


/* Log In / Sign Up Forms */

.sso-login {
	display: flex;
	align-items: center;
	margin: 0;
	flex-wrap: wrap;
	a.btn {
		display: block;
		flex: 0 0 100%;
		margin: 0.25rem 0;
	}
	@media only screen and (min-width: 767px) {
		a.btn {
			flex: 1 1 0;
			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}
}

.user-form {
	max-width: 480px;
	margin: auto;
}


/* Content Box */

.meme-card-alert {
	padding: 0.25rem;
	border-bottom: 1px solid $gray-200;
	.alert {
		margin-bottom: 0;
		border-radius: 2px;
	}
}

a.back-link {
	color: $gray-600;
	text-align: center;
	padding: 0.5rem 1rem;
	display: block;
	margin: 0.25rem auto;
	font-size: 0.75rem;
	border-radius: 1rem;
	&:hover {
		background: $gray-200;
		color: $gray-900;
	}
	@media only screen and (min-width:740px) {
		border-radius: 0.5rem;
		margin: 0.5rem auto;
		font-size: 0.875rem;
	}
}

.content {
	padding: 0 0.5rem;
	@media only screen and (min-width:740px) {
		padding: 0 1rem 2rem;
	}
}

.content.content-narrow {
	.content-box, a.back-link {
		max-width: 720px;
	}
}
.content-box {
	border-radius: 0;
	margin: auto;
	@media only screen and (min-width:740px) {
		border-radius: 0.5rem;
	}
}

.content-box-header {
	background: $gray-100;
	border-radius: 0;
	padding: 1rem 1.25rem;
	h4 {
		margin-bottom: 0;
	}
	@media only screen and (min-width:768px) {
		border-radius: 0.5rem 0.5rem 0 0;
		padding: 1.25rem 1.5rem;
	}
}

.content-box-body {
	padding: 1.25rem;
	@media only screen and (min-width:767px) {
		padding: 1.25rem 1.5rem;
	}
}

.content-box-footer {
	border-top: 1px solid $gray-200;
	padding: 1.25rem;
	@media only screen and (min-width:767px) {
		padding: 1.5rem;
	}
}


/* Meme Upload */

.upload-rules {
	display: flex;
	justify-content: flex-start;
	background: $gray-100;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-bottom: 1.25rem;
	flex-wrap: wrap;
	font-size: 0.75rem;
	& > div {
		flex: 0 0 100%;
		flex-grow: 2;
		white-space: nowrap;
	}
	@media (min-width:480px) and (max-width:991px) {
		font-size: 0.875rem;
		padding: 1.25rem;
		& > div {
			flex: 0 0 50%;
		}
	}
	@media only screen and (min-width:992px) {
		justify-content: space-around;
		font-size: 1rem;
		padding: 1.5rem;
		& > div {
			flex: 0 0 50%;
		}
	}
}

.upload-form {
	max-width: 600px;
	margin: auto;
	.btn {
		font-size: 1.125rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}

.upload-drop-section {
	border: 1px dashed $gray-300;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	text-align: center;
	padding: 3rem 1.25rem;
	cursor: pointer;
	&:hover {
		border-color: $blue;
		background: $blue-lightest;
	}
}


/* Meme Details Page */

.comment-box {
	display: flex;
	width: 100%;
}

.comment-author {
	position: relative;
	width: 2.5rem;
	height: 2.5rem;
	flex: 0 0 2.5rem;
	margin-right: 1rem;
	&-image {
		img {
			max-width: 100%;
		}
	}
	&-reaction {
		background: #fff;
		padding-top: 5px;
		padding-left: 1px;
		width: 25px;
		height: 25px;
		position: absolute;
		display: block;
		border-radius: 2rem;
		text-align: center;
		right: -0.5rem;
		bottom: -0.5rem;
		span {
			display: block;
			line-height: 1;
		}
	}
}

form.comment-form, .comment-content {
	flex-grow: 2;
}

.comment-content {
	font-size: 0.875rem;
}

.comment-form {
	textarea {
		min-height: 4rem;
		resize: none;
		font-size: 0.875rem !important;
	}
	button {
		height: 34px;
		border-radius: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
	}
}

.comment-legend {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 0;
	font-size: 0.75rem;
	margin-top: -0.25rem;
}

.comment-author-name {
	display: flex;
	align-items: center;
	.badge {
		margin-left: 4px;
	}
}

.comment-footer {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	align-items: center;
}

.comment-body {
	padding-bottom: 0.5rem;
}

.comment-reaction-item {
	position: relative;
	&:not(:last-child) {
		margin-right: 0.5rem;
	}
	input {
		visibility: hidden;
		position: absolute;
	}
	label {
		display: block;
		border: 1px solid $gray-300;
		border-radius: 0.5rem;
		text-align: center;
		padding: 0.25rem 0.25rem 0.25rem 0.25rem;
		cursor: pointer;
		transition: all 0.1s ease;
		background: #fff;
		min-width: 34px;
	}
	input[type="radio"]:checked + label {
		border: 1px solid $blue;
		background: $gray-100;
	}

}

.card {
	border-radius: 1rem;
}

.meme-feed {
	.card {
		margin-bottom: 0.5rem;
	}
	@media only screen and (min-width:740px) {
		.card {
			margin-bottom: 1rem;
		}
	}
}

.comment-item {
	&:not(:last-child) {
		margin-bottom: 1.25rem;
	}
}

.child-comment {
	padding-left: 3rem;
	.comment-body {
		font-size: 0.75rem;	
	}
}

/* User Page */

.user-card {
	box-shadow: 0 1px 2px -1px rgba(0,0,0,0.10), 0 2px 8px -2px rgba(0,0,0,0.10);
	margin-bottom: 0.5rem;
	position: relative;
	.edit-link {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 2;
	}
	.avatar {
		max-width: 6rem;
		position: relative;
		margin: auto;
		img {
			width: 100%;
		}
		.badge-pro {
			position: absolute;
			right: -1.5rem;
			top: 0;
		}
	}
	@media only screen and (min-width:740px) {
		margin-bottom: 1rem;
	}
	.h4, h4 {
		
		a {
			color: $gray-900;
			&:hover {
				color: $blue;
			}
		}
	}
}

.user-stats-table {
	text-align: right;
	font-size: 0.875rem;
	margin-bottom: 0;
	th {
		text-align: left;
		font-weight: 600;
	}
	th, td, tr {
		vertical-align: middle;
	}
	th, td {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.meme-tag {
		margin-top: 1px;
		margin-bottom: 1px;
	}
}

/* Card UI */

.card, .modal {
	img {
		max-width: 100%;
	}
}

/* Meme comments */

.vote-control-tiny {
	display: flex;
	align-items: center;
	.tiny-btn-group {
		display: flex;
		.btn {
			display: flex;
			padding: 0;
			width: 1.25rem;
			height: 1.25rem;
			align-items: center;
			justify-content: center;
			border-radius: 2px;
			margin-right: 2px;
			&.btn-secondary {
				background: $gray-300;
				border-color: transparent;
				&:hover {
					background: $gray-400;
				}
			}
		}
		.btn-upvote {
			&.btn-pressed, &.btn-pressed:hover {
				background: $green;
				border-color: $green;
			}
			svg {
				margin-top: -4px;
			}
		}
		.btn-downvote {
			&.btn-pressed, &.btn-pressed:hover {
				background: $red;
				border: $red;
			}
			svg {
				margin-top: -2px;
			}
		}
	}
	span.votes {
		position: relative;
		font-size: 0.75rem;
	}
	svg {
		width: 8px;
		height: 8px;
	}
}

.comment-reply {
	padding: 0.5rem 0;
	position: relative;
	display: flex;
	textarea {
		resize: none;
	}
}

.reply-btn {
	position: relative;
	margin-left: auto;
	.open-span {
		display: none;
	}
	.close-span {
		display: block;
	}
	&.collapsed {
		.open-span {
			display: block;
		}
		.close-span {
			display: none;
		}
	}
}



// Author Medals



.meme-card-author {
	.meme-card-author-medals {
		position: absolute;
		right: 1.5rem;
		top: -0.75rem;
		height: 100%;
		.user-medal {
			position: absolute;
			top: 0;
			transition: all 0.1s ease-in-out;
			.medal-count {
				border: 1px solid #fff;
			}
			&:nth-child(1) {
				right: 0px;
				z-index: 5;
			}
			&:nth-child(2) {
				right: 12px;
				z-index: 4;
			}
			&:nth-child(3) {
				right: 24px;
				z-index: 3;
			}
			&:hover {    
				z-index: 4;
				transform: scale(1.25)
			}
		}
	}
}

@media only screen and (min-width:992px) {
	.meme-card-author {
		.meme-card-author-medals {
			right: 0.5rem;
			left: auto;
			bottom: 0;
			top: auto;
			height: 100%;
			.user-medal {
				position: absolute;
				bottom: 0;
				top: auto;
				transition: all 0.1s ease-in-out;
				&:nth-child(1) {
					left: 0px;
					right: auto;
					z-index: 5;
				}
				&:nth-child(2) {
					left: 10px;
					right: auto;
					z-index: 4;
				}
				&:nth-child(3) {
					left: 20px;
					right: auto;
					z-index: 3;
				}
				&:hover {
					z-index: 6;
					transform: scale(1.25);
					&::after, &::before {
						bottom: -8px;
					}
				}
			}
		}
	}
}

.achievements {
	display: flex;
	& > div:not(:first-child) {
		margin-left: 0.5rem;
	}
}

.user-medal {
	position: relative;
	width: 22px;
	height: 22px;
	user-select: none;
	.medal-count {
		width: 100%;
		height: 100%;
		border-radius: 1rem;
		box-sizing: border-box;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 2px rgba(0, 0, 0, 0.3);
		font-weight: 700;
		font-size: 10px;
		line-height: 1rem;
		text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 2;
		padding: 1px;
		border: 1px solid #fff !important;
		z-index: 3;
		position: relative;
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			border-radius: 1rem;
			border: 1px solid rgba(0,0,0,0.2);
		}
	}
	&::after, &::before {
		position: absolute;
		content: '';
		display: block;
		bottom: -6px;
		border-bottom: 10px solid crimson;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		z-index: 2;
	}
	&::after {
		transform: rotate(140deg);
		left: 8px;
	}
	&::before {
		transform: rotate(-140deg);
		right: 8px;
	}
}

.medal-gold {
	.medal-count {
		background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
		color: #7D5308;
	}
	&::after, &::before {
	}
}

.medal-silver {
	.medal-count {
		background: linear-gradient(to bottom, #E2E7E9, #A3AAB9);
		color: #565656;	
	}
	&::after, &::before {
		border-bottom: 10px solid theme-color('primary');
	}
}

.medal-bronze {
	.medal-count {
		background: linear-gradient(to bottom, #DC9B23, #D0701C);
		color: #6B2806;	
	}
	&::after, &::before {
		border-bottom: 10px solid theme-color('warning');
	}
}


.leaderboard-toggler {
	display: flex;
	max-width: 800px;
	margin: 1rem auto 0;
	justify-content: center;
	align-items: center;
	&-text {
		text-transform: uppercase;
		font-size: 0.75rem;
		margin-left: 1rem;
		font-weight: 500;
	}
}

.medal-stack {
	display: flex;
	.user-medal {
		&:nth-child(1) {
			margin-top: 0.5rem;
		}
		&:nth-child(3) {
			margin-top: 0.75rem;
			margin-left: -1px;
		}
	}
}

@media only screen and (min-width: 740px) {
	.leaderboard-toggler {
		display: none;
	}
}

.payment-method-item {
	border: 1px solid $gray-200;
	border-radius: 0.5rem;
	padding: 1rem 1.25rem 0;
	margin-bottom: 0.5rem;
}


.card .divider span {
	background: #fff;
}


.choice-item {
	width: 100%;
	position: relative;
	margin-bottom: 0.75rem;
	label {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: 1px solid $gray-200;
		border-radius: 0.5rem;
		padding: 1.25rem;
		display: block;
		margin: 0;
		cursor: pointer;
		&::after {
			content: '';
			display: block;
			width: 1.25rem;
			height: 1.25rem;
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}
	input {
		display: none;
	}
	input:focus + label, input:checked + label {
		border: 1px solid theme-color('success');
		background: rgba(theme-color('success'), 0.05);
		box-shadow: 0 0 0 4px rgba(theme-color('success'), 0.15);
	}
	input:checked + label {
		.choice-indicator {
			content: 'Selected';
			display: block;
		}
		&::after {
			content: '✅';
		}
	}
}


.pro-user-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	.user-avatar {
		display: flex;
		width: 8rem;
		height: 8rem;
		img {
			border-radius: 5rem;
		}
	}
}

.badge-pro {
	background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
	color: #7D5308;
	height: 1.125rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	display: flex;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
	width: auto;
	justify-content: center;
	span {
		font-size: 1rem;
	}
}

.user-avatar {
	position: relative;
	&.badge-pro {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.venmo-btn {
	background: #008cff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.75rem;
	height: 38px;
	border: 1px solid transparent;
	color: #fff;
	font-weight: 600;
	column-gap: 0.25rem;
	border-radius: 3px;
	svg {
		width: 1rem;
	}
	&:hover {
		background: #00d791;
		color: #fff;
	}
}

.scroll-x {
	display: block;
	overflow: hidden;
	height: 3rem;
	.nav.nav-scroll {
		flex-wrap: nowrap;
		li {
			white-space: nowrap;
		}
	}
}

.nav-scroll {
	overflow-x: scroll;
	height: 5rem;
	padding: 0.25rem 0.5rem;
	.nav-link {
		background: $gray-300;
		border-radius: 3rem;
		font-size: 0.875rem;
		user-select: none;
		margin-left: 2px;
		margin-right: 2px;
		&.active {
		}
	}
}