
body {
	background: $gray-300;
	position: relative;
}

.screen-overlay {
  width:0%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
	right: 0;
	bottom: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
	transition:opacity .5s ease, width 0s;
	opacity:1;
	width:100%;
	visibility:visible;
}


.page {
	display: block;
	min-height: 100vh;
	padding-top: 3.5rem;
	position: relative;
	width: 100%;
	@media screen and (min-width: 1200px) {
		padding-top: 4.5rem;
	}
}