/* Modal Content CSS */

.modal-header {
	background: $gray-100;
	padding-bottom: 0.5rem;
	
}

.modal-title {
	font-size: 1rem;
	@media only screen and (min-width: 992px) {
		font-size: 1.25rem;
	}
}

.modal-footer {
	border-top: 1px solid $gray-200;
	padding: 0.75rem 1.25rem;
}




.modal {
	.comment-box {
		margin: 1.25rem 0;
	}
}





.partner-cta {
	background: #EEF6FF;
	border: 1px solid #2184FE;
	border-radius: 8px;
	padding: 24px 16px 16px;
	text-align: center;
	&-btn {
		background: #2184FE;
		background-image: linear-gradient(
			to right,
			rgb(28, 137, 210),
			rgb(12, 81, 166)
		);
		text-transform: capitalize;
		border-radius: 8px;
		color: #fff;
		display: block;
		font-weight: 500;
		padding: 12px;
		text-align: center;
		user-select: none;
		&:hover {
			background: darken(#2184FE, 10%);
			color: #fff;
			background-image: linear-gradient(
				to right,
				rgb(12, 81, 166),
				rgb(28, 137, 210)
			);
		}
	}
	&-logo {
		margin-bottom: 12px;
	}
	&-description {
		margin-bottom: 16px;
	}
	&-prize {
		margin-bottom: 16px;
	}
	&-prize-img {
		border-radius: 4px;
		margin-bottom: 8px;
		width: 88px;
	}
	&-prize-heading {
		color: #F51856;
		font-weight: 700;
		text-transform: uppercase;
	}
	&-meme-text {
		display: block;
		background: #000;
		font-size: 28px;
		font-weight: 500;
		color: #fff;
		padding: 10px;
	}
	img {
		max-width: 100%;
	}
	&-coin {
		margin-top: -28px;
	}
}


.modal.fade.show {
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}