/* Project Board */

.content-list {
	display: block;
	max-width: 940px;
	margin: auto;
	.card {
		margin-bottom: 0.5rem;
	}
	@media only screen and (min-width: 1200px) {
		padding-left: 2rem;
		padding-right: 2rem;
		.card {
			margin-bottom: 1rem;
		}
	}
}

.page-title {
	padding: 0rem 0 0.25rem;
	display: flex;
	align-items: center;
	h1 {
		font-size: 1.25rem;
		margin: 0;
	}
	@media only screen and (min-width: 768px) {
		padding: 1rem 0 0.5rem;
		margin-bottom: 0.5rem;
		h1 {
			font-size: 1.75rem;
		}
	}
}

.page-title-tabs {
	padding: 0rem 0 0.25rem;
	display: flex;
	align-items: center;
	.h1 {
		font-size: 1.25rem;
		margin: 0;
	}
	span:not(.active) {
		color: theme-color('primary');
		cursor: pointer;
	}
	@media only screen and (min-width: 768px) {
		padding: 1rem 0 0.5rem;
		margin-bottom: 0.5rem;
		.h1 {
			font-size: 1.75rem;
		}
	}
}

.project-card {
	font-size: 0.875rem;
	img {
		width: 100%;
		border-radius: 0.5rem;
	}
	.project-card-img {
		width: 100%;
		max-width: 10rem;
		margin: auto;
	}
	.card-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	h4 {
		font-size: 1rem;
	}
	a:not(.btn) {
		color: $gray-900;
		&:hover {
			color: $blue;
		}
	}
	@media only screen and (min-width: 768px) {
		h4 {
			font-size: 1.25rem;
		}
	}
}


ul.nav.nav-fill.page-controls {
	font-size: 0.875rem;
	margin-bottom: 1rem;
	background: $white;
	li.nav-item {
		.nav-link {
			user-select: none;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $gray-600;
			border: 1px solid transparent;
			border-radius: 0;
			&.active {
				color: $gray-900;
				background: $gray-100;
				border-bottom-color: $gray-800;
			}
		}
	}
}

.job-description-collapse {
	content: 'Read More';
	.show-on-collapse {
		display: none;
	}
	.hide-on-collapse {
		display: block;
	}
	&.collapsed {
		.show-on-collapse {
			display: block;
		}
		.hide-on-collapse {
			display: none;
		}
	}
}

.chat-file {
	display: inline-block;
	width: 8rem;
	cursor: pointer;
	.custom-file-label {
		background: $gray-100;
		text-align: center;
		&::after {
			display: none;
		}
	}
}

.filter-box {
	@media only screen and (max-width: 767px) {
		padding: 0;
	}
}