// Sidebar CSS 

a.readmore, .readmore {
	background: transparent;
	color: $blue;
	cursor: pointer;
	display: block;
	padding: 0.5rem;
	text-align: center;
	user-select: none;
	&:hover {
		background: $gray-100;
		color: $blue;
	}
}

.widget-title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 0.875rem 0 0.5rem;
	user-select: none;
}

.sidebar-footer {
	border-top: 1px solid $gray-200;
	padding: 1rem 0;
}

.sidebar-widget {
	margin-bottom: 0.5rem;
}

.nav-divider {
	display: block;
	border-top: 1px solid $gray-200;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.widget-prize {
	background: linear-gradient(269deg, #1C89D2 0%, #0C51A6 100%);
	display: block;
	width: 100%;
	font-size: 0.875rem;
	color: #fff;
	padding: 1rem;
	cursor: pointer;
	&:not(:last-child) {
		margin-bottom: 0.25rem;
	}
	&-img {
		flex: 0 0 5rem;
		border-radius: 0.5rem;
		border-radius: 0.25rem;
		height: 5rem;
		width: 5rem;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	& > h4 {
		font-size: 0.75rem;
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		text-align: center;
		display: block;
		flex: 0 0 100%;
	}
	&-legend {
		padding-left: 1rem;
		flex-grow: 2;
		h4 {
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}
	.widget-prize-name {
		line-height: 1.125rem;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	.widget-prize-date {
		margin-bottom: 4px;
		display: block;
	}
	@media only screen and (min-width: 1400px) {
		&-img {
			border-radius: 0.75rem;
		}
	}
}

.winner-widget {
	background: url(../img/winner-widget-bg.jpg) no-repeat;
	background-size: cover;
	padding: 1rem;
	position: relative;
	&::after {
		display: block;
		position: absolute;
		content: '';
		background: rgba(0,0,0,0.7);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
	.winner-state {
		background: #F51856;
		color: #fff;
		display: flex;
		flex: 0 0 3rem;
		height: 3rem;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 3rem;
		transform: rotate(-5deg);
		text-transform: uppercase;
		font-size: 0.875rem;
	}
	.winner-info {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -0.25rem;
	}
	.winner-user {
		align-items: center;
		display: flex;
		flex-direction: column;
		.badge {
			display: inline-block;
			margin-top: -0.25rem;
		}
		.winner-crown {
			margin-bottom: -4px;
		}
	}
	img {
		width: 100%;
	}
	.winner-avatar {
		border: 2px solid #fff;
		border-radius: 2rem;
		height: 4rem;
		overflow: hidden;
		width: 4rem;
	}
	.winner-prize-img {
		border-radius: 0.25rem;
		height: 5rem;
		width: 5rem;
		overflow: hidden;
	}
	&-title {
		h4 {
			font-size: 0.75rem;
			position: relative;
			z-index: 2;
			text-transform: uppercase;
			text-align: center;
		}
	}
	.winner-name {
		color: #fff;
		font-size: 0.875rem;
		padding: 4px 0;
		font-weight: 500;
	}
	.winner-state {
		padding: 1px 2px;
		font-weight: 600;
	}
	@media only screen and (min-width: 1400px) {
		.winner-prize-img {
			flex: 0 0 7rem;
			height: 7rem;
			border-radius: 0.75rem;
		}
		.winner-state {
			flex: 0 0 5rem;
			height: 5rem;
			font-size: 0.875rem;
		}
	}
}

.leaderboard-table {
	padding-bottom: 3rem;
	.order-number {
		background: $gray-200;
		border-radius:1rem;
		font-size: 0.6125rem;
		font-weight: 600;
		margin-right: 0.5rem;
		padding: 3px 2px;
		text-align: center;
		min-width: 1.5rem;
		margin-left: 0.25rem;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.05);
	}
	&-item {
		align-items: center;
		border-bottom: 1px solid $gray-200;
		display: flex;
		padding: 0.5rem 1.25rem 0.5rem 0;
		width: 100%;
		&.bg-primary {
			.order-number {
				background: rgba(255,255,255,0.2);
			}
		}
		&:hover {
			background: $gray-100;
		}
		&:nth-child(2), &:nth-child(3) {
			background: rgba(theme-color('info'), 10%);
			.order-number {
				background: theme-color('info');
				color: #fff;
				border: 1px solid rgba(255,255,255,1);
			}
			.user-legend {
				.user-legend-name {
					font-size: 0.875rem;
				}
			}
		}
	}
	.user-legend {
		margin-left: 0.75rem;
		.user-legend-name {
			font-size: 0.75rem;
			font-weight: 500;
		}
	}
}

.leaderboard-top {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $gray-200;
}


.leaderboard-user {
	display: flex;
	width: 10rem;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	.badge.badge-gold {
		padding: 2px 4px !important;
		height: 20px !important;
	}
	.leaderboard-user-avatar {
		width: 5rem;
		display: block;
		border-radius: 10rem;
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);
		img {
			width: 100%;
			display: block;
		}
	}
	.leaderboard-user-name {
		display: block;
		font-size: 0.75rem;
		font-weight: 600;
		margin-bottom: 0.25rem;
	}
	.leaderboard-user-position {
		font-size: 1rem;
		border: 2px solid #fff;
		box-shadow: 0 2px 6px rgba(0,0,0,0.2);
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 4rem;
		margin-top: -1rem;
		z-index: 3;
		padding: 0.125rem;
		span {
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			border: 2px solid rgba(0,0,0,0.1);
			border-radius: 2rem;
			text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
		}
	}
	&:nth-child(1) {
		.leaderboard-user-avatar {
			width: 6rem;
			padding: 0.25rem;
			background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
		}
		.leaderboard-user-position {
			background: linear-gradient(to bottom, #FFDC3A, #E8AE40);
			color: #7D5308;
		}
	}
	&:nth-child(2) {
		margin-left: 0;
		margin-right: auto;
		margin-top: -1rem;
		.leaderboard-user-avatar {
			width: 4.5rem;
			padding: 0.25rem;
			background: linear-gradient(to bottom, #E2E7E9, #A3AAB9);
		}
		.leaderboard-user-position {
			background: linear-gradient(to bottom, #E2E7E9, #A3AAB9);
			color: #565656;
		}
	}
	&:nth-child(3) {
		margin-right: 0;
		margin-left: auto;
		margin-top: -9.7025rem;
		.leaderboard-user-avatar {
			width: 4.5rem;
			padding: 0.25rem;
			background: linear-gradient(to bottom, #DC9B23, #D0701C);
		}
		.leaderboard-user-position {
			background: linear-gradient(to bottom, #DC9B23, #D0701C);
			color: #6B2806;	
		}
	}
}

.leaderboard-user-status {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 10px;
	margin-top: 4px;
	color: theme-color('danger');
}



@media only screen and (min-width: 992px) {
	.leaderboard-user {
		&:nth-child(2) {
			margin-top: -4rem;
		}
		&:nth-child(3) {
			margin-top: -9.65rem;
		}
	}
}

.user-legend-achievements {
	align-items: center;
	display: flex;
	span {
		display: block;
		margin-right: 4px;
		line-height: 1;
	}
	img, svg {
		height: 1rem;
		width: 1rem;
	}
}

.contest-rules {
	list-style-type: none;
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	font-size: 0.875rem;
	line-height: 1.25rem;
	border-top: 1px solid $gray-200;
	li {
		display: flex;
		align-items: center;
		padding: 0.75rem 1rem;
		border-bottom: 1px solid $gray-200;
		.badge {
			margin-left: auto;
		}
	}
	.text-emoji {
		display: block;
		text-align: center;
		width: 1rem;
		margin-right: 1rem;
	}
}


.sidebar-right  {
	background: #fff;
	width: 280px;
	height: 100vh;
	padding: 0;
	.readmore {
		font-size: 0.875rem;
	}
}

.sidebar-left {
	background: #fff;
	padding: 0;
	width: 240px;
	top: 0;
	overflow: hidden;
	padding-top: 1.5rem;
}

.nav.site-nav {
	padding-top: 2px; 
	.nav-link {
		border-right: 1px solid transparent;
		color: $gray-600;
		padding: 0.5rem 1.25rem 0.5rem;
		.text-emoji {
			margin-right: 1.25rem;
		}
		&:hover {
			background: $blue;
			color: #fff;
		}
		&.active {
			background: $gray-100;
			border-color: $gray-900;
			color: $gray-900;
			font-weight: 700;
		}
	}
}

.nav-section-title {
	font-size: 0.75rem;
	font-weight: 600;
	margin-top: 0.5rem;
	padding: 1rem 1.25rem 0.5rem;
	text-transform: uppercase;
}

.sidebar-inner {
	margin-right: -1rem;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	pointer-events: all;
	padding-right: 1px;
}


// Sidebar Positioining

.mobile-offcanvas {
	display:block;
	position: fixed;
	top: 0;
	z-index: 999;
	height: 100%;
	height: 100vh;
	overflow: hidden;
	transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	visibility: hidden;
	&.sidebar-left {
		left: 0;
		transform:translateX(-100%);
	}
	&.sidebar-right {
		right: 0;
		transform:translateX(100%);
	}
	&.show {
		visibility: visible;
		transform: translateX(0);
	}
}

// Responsive tweaks //



@media only screen and (min-width: 740px) {
	// Show Right Sidebar
	.page {
		padding-right: 280px;
	}
	.mobile-offcanvas {
		&.sidebar-right {
			visibility: visible;
			transform: translateX(0);
			width: 280px;
			z-index: 2;
			padding-top: 3.5rem;
		}
	}
}

@media (min-width:961px) and (max-width: 1299px) {
	.page {
		padding-left: 180px;
	}
	.mobile-offcanvas {
		&.sidebar-left {
			font-size: 0.75rem;
			width: 180px;
			padding-top: 3.5rem;
		}
	}
	.nav.site-nav {
		padding-top: 2px; 
		.nav-link {
			.text-emoji {
				margin-right: 0.5rem;
			}
		}
	}
}

@media only screen and (min-width: 1300px) {
	.page {
		padding-left: 240px;
	}
	.mobile-offcanvas {
		&.sidebar-left {
			width: 240px;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.mobile-offcanvas {
		&.sidebar-left {
			padding-top: 4.5rem;
		}
		&.sidebar-right {
			padding-top: 4.5rem;
		}
	}
}

@media only screen and (min-width:961px) {
	.mobile-offcanvas {
		z-index: 4;
		&.sidebar-left {
			transform: translateX(0);
			visibility: visible;
			z-index: 4;
		}
	}
}

@media (min-width: 1400px) {
	.page {
		padding-right: 360px;
	}
	.mobile-offcanvas {
		padding-top: 4.5rem;
		&.sidebar-left {
		}
		&.sidebar-right {
			width: 360px;
		}
	}
}

.my-stats {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 5;
}


/* Referal Box */

.referral-box {
	background: #fff;
	padding: 0.75rem 1rem;
}


.theme-switcher {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 500;
	justify-content: center;
	.theme-light {
		display: none;
	}
	.theme-dark {
		display: flex;
	}
	a {
		background: $gray-200;
		border-radius: 2rem;
		display: flex;
		padding: 0.5rem;
		margin: 0 2px;
		align-items: center;
		color: $gray-600;
		width: 100%;
		justify-content: center;
		img {
			margin-right: 4px;
		}
		&:hover {
			background: $gray-300;
			color: $dark;
		}
	}
}
